node-red/einzelne_raetsel/an_aus.json
[{"id":"bae603800ee9059d","type":"tab","label":"An/Aus","disabled":false,"info":"","env":[]},{"id":"1db0bd6aaeb3d3ef","type":"group","z":"bae603800ee9059d","name":"Schaltet das Escape Game aus","style":{"stroke":"#92d04f","fill":"#e3f3d3","label":true,"color":"#000000"},"nodes":["c4b1c560e0b299a6","ef4cba4b75bfc726"],"env":[],"x":54,"y":79,"w":502,"h":82},{"id":"5243064885edc4b2","type":"group","z":"bae603800ee9059d","name":"Schaltet das Escape Game wieder ein","style":{"stroke":"#0070c0","fill":"#bfdbef","fill-opacity":"0.57","label":true,"color":"#000000"},"nodes":["d0f6c3e5a296eaca","127b59489b1c16b2"],"env":[],"x":54,"y":199,"w":492,"h":82},{"id":"c4b1c560e0b299a6","type":"inject","z":"bae603800ee9059d","g":"1db0bd6aaeb3d3ef","name":"Alles deaktivieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":120,"wires":[["ef4cba4b75bfc726"]]},{"id":"ef4cba4b75bfc726","type":"change","z":"bae603800ee9059d","g":"1db0bd6aaeb3d3ef","name":"","rules":[{"t":"set","p":"aktiv","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[[]]},{"id":"d0f6c3e5a296eaca","type":"inject","z":"bae603800ee9059d","g":"5243064885edc4b2","name":"Alles aktivieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":240,"wires":[["127b59489b1c16b2"]]},{"id":"127b59489b1c16b2","type":"change","z":"bae603800ee9059d","g":"5243064885edc4b2","name":"","rules":[{"t":"set","p":"aktiv","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[[]]}]