node-red/einzelne_raetsel/display.json
[{"id":"241d0b4bf21c1585","type":"tab","label":"Display","disabled":false,"info":"","env":[]},{"id":"6d4e7c4242c9f81d","type":"group","z":"241d0b4bf21c1585","name":"Achtung Nichts verändern!","style":{"stroke":"#ff0000","fill":"#ffbfbf","label":true,"color":"#000000","fill-opacity":"0.67"},"nodes":["20853c7f1ef20977","4aad80d133e4af1b","fcdbd62115561755","948c03bdcc54cdbe","9698b0e4835e2747","78f681c23ef5b8fe","9a797f184079e353","f133c7c96073ae2f","9dd149672d4e05eb","3f7f508aac4cbabf","56c261c951dcf687","ec3c723e7f7ca38d","819e3753b169872b","1ed8806043b58285","4b616f4bb157d86c","cad92d079ab94330","e6381506443fd05a","0cdd30842d000b19","a69a469ee33354cd","eda685816e80b393","37a834aa3a155fd5","3710a54ce312a6ac","226e1f8ff126a07d","5b558f42fca385c4","a1326cf418f4ce38","2e16259bd14befa9","1c39dd4ac4b8cf19","ab454889286c9cc3","a9254b29c58170fb","ce0f34f3baaa4c9a","70bb685b39cc1f8f","8fd1a090a21c98d9","22fefcf963eceee4","a813ba26c9e838ce","aa9cca23f9303ae4","77aef1b6028c9e53"],"env":[],"x":14,"y":19,"w":1202,"h":902},{"id":"20853c7f1ef20977","type":"rpi-gpio in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Grüner Knopf","pin":"29","intype":"up","debounce":"25","read":true,"x":110,"y":180,"wires":[["9698b0e4835e2747"]]},{"id":"4aad80d133e4af1b","type":"rpi-gpio in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Hellblauer Knopf","pin":"31","intype":"up","debounce":"25","read":true,"x":120,"y":380,"wires":[["78f681c23ef5b8fe"]]},{"id":"fcdbd62115561755","type":"rpi-gpio in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Roter Knopf","pin":"33","intype":"up","debounce":"25","read":true,"x":110,"y":560,"wires":[["9a797f184079e353"]]},{"id":"948c03bdcc54cdbe","type":"rpi-gpio in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Gelber Knopf","pin":"35","intype":"up","debounce":"25","read":true,"x":110,"y":840,"wires":[["f133c7c96073ae2f"]]},{"id":"9698b0e4835e2747","type":"switch","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["e6381506443fd05a","0cdd30842d000b19"]]},{"id":"78f681c23ef5b8fe","type":"switch","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":380,"wires":[["819e3753b169872b"]]},{"id":"9a797f184079e353","type":"switch","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":560,"wires":[["70bb685b39cc1f8f"]]},{"id":"f133c7c96073ae2f","type":"switch","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":840,"wires":[["2e16259bd14befa9","1c39dd4ac4b8cf19","ab454889286c9cc3"]]},{"id":"9dd149672d4e05eb","type":"link in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Kontakt entfernt","links":["9bcd6016f6709495","1529f05e1e16762e"],"x":440,"y":120,"wires":[["56c261c951dcf687"]],"l":true},{"id":"3f7f508aac4cbabf","type":"link out","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Reset Alles","mode":"link","links":["51ad72c981ee933a"],"x":650,"y":400,"wires":[],"l":true},{"id":"56c261c951dcf687","type":"pythonshell in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":660,"y":120,"wires":[[]]},{"id":"ec3c723e7f7ca38d","type":"comment","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Code für Buttons","info":"","x":120,"y":60,"wires":[]},{"id":"819e3753b169872b","type":"change","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["3f7f508aac4cbabf","eda685816e80b393"]]},{"id":"1ed8806043b58285","type":"link out","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Zustand laden","mode":"link","links":["bf8d031918773eb3","bfc968abc5f0a225","d93b922ef21c9baf"],"x":1100,"y":180,"wires":[],"l":true},{"id":"4b616f4bb157d86c","type":"change","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":180,"wires":[["1ed8806043b58285"]]},{"id":"cad92d079ab94330","type":"link out","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Skripte stoppen","mode":"link","links":["0c7454a26f4af936","289ae9274eefe569"],"x":660,"y":220,"wires":[],"l":true},{"id":"e6381506443fd05a","type":"change","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["cad92d079ab94330"]]},{"id":"0cdd30842d000b19","type":"delay","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":180,"wires":[["56c261c951dcf687","a69a469ee33354cd"]]},{"id":"a69a469ee33354cd","type":"delay","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":180,"wires":[["4b616f4bb157d86c"]]},{"id":"eda685816e80b393","type":"delay","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":360,"wires":[["3710a54ce312a6ac"]]},{"id":"37a834aa3a155fd5","type":"inject","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["e6381506443fd05a"]]},{"id":"3710a54ce312a6ac","type":"link out","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Überprüfen ob alle Geräte erreichbar sind","mode":"link","links":["037c441fd1ad8cd0"],"x":1020,"y":360,"wires":[],"l":true},{"id":"226e1f8ff126a07d","type":"comment","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Bildschirm neuladen","info":"","x":150,"y":120,"wires":[]},{"id":"5b558f42fca385c4","type":"comment","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Rätsel 1 neustarten","info":"","x":150,"y":320,"wires":[]},{"id":"a1326cf418f4ce38","type":"comment","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Node-RED wieder herstellen","info":"","x":180,"y":500,"wires":[]},{"id":"2e16259bd14befa9","type":"link out","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Reset alles","mode":"link","links":["d324897085d4a22d","0c7454a26f4af936","289ae9274eefe569","a0c04a0aba356ce7"],"x":450,"y":880,"wires":[],"l":true},{"id":"1c39dd4ac4b8cf19","type":"pythonshell in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":460,"y":840,"wires":[[]]},{"id":"ab454889286c9cc3","type":"change","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"stoppe das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":800,"wires":[[]]},{"id":"a9254b29c58170fb","type":"comment","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Bildschirm leeren","info":"","x":120,"y":780,"wires":[]},{"id":"ce0f34f3baaa4c9a","type":"inject","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Restore","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":190,"y":620,"wires":[["70bb685b39cc1f8f"]]},{"id":"70bb685b39cc1f8f","type":"exec","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","command":"bash /home/pi/escape-game/restore_game.sh","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"restore","x":420,"y":560,"wires":[["8fd1a090a21c98d9"],["22fefcf963eceee4"],[]]},{"id":"8fd1a090a21c98d9","type":"debug","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Ausgabe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":540,"wires":[]},{"id":"22fefcf963eceee4","type":"debug","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"Fehler","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"a813ba26c9e838ce","type":"http in","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","url":"/restore","method":"get","upload":false,"swaggerDoc":"","x":190,"y":660,"wires":[["70bb685b39cc1f8f","aa9cca23f9303ae4"]]},{"id":"aa9cca23f9303ae4","type":"template","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n    <head></head>\n    <body>\n        <h1>Das Node-RED des Escape Games wurde erfolgreich zurückgesetzt!</h1>\n    </body>\n</html>","output":"str","x":420,"y":660,"wires":[["77aef1b6028c9e53"]]},{"id":"77aef1b6028c9e53","type":"http response","z":"241d0b4bf21c1585","g":"6d4e7c4242c9f81d","name":"","statusCode":"","headers":{},"x":610,"y":660,"wires":[]}]