node-red/einzelne_raetsel/display.json
[{"id":"241d0b4bf21c1585","type":"tab","label":"Display","disabled":false,"info":"","env":[]},{"id":"20853c7f1ef20977","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 1","pin":"29","intype":"up","debounce":"25","read":true,"x":110,"y":180,"wires":[["9698b0e4835e2747"]]},{"id":"4aad80d133e4af1b","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 2","pin":"31","intype":"up","debounce":"25","read":true,"x":110,"y":380,"wires":[["78f681c23ef5b8fe"]]},{"id":"fcdbd62115561755","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 3","pin":"33","intype":"up","debounce":"25","read":true,"x":110,"y":560,"wires":[["9a797f184079e353"]]},{"id":"948c03bdcc54cdbe","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 4","pin":"35","intype":"up","debounce":"25","read":true,"x":110,"y":740,"wires":[["f133c7c96073ae2f"]]},{"id":"9698b0e4835e2747","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["e6381506443fd05a","0cdd30842d000b19"]]},{"id":"78f681c23ef5b8fe","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":380,"wires":[["819e3753b169872b"]]},{"id":"9a797f184079e353","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":560,"wires":[["801567a28d0b4e80"]]},{"id":"f133c7c96073ae2f","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":740,"wires":[["2e16259bd14befa9","1c39dd4ac4b8cf19","ab454889286c9cc3"]]},{"id":"9dd149672d4e05eb","type":"link in","z":"241d0b4bf21c1585","name":"Kontakt entfernt","links":["9bcd6016f6709495","1529f05e1e16762e"],"x":440,"y":120,"wires":[["56c261c951dcf687"]],"l":true},{"id":"3f7f508aac4cbabf","type":"link out","z":"241d0b4bf21c1585","name":"Reset Alles","mode":"link","links":["51ad72c981ee933a"],"x":650,"y":400,"wires":[],"l":true},{"id":"56c261c951dcf687","type":"pythonshell in","z":"241d0b4bf21c1585","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":660,"y":120,"wires":[[]]},{"id":"ec3c723e7f7ca38d","type":"comment","z":"241d0b4bf21c1585","name":"Code für Buttons","info":"","x":120,"y":60,"wires":[]},{"id":"819e3753b169872b","type":"change","z":"241d0b4bf21c1585","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["3f7f508aac4cbabf","eda685816e80b393"]]},{"id":"1ed8806043b58285","type":"link out","z":"241d0b4bf21c1585","name":"Zustand laden","mode":"link","links":["bf8d031918773eb3","bfc968abc5f0a225","d93b922ef21c9baf"],"x":1100,"y":180,"wires":[],"l":true},{"id":"4b616f4bb157d86c","type":"change","z":"241d0b4bf21c1585","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":180,"wires":[["1ed8806043b58285"]]},{"id":"cad92d079ab94330","type":"link out","z":"241d0b4bf21c1585","name":"Skripte stoppen","mode":"link","links":["0c7454a26f4af936","289ae9274eefe569"],"x":660,"y":220,"wires":[],"l":true},{"id":"e6381506443fd05a","type":"change","z":"241d0b4bf21c1585","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["cad92d079ab94330"]]},{"id":"0cdd30842d000b19","type":"delay","z":"241d0b4bf21c1585","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":180,"wires":[["56c261c951dcf687","a69a469ee33354cd"]]},{"id":"a69a469ee33354cd","type":"delay","z":"241d0b4bf21c1585","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":180,"wires":[["4b616f4bb157d86c"]]},{"id":"eda685816e80b393","type":"delay","z":"241d0b4bf21c1585","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":360,"wires":[["3710a54ce312a6ac"]]},{"id":"61bbb003ebdc6efd","type":"exec","z":"241d0b4bf21c1585","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1620,"y":540,"wires":[[],[],[]]},{"id":"37a834aa3a155fd5","type":"inject","z":"241d0b4bf21c1585","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["e6381506443fd05a"]]},{"id":"3710a54ce312a6ac","type":"link out","z":"241d0b4bf21c1585","name":"Überprüfen ob alle Geräte erreichbar sind","mode":"link","links":["037c441fd1ad8cd0"],"x":1020,"y":360,"wires":[],"l":true},{"id":"226e1f8ff126a07d","type":"comment","z":"241d0b4bf21c1585","name":"Bildschirm neuladen","info":"","x":150,"y":120,"wires":[]},{"id":"5b558f42fca385c4","type":"comment","z":"241d0b4bf21c1585","name":"Rätsel 1 neustarten","info":"","x":150,"y":320,"wires":[]},{"id":"a1326cf418f4ce38","type":"comment","z":"241d0b4bf21c1585","name":"QR code anzeigen","info":"","x":150,"y":500,"wires":[]},{"id":"801567a28d0b4e80","type":"exec","z":"241d0b4bf21c1585","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":450,"y":560,"wires":[["5e40c7ad24694634"],[],[]]},{"id":"5e40c7ad24694634","type":"function","z":"241d0b4bf21c1585","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":540,"wires":[["a158e47818fee7eb"]]},{"id":"a158e47818fee7eb","type":"Barcode Generator","z":"241d0b4bf21c1585","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":850,"y":540,"wires":[["8fb6fa2e081248be"]]},{"id":"8fb6fa2e081248be","type":"jimp-image","z":"241d0b4bf21c1585","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":1030,"y":540,"wires":[["29c0635f0ebf1b32"]]},{"id":"29c0635f0ebf1b32","type":"jimp-image","z":"241d0b4bf21c1585","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1200,"y":540,"wires":[["ea409a862f26e162"]]},{"id":"ea409a862f26e162","type":"jimp-image","z":"241d0b4bf21c1585","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1340,"y":540,"wires":[["7fb4d71dedd5a213"]]},{"id":"7fb4d71dedd5a213","type":"jimp-image","z":"241d0b4bf21c1585","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1480,"y":540,"wires":[["61bbb003ebdc6efd"]]},{"id":"2e16259bd14befa9","type":"link out","z":"241d0b4bf21c1585","name":"Reset alles","mode":"link","links":["d324897085d4a22d","0c7454a26f4af936","289ae9274eefe569","a0c04a0aba356ce7"],"x":470,"y":780,"wires":[],"l":true},{"id":"1c39dd4ac4b8cf19","type":"pythonshell in","z":"241d0b4bf21c1585","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":480,"y":740,"wires":[[]]},{"id":"ab454889286c9cc3","type":"change","z":"241d0b4bf21c1585","name":"stoppe das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[[]]}]