node-red/einzelne_raetsel/raetsel2.json
[{"id":"daacce7bff44f082","type":"tab","label":"Rätsel 2","disabled":false,"info":"","env":[]},{"id":"beea4497cb75a1e5","type":"switch","z":"daacce7bff44f082","name":"Kontakt hergestellt? ","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":240,"wires":[["4d834755c2e09ae8","fa944590ed567bd9","b419e55653482bc5","c16dc1585ff0eeb7","11d2fe5c8eb16e25"],["e82c72c0895a5a5c","0672b2682a9a088c","1529f05e1e16762e","5317323e40b2d2f8","291a7b7a1b9307ed"]]},{"id":"4d834755c2e09ae8","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Steckdose an","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":1070,"y":100,"wires":[]},{"id":"c27eac6a1e5b9580","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Steckdose aus","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":0,"x":1340,"y":600,"wires":[]},{"id":"fa944590ed567bd9","type":"change","z":"daacce7bff44f082","name":"starte das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":140,"wires":[[]]},{"id":"e82c72c0895a5a5c","type":"change","z":"daacce7bff44f082","name":"stoppe das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":480,"wires":[[]]},{"id":"23b22fb7de2d59ce","type":"zigbee2mqtt-in","z":"daacce7bff44f082","name":"1. Kontakt","server":"51d0b9cf.a79dd8","friendly_name":"sonoff_kontakt1","device_id":"0x00124b001fb87c52","state":"contact","outputAtStartup":true,"x":80,"y":180,"wires":[["b758944f95c0e033"]]},{"id":"11d2fe5c8eb16e25","type":"link out","z":"daacce7bff44f082","name":"Starte Morsespiel","mode":"link","links":["2b79e59a956dd6e2"],"x":1090,"y":280,"wires":[],"l":true},{"id":"790fac37d0c4accb","type":"link out","z":"daacce7bff44f082","name":"Reset alles","mode":"link","links":["b1e921fb191a5f30","6e70d890c6465586","b0f1db1b12e1b1ec","808b98f1b3f29078"],"x":1250,"y":400,"wires":[],"l":true},{"id":"48ca291ac9d0db16","type":"link in","z":"daacce7bff44f082","name":"Reset Knopf","links":["c877ac8531d63ba0","23bfa454fb1f2ba0"],"x":630,"y":420,"wires":[["e82c72c0895a5a5c","291a7b7a1b9307ed","0672b2682a9a088c","1529f05e1e16762e","5317323e40b2d2f8"]],"l":true},{"id":"0672b2682a9a088c","type":"change","z":"daacce7bff44f082","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":400,"wires":[["790fac37d0c4accb"]]},{"id":"1529f05e1e16762e","type":"link out","z":"daacce7bff44f082","name":"Display leeren","mode":"link","links":["799e36a0627e8be8","a02e88756b887e3e"],"x":1080,"y":440,"wires":[],"l":true},{"id":"4ce0b6d7edee9691","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Blinken der Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1370,"y":180,"wires":[]},{"id":"b419e55653482bc5","type":"delay","z":"daacce7bff44f082","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":180,"wires":[["4ce0b6d7edee9691","f116c2f0c723f47d"]]},{"id":"f116c2f0c723f47d","type":"delay","z":"daacce7bff44f082","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["e25ba40b95caf8a0"]]},{"id":"c16dc1585ff0eeb7","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"0","x":1070,"y":60,"wires":[]},{"id":"291a7b7a1b9307ed","type":"delay","z":"daacce7bff44f082","name":"erst Lampenfarbe ändern","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":600,"wires":[["c27eac6a1e5b9580"]]},{"id":"5eadc5196c7a3336","type":"inject","z":"daacce7bff44f082","name":"Glühbirne an beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["4d503b0ebb79ecd2"]]},{"id":"4d503b0ebb79ecd2","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe An","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"1","x":380,"y":760,"wires":[]},{"id":"93e590ef6f4a6cce","type":"inject","z":"daacce7bff44f082","name":"Glühbirne weiß beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":820,"wires":[["19a21756aa20a00e"]]},{"id":"19a21756aa20a00e","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"1","x":390,"y":820,"wires":[]},{"id":"e25ba40b95caf8a0","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Blinken der Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1370,"y":220,"wires":[]},{"id":"b758944f95c0e033","type":"delay","z":"daacce7bff44f082","name":"entprellen","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":360,"y":180,"wires":[["beea4497cb75a1e5"]]},{"id":"5317323e40b2d2f8","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ffffff","payloadType":"str","transition":0,"x":1080,"y":640,"wires":[]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]