node-red/einzelne_raetsel/raetsel3.json
[{"id":"3a613ff19558d61a","type":"tab","label":"Rätsel 3","disabled":false,"info":"","env":[]},{"id":"2061747ca5e55c26","type":"comment","z":"3a613ff19558d61a","name":"Morsecode öffnet Kiste","info":"","x":2300,"y":780,"wires":[]},{"id":"d56cd29daf27bc8a","type":"function","z":"3a613ff19558d61a","name":"Generiere Lösungscode","func":"var str = \"-.-..-.\";\nvar morsecode = str.split(\"\");\nflow.set('morsecode',morsecode);\nflow.set('position',0);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1480,"wires":[]},{"id":"e66b7e7bf17637aa","type":"comment","z":"3a613ff19558d61a","name":"Morse Code","info":"A\t.-\t\nB\t-...\t\nC\t-.-.\t\nD\t-..\t\nE\t.\t\nF\t..-.\nG\t--.\t\nH\t....\t\nI\t..\t\nJ\t.---\t\nK\t-.-\t\nL\t.-..\nM\t--\t\nN\t-.\t\nO\t---\t\nP\t.--.\t\nQ\t--.-\t\nR\t.-.\nS\t...\t\nT\t-\t\nU\t..-\t\nV\t...-\t\nW\t.--\t\nX\t-..-\nY\t-.--\t\nZ\t--..\n0\t-----\t\n1\t.----\t\n2\t..---\t\n3\t...--\t\n4\t....-\t\n5\t.....\n6\t-....\t\n7\t--...\t\n8\t---..\t\n9\t----.\n.\t.-.-.-\t\n,\t--..--\t\n?\t..--..\t\n'\t.----.\t\n!\t-.-.--\t\n/\t-..-.\n(\t-.--.\t\n)\t-.--.-\t\n&\t.-...\t\n:\t---...\t\n;\t-.-.-.\t\n=\t-...-\n+\t.-.-.\t\n-\t-....-\t\n_\t..--.-\t\n\"\t.-..-.\t\n$\t...-..-\t\n@\t.--.-.\n¿\t..-.-\t\n¡\t--...-","x":90,"y":680,"wires":[]},{"id":"eee3c759737ea9c8","type":"zigbee2mqtt-in","z":"3a613ff19558d61a","name":"Knopf","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"action","outputAtStartup":true,"x":70,"y":820,"wires":[["7d8c840c5b1eaa8e"]]},{"id":"90a46c103772101a","type":"switch","z":"3a613ff19558d61a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1850,"y":880,"wires":[["89f2fd9028d5f2b3","e555eb24580a6447"],[]]},{"id":"7d8c840c5b1eaa8e","type":"switch","z":"3a613ff19558d61a","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":820,"wires":[["153022fc7e0ccdcf"],[]]},{"id":"e5f6a46484b3dc82","type":"change","z":"3a613ff19558d61a","name":"Lösung und Position laden","rules":[{"t":"set","p":"position","pt":"msg","to":"position","tot":"flow"},{"t":"set","p":"morsecode","pt":"msg","to":"morsecode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":920,"wires":[["4adf8c7a2efdbb6e"]]},{"id":"4adf8c7a2efdbb6e","type":"function","z":"3a613ff19558d61a","name":"Nächste richtige Antwort laden","func":"msg.current_letter = msg.morsecode[msg.position];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":920,"wires":[["6e94f7a71bb97fe6"]]},{"id":"6e94f7a71bb97fe6","type":"switch","z":"3a613ff19558d61a","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":930,"y":920,"wires":[["791790d61854030a"],["80021971975169de"],["1484caaa1ab41758"]]},{"id":"791790d61854030a","type":"switch","z":"3a613ff19558d61a","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":900,"wires":[["e8dbf3d7d1dcbc65"],["4a69d3e13e5842c7"]],"inputLabels":["Single"],"outputLabels":["YES","NO"]},{"id":"80021971975169de","type":"switch","z":"3a613ff19558d61a","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":940,"wires":[["262746351a0744dd"],["4a69d3e13e5842c7"]],"outputLabels":["YES","NO"]},{"id":"1484caaa1ab41758","type":"switch","z":"3a613ff19558d61a","name":"Ist Lang richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"cont","v":"-","vt":"str"},{"t":"eq","v":".","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1120,"wires":[["e8dbf3d7d1dcbc65"],["4a69d3e13e5842c7"]],"inputLabels":["Hold"],"outputLabels":["YES","NO"]},{"id":"e8dbf3d7d1dcbc65","type":"function","z":"3a613ff19558d61a","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":900,"wires":[["60e63a7a013eda11","dfd553befc0c1c64","759272979d687b19"]]},{"id":"4a69d3e13e5842c7","type":"change","z":"3a613ff19558d61a","name":"Fehler","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1120,"wires":[["60e63a7a013eda11","debe24382aebe5e8"]]},{"id":"262746351a0744dd","type":"function","z":"3a613ff19558d61a","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":1000,"wires":[["9ddb83963517814b","759272979d687b19"]]},{"id":"60e63a7a013eda11","type":"change","z":"3a613ff19558d61a","name":"Positionsvariable anpassen","rules":[{"t":"set","p":"position","pt":"flow","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1080,"wires":[[]]},{"id":"dfd553befc0c1c64","type":"function","z":"3a613ff19558d61a","name":"Ist der Code beendet?","func":"if(msg.position >= msg.morsecode.length){\n    msg.payload= \"open\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":940,"wires":[["7383bf3464b88cd1","90a46c103772101a"]]},{"id":"9ddb83963517814b","type":"switch","z":"3a613ff19558d61a","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1060,"wires":[["e8dbf3d7d1dcbc65"],["4a69d3e13e5842c7"]],"outputLabels":["YES","NO"]},{"id":"7383bf3464b88cd1","type":"change","z":"3a613ff19558d61a","name":"Reset position","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":940,"wires":[["60e63a7a013eda11"]]},{"id":"89f2fd9028d5f2b3","type":"function","z":"3a613ff19558d61a","name":"Morsecode gelöst","func":"var g=true;\nglobal.set('morse',g);\nmsg.payload=global.get('morse');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":900,"wires":[[]]},{"id":"e555eb24580a6447","type":"switch","z":"3a613ff19558d61a","name":"Ausgabe filtern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"accepted","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2280,"y":960,"wires":[["cd9faa6d32c798bb","4b26dbfdf569a5e4","60ed0ae6ef69bac7"],["cd9faa6d32c798bb"],[]]},{"id":"cd9faa6d32c798bb","type":"mqtt out","z":"3a613ff19558d61a","name":"Kiste öffnen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":2530,"y":1000,"wires":[]},{"id":"fdbf25484e97fd5b","type":"comment","z":"3a613ff19558d61a","name":"Schalter steuert Glühbirne","info":"","x":150,"y":60,"wires":[]},{"id":"57954bc92b31e6af","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":"1","x":1000,"y":80,"wires":[]},{"id":"2b4b32dfef0dd61b","type":"switch","z":"3a613ff19558d61a","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":160,"wires":[["57954bc92b31e6af"],["10c08be08e3011be"],["0f5d0607cef5aed4"],["a1f0560999b93ce8"]]},{"id":"0f5d0607cef5aed4","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Magenta","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ff00ff","payloadType":"str","transition":"1","x":1000,"y":180,"wires":[]},{"id":"a1f0560999b93ce8","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"300","payloadType":"num","transition":"1","x":990,"y":220,"wires":[]},{"id":"3279101ee0b0e7a3","type":"zigbee2mqtt-in","z":"3a613ff19558d61a","name":"Knopf","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"0","outputAtStartup":true,"x":90,"y":160,"wires":[["d8d4f082c3bfc154"]]},{"id":"d8d4f082c3bfc154","type":"switch","z":"3a613ff19558d61a","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":160,"wires":[["01bc9283422f1ac0"],[]]},{"id":"35d0b897e7c8951b","type":"inject","z":"3a613ff19558d61a","name":"Initialisierung ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":1520,"wires":[["2b6363ebed636737","70ce7b8983fa7c95","d56cd29daf27bc8a"]]},{"id":"4b26dbfdf569a5e4","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":2530,"y":940,"wires":[]},{"id":"b8641941cf4a4437","type":"mqtt out","z":"3a613ff19558d61a","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":990,"y":280,"wires":[]},{"id":"4a21f82ab2b72ef6","type":"change","z":"3a613ff19558d61a","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["b8641941cf4a4437"]]},{"id":"0ac9a46d8dd13565","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":730,"y":240,"wires":[]},{"id":"861b54c8995541f6","type":"change","z":"3a613ff19558d61a","name":"reset position","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1300,"wires":[[]]},{"id":"7305484e5c49294b","type":"comment","z":"3a613ff19558d61a","name":"reset","info":"","x":80,"y":1240,"wires":[]},{"id":"2b79e59a956dd6e2","type":"link in","z":"3a613ff19558d61a","name":"Intialisierung","links":["11d2fe5c8eb16e25"],"x":1130,"y":660,"wires":[["f0b6b7ba6213400d"]],"l":true},{"id":"759272979d687b19","type":"change","z":"3a613ff19558d61a","name":"Position speichern","rules":[{"t":"set","p":"payload","pt":"msg","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":760,"wires":[["85a77624175d0202"]]},{"id":"debe24382aebe5e8","type":"link out","z":"3a613ff19558d61a","name":"Fehler anzeigen","mode":"link","links":["ee871989840cf81f"],"x":1720,"y":1180,"wires":[],"l":true},{"id":"ee871989840cf81f","type":"link in","z":"3a613ff19558d61a","name":"Fehler","links":["debe24382aebe5e8"],"x":1110,"y":620,"wires":[["85a77624175d0202"]],"l":true},{"id":"6e70d890c6465586","type":"link in","z":"3a613ff19558d61a","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0"],"x":210,"y":1300,"wires":[["861b54c8995541f6"]],"l":true},{"id":"b0f1db1b12e1b1ec","type":"link in","z":"3a613ff19558d61a","name":"stop","links":["8e217e083d7c3155","790fac37d0c4accb"],"x":1110,"y":560,"wires":[["f19f15dbe14b3b33"]],"l":true},{"id":"153022fc7e0ccdcf","type":"switch","z":"3a613ff19558d61a","name":"Code schon gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":820,"wires":[["e5f6a46484b3dc82"]]},{"id":"8579bb71a0b9024a","type":"link out","z":"3a613ff19558d61a","name":"starte Rätsel 4","mode":"link","links":["a807adb83d866073"],"x":2870,"y":900,"wires":[],"l":true},{"id":"60ed0ae6ef69bac7","type":"delay","z":"3a613ff19558d61a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2520,"y":900,"wires":[["08781fd020fd7574"]]},{"id":"f0b6b7ba6213400d","type":"change","z":"3a613ff19558d61a","name":"Speichern das Skript aktiv ist","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":660,"wires":[["85a77624175d0202"]]},{"id":"f19f15dbe14b3b33","type":"switch","z":"3a613ff19558d61a","name":"überhaupt an?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":560,"wires":[["85a77624175d0202"]]},{"id":"08781fd020fd7574","type":"change","z":"3a613ff19558d61a","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":900,"wires":[["8579bb71a0b9024a"]]},{"id":"a7786b925257854c","type":"comment","z":"3a613ff19558d61a","name":"Code wird auf Bildschirm angezeigt","info":"","x":1360,"y":480,"wires":[]},{"id":"01bc9283422f1ac0","type":"switch","z":"3a613ff19558d61a","name":"Code gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":160,"wires":[["2b4b32dfef0dd61b"],["0ac9a46d8dd13565","4a21f82ab2b72ef6"]]},{"id":"10c08be08e3011be","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Orange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"#ff8800","payloadType":"str","transition":0,"x":1000,"y":120,"wires":[]},{"id":"4877d1dba707e7d9","type":"switch","z":"3a613ff19558d61a","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":700,"wires":[["93ebb204c983c30b"]]},{"id":"d59c703ca6eda68c","type":"link in","z":"3a613ff19558d61a","name":"Zustand laden","links":["34ec3b6a49f27bec"],"x":1130,"y":700,"wires":[["4877d1dba707e7d9"]],"l":true},{"id":"93ebb204c983c30b","type":"change","z":"3a613ff19558d61a","name":"Reset Spiel","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":700,"wires":[["85a77624175d0202"]]},{"id":"2b6363ebed636737","type":"change","z":"3a613ff19558d61a","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1560,"wires":[[]]},{"id":"70ce7b8983fa7c95","type":"change","z":"3a613ff19558d61a","name":"bei Start ungelöst","rules":[{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1520,"wires":[[]]},{"id":"6fc3df04cc11b342","type":"comment","z":"3a613ff19558d61a","name":"Initialisierung","info":"","x":90,"y":1460,"wires":[]},{"id":"85a77624175d0202","type":"pythonshell in","z":"3a613ff19558d61a","name":"rätsel03.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel03.py","virtualenv":"","continuous":true,"stdInData":true,"x":1750,"y":600,"wires":[[]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]