node-red/einzelne_raetsel/raetsel5.json
[{"id":"5bce10e095c0a077","type":"tab","label":"Rätsel 5","disabled":false,"info":"","env":[]},{"id":"eafb17c997e6fa4e","type":"zigbee2mqtt-in","z":"5bce10e095c0a077","name":"","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":190,"y":100,"wires":[["f29c324ca8603c91"]]},{"id":"00dc1c3fc652d78c","type":"switch","z":"5bce10e095c0a077","name":"Bewegung erkannt?","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["bbd8d43ad6188b03","387a139c0780640a","915cc913ed4b7cc6"]]},{"id":"f29c324ca8603c91","type":"switch","z":"5bce10e095c0a077","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":100,"wires":[["cfbc81f16bfa0522"]]},{"id":"960a5d421b6bf3c2","type":"Barcode Generator","z":"5bce10e095c0a077","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":910,"y":520,"wires":[["71dbdbcfb1fe4867"]]},{"id":"d03e62d264d9f203","type":"jimp-image","z":"5bce10e095c0a077","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1400,"y":520,"wires":[["932c971b8e78460a"]]},{"id":"932c971b8e78460a","type":"jimp-image","z":"5bce10e095c0a077","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1540,"y":520,"wires":[[]]},{"id":"71dbdbcfb1fe4867","type":"jimp-image","z":"5bce10e095c0a077","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":1090,"y":520,"wires":[["63ffa04a06403ad0"]]},{"id":"63ffa04a06403ad0","type":"jimp-image","z":"5bce10e095c0a077","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1260,"y":520,"wires":[["d03e62d264d9f203"]]},{"id":"628386b6808ac79d","type":"comment","z":"5bce10e095c0a077","name":"QR-Code generieren","info":"","x":170,"y":460,"wires":[]},{"id":"b87ae402866d4e38","type":"exec","z":"5bce10e095c0a077","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1100,"y":180,"wires":[[],[],[]]},{"id":"d3181ea3ba73b82b","type":"delay","z":"5bce10e095c0a077","name":"warte 10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930,"y":180,"wires":[["b87ae402866d4e38"]]},{"id":"3ffb7138dbf248c4","type":"exec","z":"5bce10e095c0a077","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"IP Adressen erfragen","x":440,"y":540,"wires":[["11c8750f8be5e116"],[],[]]},{"id":"11c8750f8be5e116","type":"function","z":"5bce10e095c0a077","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":520,"wires":[["960a5d421b6bf3c2"]]},{"id":"3f4d20bdd92df3fb","type":"link in","z":"5bce10e095c0a077","name":"Rätsel 4 gelöst","links":["f8895c28661fc961"],"x":210,"y":540,"wires":[["3ffb7138dbf248c4","fa8fd17d8d04af54"]],"l":true},{"id":"bbd8d43ad6188b03","type":"zigbee2mqtt-out","z":"5bce10e095c0a077","name":"Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":720,"y":240,"wires":[]},{"id":"fe2c8b292f870188","type":"pythonshell in","z":"5bce10e095c0a077","name":"rätsel05.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel05.py","virtualenv":"","continuous":false,"stdInData":false,"x":670,"y":680,"wires":[[]]},{"id":"fa8fd17d8d04af54","type":"delay","z":"5bce10e095c0a077","name":"warte 10s","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":600,"wires":[["fe2c8b292f870188"]]},{"id":"387a139c0780640a","type":"change","z":"5bce10e095c0a077","name":"Spiel ist beendet","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[[]]},{"id":"915cc913ed4b7cc6","type":"pythonshell in","z":"5bce10e095c0a077","name":"gratulation.py","pyfile":"/home/pi/escape-game/e-Paper/src/gratulation.py","virtualenv":"","continuous":false,"stdInData":false,"x":740,"y":180,"wires":[["d3181ea3ba73b82b"]]},{"id":"cfbc81f16bfa0522","type":"switch","z":"5bce10e095c0a077","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":160,"wires":[["00dc1c3fc652d78c"]]},{"id":"b57471c9de6a0e58","type":"switch","z":"5bce10e095c0a077","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":720,"wires":[["ff6e1cec253bb58c"]]},{"id":"ff6e1cec253bb58c","type":"switch","z":"5bce10e095c0a077","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":720,"wires":[["fe2c8b292f870188"]]},{"id":"5106f9e96bfecd07","type":"link in","z":"5bce10e095c0a077","name":"Zustand laden","links":["34ec3b6a49f27bec"],"x":210,"y":660,"wires":[["b57471c9de6a0e58"]],"l":true},{"id":"6bdcfcaa1828e62f","type":"inject","z":"5bce10e095c0a077","name":"Erneut generieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":500,"wires":[["3ffb7138dbf248c4"]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]