node-red/einzelne_raetsel/raetsel2.json
[{"id":"ba4701bad8a7d36d","type":"tab","label":"Rätsel 2","disabled":false,"info":"","env":[]},{"id":"893d641f70f06695","type":"switch","z":"ba4701bad8a7d36d","name":"Kontakt hergestellt? ","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":240,"wires":[["e009f33af9117024","80325a57c823ef98","6bd7c8aedc8c0aec","1e49e5b07457960e"],["4e4d3a7b3190755b","2c7c2b7cc623108d"]]},{"id":"e009f33af9117024","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Steckdose an","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":1080,"y":100,"wires":[]},{"id":"8aa71401f8bca744","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Steckdose aus","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":0,"x":1340,"y":600,"wires":[]},{"id":"44a3a70eca31e45c","type":"zigbee2mqtt-in","z":"ba4701bad8a7d36d","name":"","server":"51d0b9cf.a79dd8","friendly_name":"sonoff_kontakt1","device_id":"0x00124b001fb87c52","state":"contact","outputAtStartup":true,"x":130,"y":180,"wires":[["893d641f70f06695"]]},{"id":"51ad72c981ee933a","type":"link in","z":"ba4701bad8a7d36d","name":"Reset Knopf","links":["3f7f508aac4cbabf"],"x":590,"y":420,"wires":[["2c7c2b7cc623108d","4e4d3a7b3190755b"]],"l":true},{"id":"16a7a00cfad5fa48","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1240,"y":180,"wires":[]},{"id":"80325a57c823ef98","type":"delay","z":"ba4701bad8a7d36d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":180,"wires":[["16a7a00cfad5fa48","881164a79fbffdb4"]]},{"id":"881164a79fbffdb4","type":"delay","z":"ba4701bad8a7d36d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["67aa637633d3d4fa"]]},{"id":"6bd7c8aedc8c0aec","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Licht weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"0","x":1060,"y":60,"wires":[]},{"id":"2c7c2b7cc623108d","type":"delay","z":"ba4701bad8a7d36d","name":"erst Lampenfarbe ändern","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":600,"wires":[["8aa71401f8bca744"]]},{"id":"1745411d0d8ef7ab","type":"inject","z":"ba4701bad8a7d36d","name":"Glühbirne an beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["58b194311cd3e6c5"]]},{"id":"58b194311cd3e6c5","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"1","x":390,"y":760,"wires":[]},{"id":"320e6dc544e26ca1","type":"inject","z":"ba4701bad8a7d36d","name":"Glühbirne weiß beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":820,"wires":[["290fb51d879f431d"]]},{"id":"290fb51d879f431d","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"1","x":410,"y":820,"wires":[]},{"id":"67aa637633d3d4fa","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1320,"y":220,"wires":[]},{"id":"4e4d3a7b3190755b","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Licht weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ffffff","payloadType":"str","transition":0,"x":1060,"y":640,"wires":[]},{"id":"b535e314a62bc038","type":"link out","z":"ba4701bad8a7d36d","name":"Starte Morsespiel","mode":"link","links":["fb276fa17f32cfaf"],"x":1270,"y":320,"wires":[],"l":true},{"id":"1e49e5b07457960e","type":"switch","z":"ba4701bad8a7d36d","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":320,"wires":[["b535e314a62bc038"]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]