node-red/einzelne_raetsel/raetsel4.json
[{"id":"fdba8bf0dcbd65b2","type":"tab","label":"Rätsel 4","disabled":false,"info":"","env":[]},{"id":"0e076766d433aeac","type":"switch","z":"fdba8bf0dcbd65b2","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"play_pause","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":200,"wires":[["d0f122a28271d737"],["dfbadba270670dd4"],["6983d8f0c7c41b9e"],["6983d8f0c7c41b9e"]]},{"id":"adf2deccc1219c0f","type":"zigbee2mqtt-out","z":"fdba8bf0dcbd65b2","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1220,"y":140,"wires":[]},{"id":"d0f122a28271d737","type":"function","z":"fdba8bf0dcbd65b2","name":"hue+10","func":"var hue = flow.get(\"hue\")\nif(hue>359){\n    hue+=10\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":120,"wires":[["adf2deccc1219c0f"]]},{"id":"05b3e4965b6cd192","type":"switch","z":"fdba8bf0dcbd65b2","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["2bcc887ce4d946bf"],[]]},{"id":"dfbadba270670dd4","type":"function","z":"fdba8bf0dcbd65b2","name":"hue-10","func":"var hue = flow.get(\"hue\")\nif(hue>1){\n    hue-=10\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":160,"wires":[["adf2deccc1219c0f"]]},{"id":"795035ae0db14099","type":"zigbee2mqtt-out","z":"fdba8bf0dcbd65b2","name":"Lampe Rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":590,"y":660,"wires":[]},{"id":"9a9e8dc919d015f7","type":"function","z":"fdba8bf0dcbd65b2","name":"Unteres Rotspektrum","func":"\nmsg.payload={\n    \"h\": 20,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":640,"wires":[["795035ae0db14099"]]},{"id":"dce62e91df2e264e","type":"function","z":"fdba8bf0dcbd65b2","name":"Oberes Rotspektrum","func":"\nmsg.payload={\n    \"h\": 350,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["795035ae0db14099"]]},{"id":"6384a806f289ee25","type":"inject","z":"fdba8bf0dcbd65b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":640,"wires":[["9a9e8dc919d015f7"]]},{"id":"0a83b56677a09e09","type":"inject","z":"fdba8bf0dcbd65b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["dce62e91df2e264e"]]},{"id":"6983d8f0c7c41b9e","type":"switch","z":"fdba8bf0dcbd65b2","name":"Hue gefunden?","property":"hue","propertyType":"flow","rules":[{"t":"btwn","v":"21","vt":"num","v2":"339","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":220,"wires":[["05fdb7537b97e036"],["8ebf6dd532910c45","ce593fd660ce1051","f8895c28661fc961"]],"outputLabels":["nicht gefunden",""]},{"id":"2e04fcc69c55d691","type":"comment","z":"fdba8bf0dcbd65b2","name":"rot","info":"","x":70,"y":580,"wires":[]},{"id":"46c1fa8c13126ab0","type":"comment","z":"fdba8bf0dcbd65b2","name":"drehknopf rotiert durch den hue","info":"","x":130,"y":80,"wires":[]},{"id":"c48e143d67068a1e","type":"change","z":"fdba8bf0dcbd65b2","name":"reset hue","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"},{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[[]]},{"id":"da15b38d2988da8c","type":"comment","z":"fdba8bf0dcbd65b2","name":"reset","info":"","x":60,"y":840,"wires":[]},{"id":"8ebf6dd532910c45","type":"change","z":"fdba8bf0dcbd65b2","name":"","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":440,"wires":[[]]},{"id":"b2d4cef9cd847b9e","type":"change","z":"fdba8bf0dcbd65b2","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1080,"wires":[[]]},{"id":"2bcc887ce4d946bf","type":"switch","z":"fdba8bf0dcbd65b2","name":"Hue gefunden?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":200,"wires":[["0e076766d433aeac"],["9bb168a401609007"]]},{"id":"9bb168a401609007","type":"zigbee2mqtt-out","z":"fdba8bf0dcbd65b2","name":"Lampe rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"{\"h\":0, \"s\":100, \"v\":1}","payloadType":"json","transition":0,"x":740,"y":300,"wires":[]},{"id":"1f780af900cd8dda","type":"change","z":"fdba8bf0dcbd65b2","name":"hue ist bei start noch nicht gefunden","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[[]]},{"id":"0dc8c91277adc1dd","type":"inject","z":"fdba8bf0dcbd65b2","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":1060,"wires":[["1f780af900cd8dda","b2d4cef9cd847b9e","77cd56ecc4c564b1"]]},{"id":"9d48a92359c13b21","type":"comment","z":"fdba8bf0dcbd65b2","name":"wurde die farbe einmal gefunden bleibt sie rot","info":"","x":470,"y":300,"wires":[]},{"id":"b1e921fb191a5f30","type":"link in","z":"fdba8bf0dcbd65b2","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0"],"x":90,"y":900,"wires":[["c48e143d67068a1e"]],"l":true},{"id":"05fdb7537b97e036","type":"change","z":"fdba8bf0dcbd65b2","name":"falsche Farbe","rules":[{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":280,"wires":[["2b6a1e80f841b07a"]]},{"id":"ce593fd660ce1051","type":"change","z":"fdba8bf0dcbd65b2","name":"Farbe gefunden","rules":[{"t":"set","p":"payload","pt":"msg","to":"korrekt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":360,"wires":[["62b10798d39ee0fd"]]},{"id":"a807adb83d866073","type":"link in","z":"fdba8bf0dcbd65b2","name":"init","links":["8579bb71a0b9024a"],"x":1330,"y":320,"wires":[["3b6a40f0234d9cd9"]],"l":true},{"id":"808b98f1b3f29078","type":"link in","z":"fdba8bf0dcbd65b2","name":"stop","links":["790fac37d0c4accb","8e217e083d7c3155"],"x":1330,"y":400,"wires":[["55c4fed3a6248399"]],"l":true},{"id":"3b6a40f0234d9cd9","type":"change","z":"fdba8bf0dcbd65b2","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":320,"wires":[["2b6a1e80f841b07a"]]},{"id":"62b10798d39ee0fd","type":"change","z":"fdba8bf0dcbd65b2","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":360,"wires":[["2b6a1e80f841b07a"]]},{"id":"55c4fed3a6248399","type":"switch","z":"fdba8bf0dcbd65b2","name":"überhaupt aktiv?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":400,"wires":[["2b6a1e80f841b07a"]]},{"id":"b37e57c1fcbb4c47","type":"link in","z":"fdba8bf0dcbd65b2","name":"Zustand laden","links":["34ec3b6a49f27bec"],"x":1350,"y":240,"wires":[["4c13b7905c800a98"]],"l":true},{"id":"4c13b7905c800a98","type":"switch","z":"fdba8bf0dcbd65b2","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1540,"y":240,"wires":[["2b6a1e80f841b07a"]]},{"id":"77cd56ecc4c564b1","type":"change","z":"fdba8bf0dcbd65b2","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1120,"wires":[[]]},{"id":"f8895c28661fc961","type":"link out","z":"fdba8bf0dcbd65b2","name":"starte Rätsel 5","mode":"link","links":["3f4d20bdd92df3fb"],"x":1360,"y":480,"wires":[],"l":true},{"id":"a0771540d37c25a5","type":"zigbee2mqtt-in","z":"fdba8bf0dcbd65b2","name":"Cube","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":50,"y":200,"wires":[["05b3e4965b6cd192"]]},{"id":"c73db526ebb34ef7","type":"comment","z":"fdba8bf0dcbd65b2","name":"Initialisierung","info":"","x":90,"y":1000,"wires":[]},{"id":"cd9d6d2e761fe4c2","type":"comment","z":"fdba8bf0dcbd65b2","name":"Spielstand auf dem Bildschirm anzeigen","info":"","x":1430,"y":200,"wires":[]},{"id":"2b6a1e80f841b07a","type":"pythonshell in","z":"fdba8bf0dcbd65b2","name":"raetsel04.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel04.py","virtualenv":"","continuous":true,"stdInData":true,"x":1790,"y":320,"wires":[[]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]