node-red/einzelne_raetsel/raetsel1.json
[{"id":"fac9e1304a7b55c4","type":"tab","label":"Rätsel 1","disabled":false,"info":"","env":[]},{"id":"143e8015bad5512b","type":"inject","z":"fac9e1304a7b55c4","name":"Starten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":120,"wires":[["d9b617a61cd159f3"]]},{"id":"918bad459c055030","type":"comment","z":"fac9e1304a7b55c4","name":"Rätsel 1","info":"","x":160,"y":40,"wires":[]},{"id":"3f06818c79af410c","type":"function","z":"fac9e1304a7b55c4","name":"funktioniert?","func":"\nif(msg.payload.includes(\"bereit\")){\n    msg.payload=true\n}\nelse \n    msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":100,"wires":[["d7d86533811fc9df"]]},{"id":"c21210b97ae376aa","type":"delay","z":"fac9e1304a7b55c4","name":"warte 15s","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":960,"y":100,"wires":[["d35b078f3703a43b","fb8be41e5d8917ca"]]},{"id":"d35b078f3703a43b","type":"pythonshell in","z":"fac9e1304a7b55c4","name":"rätsel02.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel02.py","virtualenv":"","continuous":false,"stdInData":false,"x":1190,"y":100,"wires":[[]]},{"id":"57f57fbdbf6a5e5a","type":"link in","z":"fac9e1304a7b55c4","name":"KEY2 gedrückt","links":["a52184b0a0998d8c"],"x":200,"y":160,"wires":[["d9b617a61cd159f3"]],"l":true},{"id":"d9b617a61cd159f3","type":"exec","z":"fac9e1304a7b55c4","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/raetsel01.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"rätsel01.py","x":430,"y":120,"wires":[["3f06818c79af410c"],[],[]]},{"id":"de921bc501e9b492","type":"inject","z":"fac9e1304a7b55c4","name":"Spiel an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":360,"wires":[["6802208668269c6c"]]},{"id":"6802208668269c6c","type":"change","z":"fac9e1304a7b55c4","name":"Spiel inaktiv","rules":[{"t":"set","p":"game","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[[]]},{"id":"09734e71e99c5318","type":"inject","z":"fac9e1304a7b55c4","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":200,"y":400,"wires":[["6802208668269c6c","cf51fa72374e0dfa"]]},{"id":"cf51fa72374e0dfa","type":"change","z":"fac9e1304a7b55c4","name":"Spiel ungelöst ","rules":[{"t":"set","p":"geschafft","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[[]]},{"id":"fb8be41e5d8917ca","type":"change","z":"fac9e1304a7b55c4","name":"starte das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":60,"wires":[[]]},{"id":"d7d86533811fc9df","type":"switch","z":"fac9e1304a7b55c4","name":"stimmt alles?","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":100,"wires":[["c21210b97ae376aa"]]}]