node-red/einzelne_raetsel/raetsel5.json
[{"id":"949a2e09f3bee9ad","type":"tab","label":"Rätsel 5","disabled":false,"info":"","env":[]},{"id":"87378c2311d059e7","type":"zigbee2mqtt-in","z":"949a2e09f3bee9ad","name":"","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":190,"y":100,"wires":[["505f4c56640fc38d"]]},{"id":"07bd285f5bde0d45","type":"switch","z":"949a2e09f3bee9ad","name":"Bewegung erkannt?","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["a948d47c90842ef6","97295222c3ed12e7","0425849a6f5dc4ff"]]},{"id":"505f4c56640fc38d","type":"switch","z":"949a2e09f3bee9ad","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":100,"wires":[["6aefd1d22339342a"]]},{"id":"30e5b992da34be0c","type":"Barcode Generator","z":"949a2e09f3bee9ad","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":790,"y":540,"wires":[["4c488e879c458adb"]]},{"id":"39d2365277c922ff","type":"jimp-image","z":"949a2e09f3bee9ad","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1280,"y":540,"wires":[["20276cb2f016b8a3"]]},{"id":"20276cb2f016b8a3","type":"jimp-image","z":"949a2e09f3bee9ad","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1420,"y":540,"wires":[[]]},{"id":"4c488e879c458adb","type":"jimp-image","z":"949a2e09f3bee9ad","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":970,"y":540,"wires":[["6fbf9f98b9659833"]]},{"id":"6fbf9f98b9659833","type":"jimp-image","z":"949a2e09f3bee9ad","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1140,"y":540,"wires":[["39d2365277c922ff"]]},{"id":"56612dd35f009896","type":"comment","z":"949a2e09f3bee9ad","name":"QR-Code generieren","info":"","x":170,"y":460,"wires":[]},{"id":"7644bc2762b7d0fd","type":"exec","z":"949a2e09f3bee9ad","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1100,"y":180,"wires":[[],[],[]]},{"id":"afb7d7530fa8f9ba","type":"delay","z":"949a2e09f3bee9ad","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930,"y":180,"wires":[["7644bc2762b7d0fd"]]},{"id":"2338444f8946b367","type":"exec","z":"949a2e09f3bee9ad","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":410,"y":540,"wires":[["6cebe2cb6fa2435a"],[],[]]},{"id":"6cebe2cb6fa2435a","type":"function","z":"949a2e09f3bee9ad","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":520,"wires":[["30e5b992da34be0c"]]},{"id":"7e2c4857f0cc3b86","type":"link in","z":"949a2e09f3bee9ad","name":"Rätsel 4 gelöst","links":["a633f3a468538460"],"x":210,"y":540,"wires":[["2338444f8946b367","f2764c1a13f43131"]],"l":true},{"id":"a948d47c90842ef6","type":"zigbee2mqtt-out","z":"949a2e09f3bee9ad","name":"Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":720,"y":240,"wires":[]},{"id":"63464c418a562bdd","type":"pythonshell in","z":"949a2e09f3bee9ad","name":"rätsel05.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel05.py","virtualenv":"","continuous":false,"stdInData":false,"x":670,"y":680,"wires":[[]]},{"id":"f2764c1a13f43131","type":"delay","z":"949a2e09f3bee9ad","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":600,"wires":[["63464c418a562bdd"]]},{"id":"97295222c3ed12e7","type":"change","z":"949a2e09f3bee9ad","name":"Spiel ist beendet","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[[]]},{"id":"0425849a6f5dc4ff","type":"pythonshell in","z":"949a2e09f3bee9ad","name":"gratulation.py","pyfile":"/home/pi/escape-game/e-Paper/src/gratulation.py","virtualenv":"","continuous":false,"stdInData":false,"x":740,"y":180,"wires":[["afb7d7530fa8f9ba"]]},{"id":"6aefd1d22339342a","type":"switch","z":"949a2e09f3bee9ad","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":160,"wires":[["07bd285f5bde0d45"]]},{"id":"148eaaa1c7137e92","type":"switch","z":"949a2e09f3bee9ad","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":720,"wires":[["19a9e1d44321f9fb"]]},{"id":"19a9e1d44321f9fb","type":"switch","z":"949a2e09f3bee9ad","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":720,"wires":[["63464c418a562bdd"]]},{"id":"bf8d031918773eb3","type":"link in","z":"949a2e09f3bee9ad","name":"Zustand laden","links":["1ed8806043b58285"],"x":210,"y":660,"wires":[["148eaaa1c7137e92"]],"l":true},{"id":"b9d09f5729e67602","type":"inject","z":"949a2e09f3bee9ad","name":"Erneut generieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":500,"wires":[["2338444f8946b367"]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]