node-red/einzelne_raetsel/raetsel3.json
[{"id":"dde2b67fbd135af5","type":"tab","label":"Rätsel 3","disabled":false,"info":"","env":[]},{"id":"cca0fa07d4335334","type":"comment","z":"dde2b67fbd135af5","name":"Morsecode öffnet Kiste","info":"","x":2300,"y":780,"wires":[]},{"id":"51d8208bd6f58885","type":"function","z":"dde2b67fbd135af5","name":"Generiere Lösungscode","func":"var str = \"-.-..-.\";\nvar morsecode = str.split(\"\");\nflow.set('morsecode',morsecode);\nflow.set('position',0);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1480,"wires":[]},{"id":"d90303de75509d9a","type":"comment","z":"dde2b67fbd135af5","name":"Morse Code","info":"A\t.-\t\nB\t-...\t\nC\t-.-.\t\nD\t-..\t\nE\t.\t\nF\t..-.\nG\t--.\t\nH\t....\t\nI\t..\t\nJ\t.---\t\nK\t-.-\t\nL\t.-..\nM\t--\t\nN\t-.\t\nO\t---\t\nP\t.--.\t\nQ\t--.-\t\nR\t.-.\nS\t...\t\nT\t-\t\nU\t..-\t\nV\t...-\t\nW\t.--\t\nX\t-..-\nY\t-.--\t\nZ\t--..\n0\t-----\t\n1\t.----\t\n2\t..---\t\n3\t...--\t\n4\t....-\t\n5\t.....\n6\t-....\t\n7\t--...\t\n8\t---..\t\n9\t----.\n.\t.-.-.-\t\n,\t--..--\t\n?\t..--..\t\n'\t.----.\t\n!\t-.-.--\t\n/\t-..-.\n(\t-.--.\t\n)\t-.--.-\t\n&\t.-...\t\n:\t---...\t\n;\t-.-.-.\t\n=\t-...-\n+\t.-.-.\t\n-\t-....-\t\n_\t..--.-\t\n\"\t.-..-.\t\n$\t...-..-\t\n@\t.--.-.\n¿\t..-.-\t\n¡\t--...-","x":90,"y":680,"wires":[]},{"id":"30b386121d17dd32","type":"zigbee2mqtt-in","z":"dde2b67fbd135af5","name":"","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"action","outputAtStartup":true,"x":90,"y":820,"wires":[["cb6f33ab780e6a12"]]},{"id":"f3a4285e61a92165","type":"switch","z":"dde2b67fbd135af5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1850,"y":880,"wires":[["d28d3e9209a09d3e","67191f78c39a8cd0"],[]]},{"id":"cb6f33ab780e6a12","type":"switch","z":"dde2b67fbd135af5","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":820,"wires":[["b334ed26837a75ed"],[]]},{"id":"4dbebf28bcd8bb2b","type":"change","z":"dde2b67fbd135af5","name":"Lösung und Position laden","rules":[{"t":"set","p":"position","pt":"msg","to":"position","tot":"flow"},{"t":"set","p":"morsecode","pt":"msg","to":"morsecode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":920,"wires":[["7ac93260bff5f658"]]},{"id":"7ac93260bff5f658","type":"function","z":"dde2b67fbd135af5","name":"Nächste richtige Antwort laden","func":"msg.current_letter = msg.morsecode[msg.position];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":920,"wires":[["56b62588f7261399"]]},{"id":"56b62588f7261399","type":"switch","z":"dde2b67fbd135af5","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":930,"y":920,"wires":[["7098b9c6fcd6779c"],["02c9fd41f000fbdc"],["41ab507823820f37"]]},{"id":"7098b9c6fcd6779c","type":"switch","z":"dde2b67fbd135af5","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":900,"wires":[["795329450cb6bf74"],["6a97eb342c9678a1"]],"inputLabels":["Single"],"outputLabels":["YES","NO"]},{"id":"02c9fd41f000fbdc","type":"switch","z":"dde2b67fbd135af5","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":940,"wires":[["81a29dc590c532c0"],["6a97eb342c9678a1"]],"outputLabels":["YES","NO"]},{"id":"41ab507823820f37","type":"switch","z":"dde2b67fbd135af5","name":"Ist Lang richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"cont","v":"-","vt":"str"},{"t":"eq","v":".","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1120,"wires":[["795329450cb6bf74"],["6a97eb342c9678a1"]],"inputLabels":["Hold"],"outputLabels":["YES","NO"]},{"id":"795329450cb6bf74","type":"function","z":"dde2b67fbd135af5","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":900,"wires":[["8677436941c02da3","2dbd1fa6a5069220","220e74b5b29ffb19"]]},{"id":"6a97eb342c9678a1","type":"change","z":"dde2b67fbd135af5","name":"Fehler","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1120,"wires":[["8677436941c02da3","e57eea68229d4392"]]},{"id":"81a29dc590c532c0","type":"function","z":"dde2b67fbd135af5","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":1000,"wires":[["3eb234bc3d2811b7","220e74b5b29ffb19"]]},{"id":"8677436941c02da3","type":"change","z":"dde2b67fbd135af5","name":"Positionsvariable anpassen","rules":[{"t":"set","p":"position","pt":"flow","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1080,"wires":[[]]},{"id":"2dbd1fa6a5069220","type":"function","z":"dde2b67fbd135af5","name":"Ist der Code beendet?","func":"if(msg.position >= msg.morsecode.length){\n    msg.payload= \"open\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":940,"wires":[["0c29837b50ef6701","f3a4285e61a92165"]]},{"id":"3eb234bc3d2811b7","type":"switch","z":"dde2b67fbd135af5","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1060,"wires":[["795329450cb6bf74"],["6a97eb342c9678a1"]],"outputLabels":["YES","NO"]},{"id":"0c29837b50ef6701","type":"change","z":"dde2b67fbd135af5","name":"Reset position","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":940,"wires":[["8677436941c02da3"]]},{"id":"d28d3e9209a09d3e","type":"function","z":"dde2b67fbd135af5","name":"Morsecode gelöst","func":"var g=true;\nglobal.set('morse',g);\nmsg.payload=global.get('morse');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":900,"wires":[[]]},{"id":"67191f78c39a8cd0","type":"switch","z":"dde2b67fbd135af5","name":"Ausgabe filtern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"accepted","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2280,"y":960,"wires":[["0fd89b1321d54a41","d617fe9b4367bbc1","02eac52dfc480026"],["0fd89b1321d54a41"],[]]},{"id":"0fd89b1321d54a41","type":"mqtt out","z":"dde2b67fbd135af5","name":"Kiste öffnen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":2530,"y":1000,"wires":[]},{"id":"8dda99cc66425090","type":"comment","z":"dde2b67fbd135af5","name":"Schalter steuert Glühbirne","info":"","x":150,"y":60,"wires":[]},{"id":"9a8944ccc388f84a","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":"1","x":980,"y":80,"wires":[]},{"id":"29ddbf0bf8db57ed","type":"switch","z":"dde2b67fbd135af5","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":160,"wires":[["9a8944ccc388f84a"],["66988e6c66f2fd93"],["2913311f2761a945"],["e352fc133fbd1f66"]]},{"id":"2913311f2761a945","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Magenta","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ff00ff","payloadType":"str","transition":"1","x":980,"y":180,"wires":[]},{"id":"e352fc133fbd1f66","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"300","payloadType":"num","transition":"1","x":970,"y":220,"wires":[]},{"id":"ada4f12c0f75b28b","type":"zigbee2mqtt-in","z":"dde2b67fbd135af5","name":"","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"action","outputAtStartup":true,"x":110,"y":160,"wires":[["73494e3bd2b4f023"]]},{"id":"73494e3bd2b4f023","type":"switch","z":"dde2b67fbd135af5","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":160,"wires":[["9bd7aca5147d7e5b"],[]]},{"id":"f8db8bba1ac5753d","type":"inject","z":"dde2b67fbd135af5","name":"Initialisierung ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":1520,"wires":[["517f284c72da1ef7","8ab434002ed907ee","51d8208bd6f58885"]]},{"id":"d617fe9b4367bbc1","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":2530,"y":940,"wires":[]},{"id":"5245a9b900a3f274","type":"mqtt out","z":"dde2b67fbd135af5","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":990,"y":280,"wires":[]},{"id":"5f5fea149404701b","type":"change","z":"dde2b67fbd135af5","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["5245a9b900a3f274"]]},{"id":"bbc79e7cc1aeb672","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":710,"y":240,"wires":[]},{"id":"67dce44f47cb6dde","type":"change","z":"dde2b67fbd135af5","name":"reset position","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1300,"wires":[[]]},{"id":"47f81ceca670c5f8","type":"comment","z":"dde2b67fbd135af5","name":"reset","info":"","x":80,"y":1240,"wires":[]},{"id":"4751ab1a5511ea5e","type":"pythonshell in","z":"dde2b67fbd135af5","name":"rätsel03.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel03.py","virtualenv":"","continuous":true,"stdInData":true,"x":1770,"y":620,"wires":[[]]},{"id":"fb276fa17f32cfaf","type":"link in","z":"dde2b67fbd135af5","name":"Intialisierung","links":["11d2fe5c8eb16e25","b535e314a62bc038"],"x":1010,"y":660,"wires":[["2d8a02a4df10220d"]],"l":true},{"id":"220e74b5b29ffb19","type":"change","z":"dde2b67fbd135af5","name":"Position speichern","rules":[{"t":"set","p":"payload","pt":"msg","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":760,"wires":[["4751ab1a5511ea5e"]]},{"id":"e57eea68229d4392","type":"link out","z":"dde2b67fbd135af5","name":"Fehler anzeigen","mode":"link","links":["23825b7ea47aecd1"],"x":1720,"y":1180,"wires":[],"l":true},{"id":"23825b7ea47aecd1","type":"link in","z":"dde2b67fbd135af5","name":"Fehler","links":["e57eea68229d4392"],"x":990,"y":620,"wires":[["4751ab1a5511ea5e"]],"l":true},{"id":"d324897085d4a22d","type":"link in","z":"dde2b67fbd135af5","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0","2e16259bd14befa9","9fd47a791457216c"],"x":210,"y":1300,"wires":[["67dce44f47cb6dde"]],"l":true},{"id":"289ae9274eefe569","type":"link in","z":"dde2b67fbd135af5","name":"stop","links":["cad92d079ab94330","790fac37d0c4accb","1f84fcc785cfcdcc","2e16259bd14befa9","9fd47a791457216c"],"x":990,"y":560,"wires":[["6e03525fafae2a54"]],"l":true},{"id":"b334ed26837a75ed","type":"switch","z":"dde2b67fbd135af5","name":"Code schon gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":820,"wires":[["4dbebf28bcd8bb2b"]]},{"id":"1d2151b8af098f9f","type":"link out","z":"dde2b67fbd135af5","name":"starte Rätsel 4","mode":"link","links":["a69f49d974267fa6"],"x":2900,"y":900,"wires":[],"l":true},{"id":"02eac52dfc480026","type":"delay","z":"dde2b67fbd135af5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2520,"y":900,"wires":[["b0b554be46c561fd"]]},{"id":"2d8a02a4df10220d","type":"change","z":"dde2b67fbd135af5","name":"Speichern das Skript aktiv ist","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":660,"wires":[["4751ab1a5511ea5e"]]},{"id":"6e03525fafae2a54","type":"switch","z":"dde2b67fbd135af5","name":"überhaupt an?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1140,"y":560,"wires":[["4751ab1a5511ea5e"]]},{"id":"b0b554be46c561fd","type":"change","z":"dde2b67fbd135af5","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":900,"wires":[["1d2151b8af098f9f"]]},{"id":"e61cf6e20c5d2f92","type":"comment","z":"dde2b67fbd135af5","name":"Code wird auf Bildschirm angezeigt","info":"","x":1080,"y":500,"wires":[]},{"id":"9bd7aca5147d7e5b","type":"switch","z":"dde2b67fbd135af5","name":"Code gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":160,"wires":[["29ddbf0bf8db57ed"],["bbc79e7cc1aeb672","5f5fea149404701b"]]},{"id":"66988e6c66f2fd93","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Orange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"#ff8800","payloadType":"str","transition":0,"x":980,"y":120,"wires":[]},{"id":"e8cf1974b8c99eea","type":"switch","z":"dde2b67fbd135af5","name":"War es vor Bildschrim leeren an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":700,"wires":[["1c8a611be749e9aa"]]},{"id":"d93b922ef21c9baf","type":"link in","z":"dde2b67fbd135af5","name":"Zustand laden","links":["1ed8806043b58285"],"x":1010,"y":700,"wires":[["e8cf1974b8c99eea"]],"l":true},{"id":"1c8a611be749e9aa","type":"change","z":"dde2b67fbd135af5","name":"Reset Spiel","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":700,"wires":[["4751ab1a5511ea5e"]]},{"id":"517f284c72da1ef7","type":"change","z":"dde2b67fbd135af5","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1560,"wires":[[]]},{"id":"8ab434002ed907ee","type":"change","z":"dde2b67fbd135af5","name":"bei Start ungelöst","rules":[{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1520,"wires":[[]]},{"id":"cc6c9f5b3a6c6150","type":"comment","z":"dde2b67fbd135af5","name":"Initialisierung","info":"","x":90,"y":1460,"wires":[]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]