node-red/einzelne_raetsel/raetsel4.json
[{"id":"c4830f876071dcd4","type":"tab","label":"Rätsel 4","disabled":false,"info":"","env":[]},{"id":"7fa0589014d33877","type":"switch","z":"c4830f876071dcd4","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"fall","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":770,"y":200,"wires":[["1c2a0d154e54a04f"],["5c56021b6e290562"],["a3cfab0ea4026283"],["6588f0ba7ec46813"],["7f81ab76cf3ffbfa"],["54916fe552026dc7"],["681e051a9362d2e8","a71cdb340ccd089d","0ea8bb71db133572"],["681e051a9362d2e8","0ea8bb71db133572","a71cdb340ccd089d"]]},{"id":"a9b521d64519cc86","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"payload","commandType":"msg","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":40,"wires":[]},{"id":"1c2a0d154e54a04f","type":"function","z":"c4830f876071dcd4","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":20,"wires":[["a9b521d64519cc86"]]},{"id":"ad07c7be1a0fda68","type":"switch","z":"c4830f876071dcd4","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["d4aab24180ba5f31"],[]]},{"id":"5c56021b6e290562","type":"function","z":"c4830f876071dcd4","name":"hue-15","func":"var hue = flow.get(\"hue\")\nif(hue>15){\n    hue-=15\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":60,"wires":[["a9b521d64519cc86"]]},{"id":"4057f1f1b07e5f84","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":570,"y":660,"wires":[]},{"id":"a51d4795596689bf","type":"function","z":"c4830f876071dcd4","name":"Unteres Rotspektrum","func":"\nmsg.payload={\n    \"h\": 20,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":640,"wires":[["4057f1f1b07e5f84"]]},{"id":"3fe180da0475cec4","type":"function","z":"c4830f876071dcd4","name":"Oberes Rotspektrum","func":"\nmsg.payload={\n    \"h\": 350,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["4057f1f1b07e5f84"]]},{"id":"b9aa15d99286a6f2","type":"inject","z":"c4830f876071dcd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":640,"wires":[["a51d4795596689bf"]]},{"id":"2ec95df2102c51c1","type":"inject","z":"c4830f876071dcd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["3fe180da0475cec4"]]},{"id":"681e051a9362d2e8","type":"switch","z":"c4830f876071dcd4","name":"Hue gefunden?","property":"hue","propertyType":"flow","rules":[{"t":"btwn","v":"21","vt":"num","v2":"339","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":440,"wires":[["db2f3d6dbf575d73"],["88447c4fee083434","802a64900b4c3850","a633f3a468538460"]],"outputLabels":["nicht gefunden",""]},{"id":"578efbf8d3d475d0","type":"comment","z":"c4830f876071dcd4","name":"rot","info":"","x":70,"y":580,"wires":[]},{"id":"5cf07fa9e3c72206","type":"comment","z":"c4830f876071dcd4","name":"drehknopf rotiert durch den hue","info":"","x":130,"y":80,"wires":[]},{"id":"38068ec86948c73e","type":"change","z":"c4830f876071dcd4","name":"reset hue","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"},{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[[]]},{"id":"029be10830f3ed98","type":"comment","z":"c4830f876071dcd4","name":"reset","info":"","x":60,"y":840,"wires":[]},{"id":"88447c4fee083434","type":"change","z":"c4830f876071dcd4","name":"","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":680,"wires":[[]]},{"id":"ef866c3824d998be","type":"change","z":"c4830f876071dcd4","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1080,"wires":[[]]},{"id":"d4aab24180ba5f31","type":"switch","z":"c4830f876071dcd4","name":"Hue gefunden?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":200,"wires":[["7fa0589014d33877"],["a3f72cd018f37fca"]]},{"id":"a3f72cd018f37fca","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampe rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"{\"h\":0, \"s\":100, \"v\":1}","payloadType":"json","transition":0,"x":740,"y":300,"wires":[]},{"id":"33bad39196b8d90b","type":"change","z":"c4830f876071dcd4","name":"hue ist bei start noch nicht gefunden","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[[]]},{"id":"21eb50583d863a6e","type":"inject","z":"c4830f876071dcd4","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":1060,"wires":[["33bad39196b8d90b","ef866c3824d998be","e4fb863a2a038133"]]},{"id":"7a6de047588b2386","type":"comment","z":"c4830f876071dcd4","name":"wurde die farbe einmal gefunden bleibt sie rot","info":"","x":470,"y":300,"wires":[]},{"id":"a0c04a0aba356ce7","type":"link in","z":"c4830f876071dcd4","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0","2e16259bd14befa9","9fd47a791457216c"],"x":90,"y":900,"wires":[["38068ec86948c73e"]],"l":true},{"id":"b796b3117bf2aee8","type":"pythonshell in","z":"c4830f876071dcd4","name":"raetsel04.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel04.py","virtualenv":"","continuous":true,"stdInData":true,"x":1880,"y":560,"wires":[[]]},{"id":"db2f3d6dbf575d73","type":"change","z":"c4830f876071dcd4","name":"falsche Farbe","rules":[{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":520,"wires":[["b796b3117bf2aee8"]]},{"id":"802a64900b4c3850","type":"change","z":"c4830f876071dcd4","name":"Farbe gefunden","rules":[{"t":"set","p":"payload","pt":"msg","to":"korrekt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":600,"wires":[["23da78bac8e6d638"]]},{"id":"a69f49d974267fa6","type":"link in","z":"c4830f876071dcd4","name":"init","links":["1d2151b8af098f9f"],"x":1400,"y":560,"wires":[["926c90d78260a284"]],"l":true},{"id":"0c7454a26f4af936","type":"link in","z":"c4830f876071dcd4","name":"stop","links":["790fac37d0c4accb","cad92d079ab94330","1f84fcc785cfcdcc","2e16259bd14befa9","9fd47a791457216c"],"x":1400,"y":640,"wires":[["5337535ede058437"]],"l":true},{"id":"926c90d78260a284","type":"change","z":"c4830f876071dcd4","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":560,"wires":[["b796b3117bf2aee8"]]},{"id":"23da78bac8e6d638","type":"change","z":"c4830f876071dcd4","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":600,"wires":[["b796b3117bf2aee8"]]},{"id":"5337535ede058437","type":"switch","z":"c4830f876071dcd4","name":"überhaupt aktiv?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":640,"wires":[["b796b3117bf2aee8"]]},{"id":"bfc968abc5f0a225","type":"link in","z":"c4830f876071dcd4","name":"Zustand laden","links":["1ed8806043b58285"],"x":1420,"y":480,"wires":[["ab2c62267794335c"]],"l":true},{"id":"ab2c62267794335c","type":"switch","z":"c4830f876071dcd4","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":480,"wires":[["b796b3117bf2aee8"]]},{"id":"e4fb863a2a038133","type":"change","z":"c4830f876071dcd4","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1120,"wires":[[]]},{"id":"a633f3a468538460","type":"link out","z":"c4830f876071dcd4","name":"starte Rätsel 5","mode":"link","links":["7e2c4857f0cc3b86"],"x":1430,"y":720,"wires":[],"l":true},{"id":"6abea62004e7edb6","type":"zigbee2mqtt-in","z":"c4830f876071dcd4","name":"","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"action","outputAtStartup":true,"x":70,"y":200,"wires":[["ad07c7be1a0fda68"]]},{"id":"8f2942c0aa5f83eb","type":"comment","z":"c4830f876071dcd4","name":"Initialisierung","info":"","x":90,"y":1000,"wires":[]},{"id":"82b4e83019f0d391","type":"comment","z":"c4830f876071dcd4","name":"Spielstand auf dem Bildschirm anzeigen","info":"","x":1500,"y":440,"wires":[]},{"id":"a3cfab0ea4026283","type":"function","z":"c4830f876071dcd4","name":"zufällige Farbe","func":"let hue=Math.floor(Math.random()*360)\nmsg.payload=msg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nflow.set(\"hue\",hue)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":100,"wires":[["dd80f8dd7fad6715"]]},{"id":"dd80f8dd7fad6715","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":100,"wires":[]},{"id":"7f81ab76cf3ffbfa","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampe blinkt lange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"lselect","payloadType":"z2m_payload","transition":0,"x":1270,"y":180,"wires":[]},{"id":"6588f0ba7ec46813","type":"change","z":"c4830f876071dcd4","name":"reset hue","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"{     \"h\": 180,     \"s\":100,     \"v\":1 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":160,"wires":[["d002cdc5a4d9fe47"]]},{"id":"d002cdc5a4d9fe47","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":140,"wires":[]},{"id":"54916fe552026dc7","type":"function","z":"c4830f876071dcd4","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":220,"wires":[["eaf1cbd5170af87a"]]},{"id":"eaf1cbd5170af87a","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":220,"wires":[]},{"id":"876193e7b7dfa7df","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1180,"y":400,"wires":[]},{"id":"0ea8bb71db133572","type":"delay","z":"c4830f876071dcd4","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1030,"y":400,"wires":[["876193e7b7dfa7df"]]},{"id":"a71cdb340ccd089d","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1180,"y":360,"wires":[]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]