node-red/einzelne_raetsel/raetsel1.json
[{"id":"810166cd2ced41a5","type":"tab","label":"Rätsel 1","disabled":false,"info":"","env":[]},{"id":"190efb1ffe02d4d6","type":"inject","z":"810166cd2ced41a5","name":"Starten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payloadType":"date","x":180,"y":120,"wires":[["e898e76ebf7a297e"]]},{"id":"e07796aea5dccd7b","type":"comment","z":"810166cd2ced41a5","name":"Rätsel 1","info":"","x":130,"y":80,"wires":[]},{"id":"fd50383812eea4cb","type":"function","z":"810166cd2ced41a5","name":"Alles richtig?","func":"\nif(msg.payload.includes(\"bereit\")){\n    msg.payload=true\n}\nelse \n    msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":100,"wires":[["40edd5355b6f9398"]]},{"id":"119758904b309a90","type":"delay","z":"810166cd2ced41a5","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1080,"y":100,"wires":[["c916c8a2721bf515","6bbd262127f56061"]]},{"id":"c916c8a2721bf515","type":"pythonshell in","z":"810166cd2ced41a5","name":"rätsel02.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel02.py","virtualenv":"","continuous":false,"stdInData":false,"x":1310,"y":100,"wires":[[]]},{"id":"037c441fd1ad8cd0","type":"link in","z":"810166cd2ced41a5","name":"KEY2 gedrückt","links":["3710a54ce312a6ac"],"x":340,"y":180,"wires":[["b234710abe563eef"]],"l":true},{"id":"40edd5355b6f9398","type":"switch","z":"810166cd2ced41a5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":920,"y":100,"wires":[["119758904b309a90"]]},{"id":"aee455ca3e3f2d9c","type":"debug","z":"810166cd2ced41a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":140,"wires":[]},{"id":"b234710abe563eef","type":"exec","z":"810166cd2ced41a5","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/raetsel01.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"rätsel01.py","x":550,"y":120,"wires":[["fd50383812eea4cb","aee455ca3e3f2d9c"],[],[]]},{"id":"6bbd262127f56061","type":"change","z":"810166cd2ced41a5","name":"starte das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":60,"wires":[[]]},{"id":"639f151d01f08a90","type":"inject","z":"810166cd2ced41a5","name":"Spiel an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":180,"y":280,"wires":[["21d1658baf94d5b7"]]},{"id":"21d1658baf94d5b7","type":"change","z":"810166cd2ced41a5","name":"Spiel inaktiv","rules":[{"t":"set","p":"game","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[[]]},{"id":"0078a599a7413206","type":"inject","z":"810166cd2ced41a5","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":190,"y":320,"wires":[["21d1658baf94d5b7"]]},{"id":"e898e76ebf7a297e","type":"switch","z":"810166cd2ced41a5","name":"Alles Aktiv?","property":"aktiv","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":120,"wires":[["b234710abe563eef"]]}]