node-red/einzelne_raetsel/raetsel2.json
[{"id":"daacce7bff44f082","type":"tab","label":"Rätsel 2","disabled":false,"info":"","env":[]},{"id":"beea4497cb75a1e5","type":"switch","z":"daacce7bff44f082","name":"Kontakt hergestellt? ","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":240,"wires":[["4d834755c2e09ae8","b419e55653482bc5","c16dc1585ff0eeb7","79f46c9b6f5c87f0"],["5317323e40b2d2f8","291a7b7a1b9307ed"]]},{"id":"4d834755c2e09ae8","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Steckdose an","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":1080,"y":100,"wires":[]},{"id":"c27eac6a1e5b9580","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Steckdose aus","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":0,"x":1340,"y":600,"wires":[]},{"id":"23b22fb7de2d59ce","type":"zigbee2mqtt-in","z":"daacce7bff44f082","name":"Kontaktsensor","server":"51d0b9cf.a79dd8","friendly_name":"","device_id":"0x00124b001fb87c52","state":"contact","outputAtStartup":true,"x":90,"y":180,"wires":[["beea4497cb75a1e5"]]},{"id":"48ca291ac9d0db16","type":"link in","z":"daacce7bff44f082","name":"Reset Knopf","links":["23bfa454fb1f2ba0"],"x":670,"y":600,"wires":[["291a7b7a1b9307ed","5317323e40b2d2f8","9f7bf697cab29f9b"]],"l":true},{"id":"4ce0b6d7edee9691","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1240,"y":180,"wires":[]},{"id":"b419e55653482bc5","type":"delay","z":"daacce7bff44f082","name":"warte 1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":180,"wires":[["4ce0b6d7edee9691","f116c2f0c723f47d"]]},{"id":"f116c2f0c723f47d","type":"delay","z":"daacce7bff44f082","name":"warte 0,5s","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["e25ba40b95caf8a0"]]},{"id":"c16dc1585ff0eeb7","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Licht weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"0","x":1060,"y":60,"wires":[]},{"id":"291a7b7a1b9307ed","type":"delay","z":"daacce7bff44f082","name":"erst Lampenfarbe ändern","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":600,"wires":[["c27eac6a1e5b9580"]]},{"id":"5eadc5196c7a3336","type":"inject","z":"daacce7bff44f082","name":"Glühbirne an beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["4d503b0ebb79ecd2"]]},{"id":"4d503b0ebb79ecd2","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"1","x":370,"y":760,"wires":[]},{"id":"93e590ef6f4a6cce","type":"inject","z":"daacce7bff44f082","name":"Glühbirne weiß beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":820,"wires":[["19a21756aa20a00e"]]},{"id":"19a21756aa20a00e","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"1","x":370,"y":820,"wires":[]},{"id":"e25ba40b95caf8a0","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1320,"y":220,"wires":[]},{"id":"5317323e40b2d2f8","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Licht weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ffffff","payloadType":"str","transition":0,"x":1060,"y":640,"wires":[]},{"id":"7df7af6b7aa61688","type":"link out","z":"daacce7bff44f082","name":"Starte Morsespiel","mode":"link","links":["2b79e59a956dd6e2"],"x":1270,"y":320,"wires":[],"l":true},{"id":"79f46c9b6f5c87f0","type":"switch","z":"daacce7bff44f082","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":320,"wires":[["7df7af6b7aa61688"]]},{"id":"9f7bf697cab29f9b","type":"change","z":"daacce7bff44f082","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[[]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"}]