node-red/einzelne_raetsel/steuerung.json
[{"id":"293b25f281cd0f2e","type":"tab","label":"Steuerung","disabled":false,"info":"","env":[]},{"id":"9de9282ac9aa5be2","type":"comment","z":"293b25f281cd0f2e","name":"Steuerung bei inaktivem Spiel","info":"","x":160,"y":40,"wires":[]},{"id":"d36cd46bd0b62658","type":"zigbee2mqtt-in","z":"293b25f281cd0f2e","name":"Licht","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"0","outputAtStartup":true,"x":90,"y":120,"wires":[["a556529ad3970bd8"]]},{"id":"de59922b54b48e96","type":"switch","z":"293b25f281cd0f2e","name":"Licht An wenn Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":120,"wires":[["01fb0b5ff811e721"]]},{"id":"01fb0b5ff811e721","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":710,"y":120,"wires":[]},{"id":"a556529ad3970bd8","type":"switch","z":"293b25f281cd0f2e","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":120,"wires":[["de59922b54b48e96"],[]]},{"id":"7aace5c4b398cfa7","type":"zigbee2mqtt-in","z":"293b25f281cd0f2e","name":"Cube","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":90,"y":460,"wires":[["66252d65dde529e8"]]},{"id":"66252d65dde529e8","type":"switch","z":"293b25f281cd0f2e","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":460,"wires":[[],["210432c31233796a"]]},{"id":"210432c31233796a","type":"switch","z":"293b25f281cd0f2e","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"fall","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":550,"y":460,"wires":[["20fa1da107a7d1b2"],["8510647f43ba2577"],["d1bdf0850157c404"],["d0888ce6845ebeec"],["642974ac5255283b"],["9243c18c64d5c3e3"],["e1f55a3e26cc896d"],["3c61a9d15d78ace0"]]},{"id":"dc5af532b7d347c6","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":280,"wires":[]},{"id":"20fa1da107a7d1b2","type":"function","z":"293b25f281cd0f2e","name":"hue+5","func":"var hue = flow.get(\"hue\")\nif(hue<355){\n    hue+=5\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":280,"wires":[["dc5af532b7d347c6"]]},{"id":"8510647f43ba2577","type":"function","z":"293b25f281cd0f2e","name":"hue-5","func":"var hue = flow.get(\"hue\")\nif(hue>5){\n    hue-=5\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":320,"wires":[["dc5af532b7d347c6"]]},{"id":"3c61a9d15d78ace0","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe blinkt lange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"lselect","payloadType":"z2m_payload","transition":0,"x":770,"y":700,"wires":[]},{"id":"6f32f889e24b496f","type":"inject","z":"293b25f281cd0f2e","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":110,"y":760,"wires":[["7e12872d3b299b69","b17fb3d0e14fdd0e"]]},{"id":"7e12872d3b299b69","type":"change","z":"293b25f281cd0f2e","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":760,"wires":[[]]},{"id":"0553e05904cb1033","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Licht wird heller","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":960,"y":440,"wires":[]},{"id":"b17fb3d0e14fdd0e","type":"change","z":"293b25f281cd0f2e","name":"helligkeit = 0","rules":[{"t":"set","p":"helligkeit","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":800,"wires":[[]]},{"id":"d0888ce6845ebeec","type":"function","z":"293b25f281cd0f2e","name":"helligkeit + 5 ","func":"var helligkeit = flow.get(\"helligkeit\")\nif(helligkeit<230){\n    helligkeit+=25\n}else{\n    helligkeit=0\n}\nflow.set(\"helligkeit\", helligkeit)\nmsg.payload=helligkeit\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":440,"wires":[["0553e05904cb1033"]]},{"id":"d1bdf0850157c404","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Licht blinkt kurz","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":0,"x":960,"y":360,"wires":[]},{"id":"16ff6d163a7cb411","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":640,"wires":[]},{"id":"e1f55a3e26cc896d","type":"function","z":"293b25f281cd0f2e","name":"zufällige Farbe","func":"msg.payload=msg.payload={\n    \"h\": Math.floor(Math.random()*360),\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":640,"wires":[["16ff6d163a7cb411"]]},{"id":"642974ac5255283b","type":"change","z":"293b25f281cd0f2e","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":480,"wires":[["3d939afc9d47a18d"]]},{"id":"3d939afc9d47a18d","type":"mqtt out","z":"293b25f281cd0f2e","name":"Kiste öffnen/schließen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":980,"y":500,"wires":[]},{"id":"9243c18c64d5c3e3","type":"change","z":"293b25f281cd0f2e","name":"Kiste schließen","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":520,"wires":[["3d939afc9d47a18d"]]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]