node-red/einzelne_raetsel/steuerung.json
[{"id":"d96669711b05c637","type":"tab","label":"Steuerung","disabled":false,"info":"","env":[]},{"id":"57ef84a95fedc628","type":"comment","z":"d96669711b05c637","name":"Schalter steuert Glühbirne","info":"","x":150,"y":40,"wires":[]},{"id":"bcd5dd4ae62c1203","type":"zigbee2mqtt-in","z":"d96669711b05c637","name":"Licht","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"0","outputAtStartup":true,"x":90,"y":260,"wires":[["58a987a46781d397"]]},{"id":"eb4f10d62e5e12a0","type":"switch","z":"d96669711b05c637","name":"Licht An wenn Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["dff6085cde53d574"]]},{"id":"dff6085cde53d574","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":710,"y":260,"wires":[]},{"id":"58a987a46781d397","type":"switch","z":"d96669711b05c637","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":260,"wires":[["eb4f10d62e5e12a0"],[]]},{"id":"ac4b707aba48eabc","type":"zigbee2mqtt-in","z":"d96669711b05c637","name":"Cube","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":90,"y":600,"wires":[["78232af58aeac373"]]},{"id":"78232af58aeac373","type":"switch","z":"d96669711b05c637","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":600,"wires":[[],["3c47521ac2febe3c"]]},{"id":"3c47521ac2febe3c","type":"switch","z":"d96669711b05c637","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"fall","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":550,"y":600,"wires":[["3093002c2957b633"],["028f860aaa116b8f"],["64ade1b2cbd49a4a"],["d0a41689226e9416"],["b22fb9e0d80a90b4"],["b16f2a10383e0c13"],["39972e103d0384e3"],["1f2272fd87d20102"]]},{"id":"1f2272fd87d20102","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampe blinkt lange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"lselect","payloadType":"z2m_payload","transition":0,"x":770,"y":840,"wires":[]},{"id":"32c56bf6f5281b53","type":"inject","z":"d96669711b05c637","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":820,"wires":[["c082216e3ce15da0","f7091d62f155e8fb"]]},{"id":"c082216e3ce15da0","type":"change","z":"d96669711b05c637","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":820,"wires":[[]]},{"id":"f7091d62f155e8fb","type":"change","z":"d96669711b05c637","name":"helligkeit = 0","rules":[{"t":"set","p":"helligkeit","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":860,"wires":[[]]},{"id":"64ade1b2cbd49a4a","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Licht blinkt kurz","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":0,"x":960,"y":500,"wires":[]},{"id":"728679feccf1c169","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":780,"wires":[]},{"id":"39972e103d0384e3","type":"function","z":"d96669711b05c637","name":"zufällige Farbe","func":"msg.payload=msg.payload={\n    \"h\": Math.floor(Math.random()*360),\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":780,"wires":[["728679feccf1c169"]]},{"id":"b22fb9e0d80a90b4","type":"change","z":"d96669711b05c637","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":620,"wires":[["67d5a5ed3b47269e"]]},{"id":"67d5a5ed3b47269e","type":"mqtt out","z":"d96669711b05c637","name":"Kiste öffnen/schließen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":980,"y":640,"wires":[]},{"id":"b16f2a10383e0c13","type":"change","z":"d96669711b05c637","name":"Kiste schließen","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":660,"wires":[["67d5a5ed3b47269e"]]},{"id":"3093002c2957b633","type":"function","z":"d96669711b05c637","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":400,"wires":[["39a5d50f47e8ca6d"]]},{"id":"028f860aaa116b8f","type":"function","z":"d96669711b05c637","name":"hue-15","func":"var hue = flow.get(\"hue\")\nif(hue>15){\n    hue-=15\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":440,"wires":[["39a5d50f47e8ca6d"]]},{"id":"d0a41689226e9416","type":"function","z":"d96669711b05c637","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":580,"wires":[["f1f10d91103f5784"]]},{"id":"f1f10d91103f5784","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":580,"wires":[]},{"id":"39a5d50f47e8ca6d","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"payload","commandType":"msg","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":420,"wires":[]},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]