node-red/einzelne_raetsel/webpage.json
[{"id":"65540d385481460f","type":"tab","label":"Webpage","disabled":false,"info":"","env":[]},{"id":"0c57b071331aa3b2","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":4,"width":10,"height":"3","name":"knopf","label":"<b>Knopf</b> <br> ändert Lichtfarbe durch Tastendruck <br> langer Tastendruck <b> lang _  </b> = Pink<br> kurzer Tastendruck <b> kurz  .  </b> = Aufblinken weiß <br> doppelter Tastendruck <b> 2x ..  </b> = Orange","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":990,"y":1340,"wires":[]},{"id":"7cda27c5e4c5a9db","type":"ui_switch","z":"65540d385481460f","name":"","label":"Escape-Game aktiv?","tooltip":"","group":"6284d85e20f17d01","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":340,"y":280,"wires":[["c80590c7c2f8d9af"]]},{"id":"fb0042af96358a50","type":"inject","z":"65540d385481460f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":280,"wires":[["7cda27c5e4c5a9db"]]},{"id":"c80590c7c2f8d9af","type":"function","z":"65540d385481460f","name":"Ist das Escape-Game aktiv?","func":"var g=msg.payload;\nglobal.set('gameui',g);\nmsg.payload=global.get('gameui');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[[]]},{"id":"0c85cb3b243c3b51","type":"ui_text","z":"65540d385481460f","group":"6284d85e20f17d01","order":3,"width":14,"height":1,"name":"Erklärtext","label":"In der Steuerungszentrale könnt ihr alle Geräte selbst kontrollieren und beobachten.","format":"","layout":"row-left","className":"","x":120,"y":180,"wires":[]},{"id":"153b2b06f5a21a1b","type":"comment","z":"65540d385481460f","name":"Willkommen","info":"","x":100,"y":60,"wires":[]},{"id":"aec655a111437eb9","type":"comment","z":"65540d385481460f","name":"Licht-Steuerung","info":"","x":140,"y":660,"wires":[]},{"id":"d2537c24d48d505e","type":"comment","z":"65540d385481460f","name":"Sensoren und Schalter","info":"","x":130,"y":1240,"wires":[]},{"id":"4496c0e037d85bad","type":"switch","z":"65540d385481460f","name":"release herausfiltern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"release","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1340,"wires":[[],["1ff90e68cc7c299e"]]},{"id":"0c8b53d6475a39ab","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Licht Farbe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":810,"y":780,"wires":[]},{"id":"b70b6d4db88d8115","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Licht Anschalten","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":800,"y":720,"wires":[]},{"id":"851afe260681ce33","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Helligkeit","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":820,"y":860,"wires":[]},{"id":"7207ad12163b2ca9","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":850,"y":920,"wires":[]},{"id":"c11c5d2c025d7b2a","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Helligkeit","server":"51d0b9cf.a79dd8","friendly_name":"licht","device_id":"0xec1bbdfffe6a494f","state":"brightness","outputAtStartup":true,"x":140,"y":860,"wires":[["3e0fb8eff8451ecf"]]},{"id":"2e655c4161859188","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"licht","device_id":"0xec1bbdfffe6a494f","state":"color_temp","outputAtStartup":true,"x":150,"y":920,"wires":[["9904040e1164323f"]]},{"id":"797956c980b0dc94","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Lichtfarbe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"0","outputAtStartup":true,"x":140,"y":780,"wires":[["4cf947e6e12d5c5f"]]},{"id":"06233c14cf7fe335","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Licht An?","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"state","outputAtStartup":true,"x":140,"y":720,"wires":[["e674aaa24ffb11c5"]]},{"id":"e674aaa24ffb11c5","type":"ui_switch","z":"65540d385481460f","name":"Glühbirne","label":"<b>Smarte Glühbirne</b> <br> an- und ausschalten, Farbe, Helligkeit oder Temperatur ändern </br>","tooltip":"","group":"aacd28b7b5f411c8","order":4,"width":10,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"className":"","x":300,"y":720,"wires":[["b70b6d4db88d8115"]]},{"id":"9b03f6d8d6300916","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Schalter","server":"ff640e9cb65e4729","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"0","outputAtStartup":true,"x":100,"y":1340,"wires":[["4560cd720fc84460"]]},{"id":"10c688961f763232","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Cube","server":"51d0b9cf.a79dd8","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":90,"y":1420,"wires":[["f53c15788a93c173"]]},{"id":"09bac57c073928d1","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":5,"width":10,"height":2,"name":"Cube","label":"<b>Smarter Würfel</b> <br> ändert Lichtfarbe durch Bewegung ","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":510,"y":1420,"wires":[]},{"id":"1ff90e68cc7c299e","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"switch (msg.payload.action){\n    case \"single\": msg.payload=\"kurz\"; break\n    case \"double\": msg.payload=\"doppelklick\"; break\n    case \"hold\": msg.payload=\"lang\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1340,"wires":[["0c57b071331aa3b2"]]},{"id":"f53c15788a93c173","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"if(msg.payload.action===undefined){\n    msg.payload=\"nicht verbunden\"\n}\n\nswitch (msg.payload.action){\n    case \"tap\": msg.payload=\"klopfen\"; break\n    case \"shake\": msg.payload=\"schütteln\"; break\n    case \"wakeup\": msg.payload=\"aufwachen\"; break \n    case \"fall\": msg.payload=\"fallen\"; break\n    case \"slide\": msg.payload=\"schieben\"; break\n    case \"flip180\": msg.payload=\"kippen um 180°\"; break\n    case \"flip90\": msg.payload=\"kippen um 90°\"; break\n    case \"rotate_left\": msg.payload=\"drehen nach links\"; break\n    case \"rotate_right\": msg.payload=\"drehen nach rechts\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1420,"wires":[["09bac57c073928d1"]]},{"id":"a69cd172bdc5cc55","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"temp","device_id":"0x00124b00239de4fb","state":"0","outputAtStartup":true,"x":110,"y":1980,"wires":[["168a666920b85e2a"]]},{"id":"c5d8d1fba374151a","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":4,"width":10,"height":1,"name":"Temperatursensor","label":"<b> Temperatur-Sensor </b> <br> misst Temperatur und Luftfeuchtigkeit","format":"","layout":"row-spread","className":"","x":130,"y":1920,"wires":[]},{"id":"5aae5f7947236cf5","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":5,"width":10,"height":1,"name":"Luftfeuchtigkeit","label":"<b>Luftfeuchtigkeit</b>","format":"<font color= #458787>{{msg.payload}}% </font color>","layout":"row-spread","className":"","x":530,"y":2040,"wires":[]},{"id":"e6c990739977ff8d","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Luftfeuchtigkeit","server":"51d0b9cf.a79dd8","friendly_name":"temp","device_id":"0x00124b00239de4fb","state":"0","outputAtStartup":true,"x":120,"y":2040,"wires":[["2c7e8b9e8b2dbd39"]]},{"id":"a45c61aa2a1fbe4a","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":3,"width":10,"height":1,"name":"Bewegungssensor","label":"<b> Bewegungs-Sensor </b> <br> erkennt Bewegung in der Umgebung","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":550,"y":1500,"wires":[]},{"id":"894653aadc227c71","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"if(msg.payload.occupancy===undefined){\n    msg.payload=\"nicht verbunden\"\n}\nswitch (msg.payload.occupancy){\n    case true: msg.payload=\"Bewegung erkannt\"; break\n    case false: msg.payload=\"Keine Bewegung\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1500,"wires":[["a45c61aa2a1fbe4a"]]},{"id":"f14dd37c2a9b9935","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Bewegungsmelder","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":130,"y":1500,"wires":[["894653aadc227c71"]]},{"id":"24a71c2a5d798663","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"  \nswitch (msg.payload.action){\n    case \"vibration\": msg.payload=\"Vibration\"; break\n    case \"tilt\": msg.payload=\"Kippen\"; break\n    case \"drop\": msg.payload=\"Fallen\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2120,"wires":[["930dcacb7bdc40a4"]]},{"id":"6837dc062d10e9a2","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Erschütterungssensor","server":"51d0b9cf.a79dd8","friendly_name":"vibration","device_id":"0x00158d0006d51f99","state":"0","outputAtStartup":true,"x":140,"y":2120,"wires":[["5db99f2de44cf49c"]]},{"id":"9aae3a3ff24e0865","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"2. Kontakt","server":"51d0b9cf.a79dd8","friendly_name":"kontakt","device_id":"0x00158d000396a2c0","state":"contact","outputAtStartup":true,"x":100,"y":1580,"wires":[["2a7b3fbe22d0d9de"]]},{"id":"2a7b3fbe22d0d9de","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"switch (msg.payload){\n    case true: msg.payload=\"geschlossen\"; break\n    case false: msg.payload=\"geöffnet\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1580,"wires":[["c182bf862ddf27bc"]]},{"id":"c182bf862ddf27bc","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":2,"width":10,"height":1,"name":"Kontaktsensor","label":"<b> Kontaktsensor </b> <br>geöffnet oder geschlossen","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":560,"y":1580,"wires":[]},{"id":"11910bbd6522e7dd","type":"ui_button","z":"65540d385481460f","name":"","group":"ff8db0b09d9a9440","order":1,"width":10,"height":1,"passthru":false,"label":"Sensoren & Schalter","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1280,"wires":[[]]},{"id":"7b47e3a8fc6ce57b","type":"comment","z":"65540d385481460f","name":"Geräte","info":"","x":90,"y":380,"wires":[]},{"id":"266cea8d5c40632f","type":"ui_switch","z":"65540d385481460f","name":"kiste","label":"<b>Smartes Schloss</b> <br> Kiste öffnen oder schließen </br>","tooltip":"","group":"aacd28b7b5f411c8","order":2,"width":10,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":110,"y":520,"wires":[["01f1abaa12fc0578"]]},{"id":"01f1abaa12fc0578","type":"mqtt out","z":"65540d385481460f","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":370,"y":520,"wires":[]},{"id":"ac8e3023292828d8","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Steckdose","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","state":"state","outputAtStartup":true,"x":120,"y":580,"wires":[["aa8bf54dfbe40303"]]},{"id":"aa8bf54dfbe40303","type":"ui_switch","z":"65540d385481460f","name":"steckdose","label":"<b>Smarte Steckdose</b> <br> an- oder ausschalten </br>","tooltip":"","group":"aacd28b7b5f411c8","order":3,"width":10,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"className":"","x":350,"y":580,"wires":[["9f79271206a7038f"]]},{"id":"9f79271206a7038f","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Steckdose steuern","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":550,"y":580,"wires":[]},{"id":"986f341c0856e100","type":"ui_button","z":"65540d385481460f","name":"","group":"aacd28b7b5f411c8","order":1,"width":10,"height":1,"passthru":false,"label":"Geräte","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":460,"wires":[[]]},{"id":"96f7061782f7bf9c","type":"ui_button","z":"65540d385481460f","name":"","group":"6284d85e20f17d01","order":1,"width":20,"height":1,"passthru":false,"label":"Escape Game","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[[]]},{"id":"5db99f2de44cf49c","type":"switch","z":"65540d385481460f","name":"aktionen filtern","property":"payload.action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":2120,"wires":[["24a71c2a5d798663"]]},{"id":"4560cd720fc84460","type":"switch","z":"65540d385481460f","name":"aktion durchgeführt?","property":"payload.action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1340,"wires":[["4496c0e037d85bad"]]},{"id":"2c7e8b9e8b2dbd39","type":"change","z":"65540d385481460f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2040,"wires":[["5aae5f7947236cf5"]]},{"id":"4cf947e6e12d5c5f","type":"change","z":"65540d385481460f","name":"übersetzen","rules":[{"t":"delete","p":"payload.hue","pt":"msg"},{"t":"delete","p":"payload.saturation","pt":"msg"},{"t":"delete","p":"payload.x","pt":"msg"},{"t":"delete","p":"payload.y","pt":"msg"},{"t":"set","p":"payload.v","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":780,"wires":[["58caf1c94b5f5ef1"]]},{"id":"62879bc4b8701931","type":"range","z":"65540d385481460f","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"Skalieren","x":650,"y":860,"wires":[["851afe260681ce33"]]},{"id":"3e0fb8eff8451ecf","type":"range","z":"65540d385481460f","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"Skalieren","x":300,"y":860,"wires":[["1a6d31a74ab6f3b6"]]},{"id":"9904040e1164323f","type":"range","z":"65540d385481460f","minin":"153","maxin":"500","minout":"11000","maxout":"1500","action":"scale","round":false,"property":"payload","name":"Skalieren","x":310,"y":920,"wires":[["7c20e4269cfab30f"]]},{"id":"53846af60194a85f","type":"range","z":"65540d385481460f","minin":"1500","maxin":"11000","minout":"500","maxout":"153","action":"scale","round":false,"property":"payload","name":"Skalieren","x":690,"y":920,"wires":[["7207ad12163b2ca9"]]},{"id":"8b0a516c6c4b3751","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":2,"width":20,"height":2,"name":"Technikfächer","label":"Im Koffer findet ihr noch zwei weitere Sensoren. Lest euch im Technik-Fächer durch, was die beiden Sensoren können und probiert diese gerne auch aus!","format":"{{msg.payload}}","layout":"row-spread","className":"","x":120,"y":1880,"wires":[]},{"id":"5279627ff5099b38","type":"comment","z":"65540d385481460f","name":"Weitere Technikelemente","info":"","x":140,"y":1800,"wires":[]},{"id":"168a666920b85e2a","type":"change","z":"65540d385481460f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1980,"wires":[["7ed4301fa3e0fe7c"]]},{"id":"7ed4301fa3e0fe7c","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":6,"width":10,"height":1,"name":"Temperatur","label":"<b>Temperatur</b>","format":"<font color= #458787>{{msg.payload}}°C </font color>","layout":"row-spread","className":"","x":540,"y":1980,"wires":[]},{"id":"1a05eae6e08fd234","type":"ui_button","z":"65540d385481460f","name":"","group":"874432780fb24b53","order":1,"width":20,"height":1,"passthru":false,"label":"Mehr Technik","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1840,"wires":[[]]},{"id":"584a4899edbb0cce","type":"ui_text","z":"65540d385481460f","group":"5089b42917d51a22","order":2,"width":20,"height":3,"name":"willkommen","label":"<b> Herzlich Willkommen in der Steuerungszentrale! </b> <p>","format":"<br> Nehmt euch den Technik-Fächer aus dem Koffer zur Hilfe und erlebt, versteht und probiert aus, was ihr mit der Smart Home Technik alles verändern könnt!","layout":"col-center","className":"","x":130,"y":140,"wires":[]},{"id":"b464e3be610277e6","type":"ui_template","z":"65540d385481460f","group":"5089b42917d51a22","name":"Style","order":1,"width":0,"height":0,"format":"<style>\n    button {\n        text-align: left !important;\n        padding: 0px 10px !important;\n        box-shadow: none !important;\n    }\n    \n    spacer-text {\n        background-color:red !important;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":350,"y":60,"wires":[[]]},{"id":"75606bd7cbb5d76b","type":"ui_text","z":"65540d385481460f","d":true,"group":"aacd28b7b5f411c8","order":9,"width":10,"height":1,"name":"Leer","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"spacer-text","x":110,"y":1120,"wires":[]},{"id":"58caf1c94b5f5ef1","type":"ui_iro-color-picker","z":"65540d385481460f","group":"aacd28b7b5f411c8","order":5,"width":10,"height":4,"name":"","label":"Farbe","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"horizontal","widgetIndent":"6","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"saturation"},"componentId":"slider"}],"format":"hex","outFormat":"hexString","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#00ff06","x":470,"y":780,"wires":[["0c8b53d6475a39ab"]]},{"id":"1a6d31a74ab6f3b6","type":"ui_iro-color-picker","z":"65540d385481460f","group":"aacd28b7b5f411c8","order":6,"width":0,"height":0,"name":"","label":"Helligkeit","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"value"},"componentId":"slider"}],"format":"hex","outFormat":"value","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#ffffff","x":480,"y":860,"wires":[["62879bc4b8701931"]]},{"id":"7c20e4269cfab30f","type":"ui_iro-color-picker","z":"65540d385481460f","group":"aacd28b7b5f411c8","order":7,"width":0,"height":0,"name":"","label":"Temperatur","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"kelvin","minTemperature":1500,"maxTemperature":11000},"componentId":"slider"}],"format":"hex","outFormat":"kelvin","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#ffffff","x":500,"y":920,"wires":[["53846af60194a85f"]]},{"id":"930dcacb7bdc40a4","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":3,"width":10,"height":3,"name":"Erschütterungssensor","label":"<b> Erschütterungssensor </b> <br> erkennt Erschütterungen","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":760,"y":2120,"wires":[]},{"id":"562b4a6cace82201","type":"ui_button","z":"65540d385481460f","name":"Leer","group":"aacd28b7b5f411c8","order":8,"width":"10","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#808080","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":1120,"wires":[[]]},{"id":"831fa110bb699df1","type":"ui_button","z":"65540d385481460f","name":"Leer","group":"ff8db0b09d9a9440","order":6,"width":"10","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#808080","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1700,"wires":[[]]},{"id":"ff8db0b09d9a9440","type":"ui_group","name":"Sensoren & Schalter","tab":"0ac085af97148ed0","order":4,"disp":false,"width":"10","collapse":false,"className":""},{"id":"6284d85e20f17d01","type":"ui_group","name":"Escape Game","tab":"0ac085af97148ed0","order":2,"disp":false,"width":"20","collapse":false,"className":""},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"aacd28b7b5f411c8","type":"ui_group","name":"Geräte","tab":"0ac085af97148ed0","order":3,"disp":false,"width":"10","collapse":false,"className":""},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"874432780fb24b53","type":"ui_group","name":"Mehr Technik","tab":"0ac085af97148ed0","order":5,"disp":false,"width":"20","collapse":false,"className":""},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5089b42917d51a22","type":"ui_group","name":"Willkommen","tab":"0ac085af97148ed0","order":1,"disp":false,"width":"20","collapse":false,"className":"willkommen"},{"id":"0ac085af97148ed0","type":"ui_tab","name":"Steuerungszentrale","icon":"dashboard","order":3,"disabled":false,"hidden":false}]