node-red/escape-game_komplett.json
[{"id":"65540d385481460f","type":"tab","label":"Webpage","disabled":false,"info":"","env":[]},{"id":"293b25f281cd0f2e","type":"tab","label":"Steuerung","disabled":false,"info":"","env":[]},{"id":"e7f5e33446f1dbf1","type":"tab","label":"Display","disabled":false,"info":"","env":[]},{"id":"fac9e1304a7b55c4","type":"tab","label":"Rätsel 1","disabled":false,"info":"","env":[]},{"id":"daacce7bff44f082","type":"tab","label":"Rätsel 2","disabled":false,"info":"","env":[]},{"id":"3a613ff19558d61a","type":"tab","label":"Rätsel 3","disabled":false,"info":"","env":[]},{"id":"fdba8bf0dcbd65b2","type":"tab","label":"Rätsel 4","disabled":false,"info":"","env":[]},{"id":"5bce10e095c0a077","type":"tab","label":"Rätsel 5","disabled":false,"info":"","env":[]},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b23da57.59c648","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#1a1a1a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#1a1a1a","edited":true},"page-titlebar-backgroundColor":{"value":"#1a1a1a","edited":false},"page-backgroundColor":{"value":"#808080","edited":true},"page-sidebar-backgroundColor":{"value":"#808080","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#808080","edited":true},"group-backgroundColor":{"value":"#808080","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2d5757","edited":true},"widget-borderColor":{"value":"#353535","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":24,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"0ac085af97148ed0","type":"ui_tab","name":"Steuerungszentrale","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"6284d85e20f17d01","type":"ui_group","name":"Escape Game","tab":"0ac085af97148ed0","order":2,"disp":false,"width":"20","collapse":false,"className":""},{"id":"aacd28b7b5f411c8","type":"ui_group","name":"Geräte","tab":"0ac085af97148ed0","order":3,"disp":false,"width":"10","collapse":false,"className":""},{"id":"ff8db0b09d9a9440","type":"ui_group","name":"Sensoren & Schalter","tab":"0ac085af97148ed0","order":4,"disp":false,"width":"10","collapse":false,"className":""},{"id":"874432780fb24b53","type":"ui_group","name":"Mehr Technik","tab":"0ac085af97148ed0","order":5,"disp":false,"width":"20","collapse":false,"className":""},{"id":"5089b42917d51a22","type":"ui_group","name":"Willkommen","tab":"0ac085af97148ed0","order":1,"disp":false,"width":"20","collapse":false,"className":"willkommen"},{"id":"0c57b071331aa3b2","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":4,"width":10,"height":"3","name":"knopf","label":"<b>Knopf</b> <br> ändert Lichtfarbe durch Tastendruck <br> langer Tastendruck <b> lang _  </b> = Pink<br> kurzer Tastendruck <b> kurz  .  </b> = Aufblinken weiß <br> doppelter Tastendruck <b> 2x ..  </b> = Orange","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":990,"y":1340,"wires":[]},{"id":"7cda27c5e4c5a9db","type":"ui_switch","z":"65540d385481460f","name":"","label":"Escape-Game aktiv?","tooltip":"","group":"6284d85e20f17d01","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":340,"y":280,"wires":[["c80590c7c2f8d9af"]]},{"id":"fb0042af96358a50","type":"inject","z":"65540d385481460f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":130,"y":280,"wires":[["7cda27c5e4c5a9db"]]},{"id":"c80590c7c2f8d9af","type":"function","z":"65540d385481460f","name":"Ist das Escape-Game aktiv?","func":"var g=msg.payload;\nglobal.set('gameui',g);\nmsg.payload=global.get('gameui');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":280,"wires":[[]]},{"id":"0c85cb3b243c3b51","type":"ui_text","z":"65540d385481460f","group":"6284d85e20f17d01","order":3,"width":14,"height":1,"name":"Erklärtext","label":"In der Steuerungszentrale könnt ihr alle Geräte selbst kontrollieren und beobachten.","format":"","layout":"row-left","className":"","x":120,"y":180,"wires":[]},{"id":"153b2b06f5a21a1b","type":"comment","z":"65540d385481460f","name":"Willkommen","info":"","x":100,"y":60,"wires":[]},{"id":"aec655a111437eb9","type":"comment","z":"65540d385481460f","name":"Licht-Steuerung","info":"","x":140,"y":660,"wires":[]},{"id":"d2537c24d48d505e","type":"comment","z":"65540d385481460f","name":"Sensoren und Schalter","info":"","x":130,"y":1240,"wires":[]},{"id":"4496c0e037d85bad","type":"switch","z":"65540d385481460f","name":"release herausfiltern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"release","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1340,"wires":[[],["1ff90e68cc7c299e"]]},{"id":"0c8b53d6475a39ab","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Licht Farbe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":810,"y":780,"wires":[]},{"id":"b70b6d4db88d8115","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Licht Anschalten","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":800,"y":720,"wires":[]},{"id":"851afe260681ce33","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Helligkeit","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":820,"y":860,"wires":[]},{"id":"7207ad12163b2ca9","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":850,"y":920,"wires":[]},{"id":"c11c5d2c025d7b2a","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Helligkeit","server":"51d0b9cf.a79dd8","friendly_name":"licht","device_id":"0xec1bbdfffe6a494f","state":"brightness","outputAtStartup":true,"x":140,"y":860,"wires":[["3e0fb8eff8451ecf"]]},{"id":"2e655c4161859188","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"licht","device_id":"0xec1bbdfffe6a494f","state":"color_temp","outputAtStartup":true,"x":150,"y":920,"wires":[["9904040e1164323f"]]},{"id":"797956c980b0dc94","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Lichtfarbe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"0","outputAtStartup":true,"x":140,"y":780,"wires":[["4cf947e6e12d5c5f"]]},{"id":"06233c14cf7fe335","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Licht An?","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"state","outputAtStartup":true,"x":140,"y":720,"wires":[["e674aaa24ffb11c5"]]},{"id":"e674aaa24ffb11c5","type":"ui_switch","z":"65540d385481460f","name":"Glühbirne","label":"<b>Smarte Glühbirne</b> <br> an- und ausschalten, Farbe, Helligkeit oder Temperatur ändern </br>","tooltip":"","group":"aacd28b7b5f411c8","order":4,"width":10,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"className":"","x":300,"y":720,"wires":[["b70b6d4db88d8115"]]},{"id":"9b03f6d8d6300916","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Schalter","server":"ff640e9cb65e4729","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"0","outputAtStartup":true,"x":100,"y":1340,"wires":[["4560cd720fc84460"]]},{"id":"10c688961f763232","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Cube","server":"51d0b9cf.a79dd8","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":90,"y":1420,"wires":[["f53c15788a93c173"]]},{"id":"09bac57c073928d1","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":5,"width":10,"height":2,"name":"Cube","label":"<b>Smarter Würfel</b> <br> ändert Lichtfarbe durch Bewegung ","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":510,"y":1420,"wires":[]},{"id":"1ff90e68cc7c299e","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"switch (msg.payload.action){\n    case \"single\": msg.payload=\"kurz\"; break\n    case \"double\": msg.payload=\"doppelklick\"; break\n    case \"hold\": msg.payload=\"lang\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1340,"wires":[["0c57b071331aa3b2"]]},{"id":"f53c15788a93c173","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"if(msg.payload.action===undefined){\n    msg.payload=\"nicht verbunden\"\n}\n\nswitch (msg.payload.action){\n    case \"tap\": msg.payload=\"klopfen\"; break\n    case \"shake\": msg.payload=\"schütteln\"; break\n    case \"wakeup\": msg.payload=\"aufwachen\"; break \n    case \"fall\": msg.payload=\"fallen\"; break\n    case \"slide\": msg.payload=\"schieben\"; break\n    case \"flip180\": msg.payload=\"kippen um 180°\"; break\n    case \"flip90\": msg.payload=\"kippen um 90°\"; break\n    case \"wakeup\": msg.payload=\"aufwecken\"; break\n    case \"rotate_left\": msg.payload=\"drehen nach links\"; break\n    case \"rotate_right\": msg.payload=\"drehen nach rechts\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1420,"wires":[["09bac57c073928d1"]]},{"id":"a69cd172bdc5cc55","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"temp","device_id":"0x00124b00239de4fb","state":"0","outputAtStartup":true,"x":110,"y":1980,"wires":[["168a666920b85e2a"]]},{"id":"c5d8d1fba374151a","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":4,"width":10,"height":1,"name":"Temperatursensor","label":"<b> Temperatur-Sensor </b> <br> misst Temperatur und Luftfeuchtigkeit","format":"","layout":"row-spread","className":"","x":130,"y":1920,"wires":[]},{"id":"5aae5f7947236cf5","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":5,"width":10,"height":1,"name":"Luftfeuchtigkeit","label":"<b>Luftfeuchtigkeit</b>","format":"<font color= #458787>{{msg.payload}}% </font color>","layout":"row-spread","className":"","x":530,"y":2040,"wires":[]},{"id":"e6c990739977ff8d","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Luftfeuchtigkeit","server":"51d0b9cf.a79dd8","friendly_name":"temp","device_id":"0x00124b00239de4fb","state":"0","outputAtStartup":true,"x":120,"y":2040,"wires":[["2c7e8b9e8b2dbd39"]]},{"id":"a45c61aa2a1fbe4a","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":3,"width":10,"height":1,"name":"Bewegungssensor","label":"<b> Bewegungs-Sensor </b> <br> erkennt Bewegung in der Umgebung","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":550,"y":1500,"wires":[]},{"id":"894653aadc227c71","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"if(msg.payload.occupancy===undefined){\n    msg.payload=\"nicht verbunden\"\n}\nswitch (msg.payload.occupancy){\n    case true: msg.payload=\"Bewegung erkannt\"; break\n    case false: msg.payload=\"Keine Bewegung\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1500,"wires":[["a45c61aa2a1fbe4a"]]},{"id":"f14dd37c2a9b9935","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Bewegungsmelder","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":130,"y":1500,"wires":[["894653aadc227c71"]]},{"id":"24a71c2a5d798663","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"  \nswitch (msg.payload.action){\n    case \"vibration\": msg.payload=\"Vibration\"; break\n    case \"tilt\": msg.payload=\"Kippen\"; break\n    case \"drop\": msg.payload=\"Fallen\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2120,"wires":[["930dcacb7bdc40a4"]]},{"id":"6837dc062d10e9a2","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Erschütterungssensor","server":"51d0b9cf.a79dd8","friendly_name":"vibration","device_id":"0x00158d0006d51f99","state":"0","outputAtStartup":true,"x":140,"y":2120,"wires":[["5db99f2de44cf49c"]]},{"id":"9aae3a3ff24e0865","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"2. Kontakt","server":"51d0b9cf.a79dd8","friendly_name":"kontakt","device_id":"0x00158d000396a2c0","state":"contact","outputAtStartup":true,"x":100,"y":1580,"wires":[["2a7b3fbe22d0d9de"]]},{"id":"2a7b3fbe22d0d9de","type":"function","z":"65540d385481460f","name":"Übersetzen","func":"switch (msg.payload){\n    case true: msg.payload=\"geschlossen\"; break\n    case false: msg.payload=\"geöffnet\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1580,"wires":[["c182bf862ddf27bc"]]},{"id":"c182bf862ddf27bc","type":"ui_text","z":"65540d385481460f","group":"ff8db0b09d9a9440","order":2,"width":10,"height":1,"name":"Kontaktsensor","label":"<b> Kontaktsensor </b> <br>geöffnet oder geschlossen","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":560,"y":1580,"wires":[]},{"id":"11910bbd6522e7dd","type":"ui_button","z":"65540d385481460f","name":"","group":"ff8db0b09d9a9440","order":1,"width":10,"height":1,"passthru":false,"label":"Sensoren & Schalter","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1280,"wires":[[]]},{"id":"7b47e3a8fc6ce57b","type":"comment","z":"65540d385481460f","name":"Geräte","info":"","x":90,"y":380,"wires":[]},{"id":"266cea8d5c40632f","type":"ui_switch","z":"65540d385481460f","name":"kiste","label":"<b>Smartes Schloss</b> <br> Kiste öffnen oder schließen </br>","tooltip":"","group":"aacd28b7b5f411c8","order":2,"width":10,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":110,"y":520,"wires":[["01f1abaa12fc0578"]]},{"id":"01f1abaa12fc0578","type":"mqtt out","z":"65540d385481460f","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":370,"y":520,"wires":[]},{"id":"ac8e3023292828d8","type":"zigbee2mqtt-in","z":"65540d385481460f","name":"Steckdose","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","state":"state","outputAtStartup":true,"x":120,"y":580,"wires":[["aa8bf54dfbe40303"]]},{"id":"aa8bf54dfbe40303","type":"ui_switch","z":"65540d385481460f","name":"steckdose","label":"<b>Smarte Steckdose</b> <br> an- oder ausschalten </br>","tooltip":"","group":"aacd28b7b5f411c8","order":3,"width":10,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"className":"","x":350,"y":580,"wires":[["9f79271206a7038f"]]},{"id":"9f79271206a7038f","type":"zigbee2mqtt-out","z":"65540d385481460f","name":"Steckdose steuern","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":550,"y":580,"wires":[]},{"id":"986f341c0856e100","type":"ui_button","z":"65540d385481460f","name":"","group":"aacd28b7b5f411c8","order":1,"width":10,"height":1,"passthru":false,"label":"Geräte","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":460,"wires":[[]]},{"id":"96f7061782f7bf9c","type":"ui_button","z":"65540d385481460f","name":"","group":"6284d85e20f17d01","order":1,"width":20,"height":1,"passthru":false,"label":"Escape Game","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[[]]},{"id":"5db99f2de44cf49c","type":"switch","z":"65540d385481460f","name":"aktionen filtern","property":"payload.action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":2120,"wires":[["24a71c2a5d798663"]]},{"id":"4560cd720fc84460","type":"switch","z":"65540d385481460f","name":"aktion durchgeführt?","property":"payload.action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1340,"wires":[["4496c0e037d85bad"]]},{"id":"2c7e8b9e8b2dbd39","type":"change","z":"65540d385481460f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2040,"wires":[["5aae5f7947236cf5"]]},{"id":"4cf947e6e12d5c5f","type":"change","z":"65540d385481460f","name":"übersetzen","rules":[{"t":"delete","p":"payload.hue","pt":"msg"},{"t":"delete","p":"payload.saturation","pt":"msg"},{"t":"delete","p":"payload.x","pt":"msg"},{"t":"delete","p":"payload.y","pt":"msg"},{"t":"set","p":"payload.v","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":780,"wires":[["58caf1c94b5f5ef1"]]},{"id":"62879bc4b8701931","type":"range","z":"65540d385481460f","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"Skalieren","x":650,"y":860,"wires":[["851afe260681ce33"]]},{"id":"3e0fb8eff8451ecf","type":"range","z":"65540d385481460f","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"Skalieren","x":300,"y":860,"wires":[["1a6d31a74ab6f3b6"]]},{"id":"9904040e1164323f","type":"range","z":"65540d385481460f","minin":"153","maxin":"500","minout":"11000","maxout":"1500","action":"scale","round":false,"property":"payload","name":"Skalieren","x":310,"y":920,"wires":[["7c20e4269cfab30f"]]},{"id":"53846af60194a85f","type":"range","z":"65540d385481460f","minin":"1500","maxin":"11000","minout":"500","maxout":"153","action":"scale","round":false,"property":"payload","name":"Skalieren","x":690,"y":920,"wires":[["7207ad12163b2ca9"]]},{"id":"8b0a516c6c4b3751","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":2,"width":20,"height":2,"name":"Technikfächer","label":"Im Koffer findet ihr noch zwei weitere Sensoren. Lest euch im Technik-Fächer durch, was die beiden Sensoren können und probiert diese gerne auch aus!","format":"{{msg.payload}}","layout":"row-spread","className":"","x":120,"y":1880,"wires":[]},{"id":"5279627ff5099b38","type":"comment","z":"65540d385481460f","name":"Weitere Technikelemente","info":"","x":140,"y":1800,"wires":[]},{"id":"168a666920b85e2a","type":"change","z":"65540d385481460f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1980,"wires":[["7ed4301fa3e0fe7c"]]},{"id":"7ed4301fa3e0fe7c","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":6,"width":10,"height":1,"name":"Temperatur","label":"<b>Temperatur</b>","format":"<font color= #458787>{{msg.payload}}°C </font color>","layout":"row-spread","className":"","x":540,"y":1980,"wires":[]},{"id":"1a05eae6e08fd234","type":"ui_button","z":"65540d385481460f","name":"","group":"874432780fb24b53","order":1,"width":20,"height":1,"passthru":false,"label":"Mehr Technik","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1840,"wires":[[]]},{"id":"584a4899edbb0cce","type":"ui_text","z":"65540d385481460f","group":"5089b42917d51a22","order":2,"width":20,"height":3,"name":"willkommen","label":"<b> Herzlich Willkommen in der Steuerungszentrale! </b> <p>","format":"<br> Nehmt euch den Technik-Fächer aus dem Koffer zur Hilfe und erlebt, versteht und probiert aus, was ihr mit der Smart Home Technik alles verändern könnt!","layout":"col-center","className":"","x":130,"y":140,"wires":[]},{"id":"b464e3be610277e6","type":"ui_template","z":"65540d385481460f","group":"5089b42917d51a22","name":"Style","order":1,"width":0,"height":0,"format":"<style>\n    button {\n        text-align: left !important;\n        padding: 0px 10px !important;\n        box-shadow: none !important;\n    }\n    \n    spacer-text {\n        background-color:red !important;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":350,"y":60,"wires":[[]]},{"id":"75606bd7cbb5d76b","type":"ui_text","z":"65540d385481460f","d":true,"group":"aacd28b7b5f411c8","order":9,"width":10,"height":1,"name":"Leer","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"spacer-text","x":110,"y":1120,"wires":[]},{"id":"58caf1c94b5f5ef1","type":"ui_iro-color-picker","z":"65540d385481460f","group":"aacd28b7b5f411c8","order":5,"width":10,"height":4,"name":"","label":"Farbe","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"horizontal","widgetIndent":"6","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"saturation"},"componentId":"slider"}],"format":"hex","outFormat":"hexString","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#00ff06","x":470,"y":780,"wires":[["0c8b53d6475a39ab"]]},{"id":"1a6d31a74ab6f3b6","type":"ui_iro-color-picker","z":"65540d385481460f","group":"aacd28b7b5f411c8","order":6,"width":0,"height":0,"name":"","label":"Helligkeit","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"value"},"componentId":"slider"}],"format":"hex","outFormat":"value","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#ffffff","x":480,"y":860,"wires":[["62879bc4b8701931"]]},{"id":"7c20e4269cfab30f","type":"ui_iro-color-picker","z":"65540d385481460f","group":"aacd28b7b5f411c8","order":7,"width":0,"height":0,"name":"","label":"Temperatur","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"kelvin","minTemperature":1500,"maxTemperature":11000},"componentId":"slider"}],"format":"hex","outFormat":"kelvin","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#ffffff","x":500,"y":920,"wires":[["53846af60194a85f"]]},{"id":"930dcacb7bdc40a4","type":"ui_text","z":"65540d385481460f","group":"874432780fb24b53","order":3,"width":10,"height":3,"name":"Erschütterungssensor","label":"<b> Erschütterungssensor </b> <br> erkennt Erschütterungen","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":760,"y":2120,"wires":[]},{"id":"562b4a6cace82201","type":"ui_button","z":"65540d385481460f","name":"Leer","group":"aacd28b7b5f411c8","order":8,"width":"10","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#808080","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":1120,"wires":[[]]},{"id":"831fa110bb699df1","type":"ui_button","z":"65540d385481460f","name":"Leer","group":"ff8db0b09d9a9440","order":6,"width":"10","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#808080","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1700,"wires":[[]]},{"id":"ed43c1bd8df92ab7","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"toggle","payloadType":"z2m_payload","transition":"1","x":650,"y":60,"wires":[]},{"id":"f46d88569c050290","type":"switch","z":"293b25f281cd0f2e","name":"Knopf","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":510,"y":120,"wires":[["ed43c1bd8df92ab7"],["1d98c5c45607c244"],["12e478f7c889c5af"],["1dbaecc2b74e9339"]]},{"id":"1d98c5c45607c244","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness","commandType":"z2m_cmd","payload":"5","payloadType":"num","transition":"1","x":650,"y":100,"wires":[]},{"id":"12e478f7c889c5af","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness_move","commandType":"z2m_cmd","payload":"40","payloadType":"num","transition":"1","x":650,"y":140,"wires":[]},{"id":"1dbaecc2b74e9339","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness_move","commandType":"z2m_cmd","payload":"stop","payloadType":"str","transition":"1","x":650,"y":180,"wires":[]},{"id":"d52b32cc515dff9d","type":"zigbee2mqtt-in","z":"293b25f281cd0f2e","name":"Knopf","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"0","outputAtStartup":true,"x":90,"y":120,"wires":[["0935936878e2b9cd"]]},{"id":"9de9282ac9aa5be2","type":"comment","z":"293b25f281cd0f2e","name":"Schalter steuert Glühbirne","info":"","x":150,"y":40,"wires":[]},{"id":"0935936878e2b9cd","type":"switch","z":"293b25f281cd0f2e","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":120,"wires":[[],["f46d88569c050290"]]},{"id":"d36cd46bd0b62658","type":"zigbee2mqtt-in","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"","device_id":"0xec1bbdfffe6a494f","state":"state","outputAtStartup":true,"x":90,"y":260,"wires":[["a556529ad3970bd8"]]},{"id":"de59922b54b48e96","type":"switch","z":"293b25f281cd0f2e","name":"Licht An wenn Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["01fb0b5ff811e721"]]},{"id":"01fb0b5ff811e721","type":"zigbee2mqtt-out","z":"293b25f281cd0f2e","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":710,"y":260,"wires":[]},{"id":"a556529ad3970bd8","type":"switch","z":"293b25f281cd0f2e","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":260,"wires":[["de59922b54b48e96"],[]]},{"id":"ab29ab1bb1b818a1","type":"rpi-gpio in","z":"e7f5e33446f1dbf1","name":"Key 1","pin":"29","intype":"up","debounce":"25","read":true,"x":110,"y":180,"wires":[["74cf2f5e41f47983"]]},{"id":"22d70a7e036770ea","type":"rpi-gpio in","z":"e7f5e33446f1dbf1","name":"Key 2","pin":"31","intype":"up","debounce":"25","read":true,"x":110,"y":380,"wires":[["a44ea031b0f25b43"]]},{"id":"cae54c295721b829","type":"rpi-gpio in","z":"e7f5e33446f1dbf1","name":"Key 4","pin":"35","intype":"up","debounce":"25","read":true,"x":110,"y":880,"wires":[["540f5d4563afeffb"]]},{"id":"74cf2f5e41f47983","type":"switch","z":"e7f5e33446f1dbf1","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["d4505d36995f813e","4e25849cea59eb19"]]},{"id":"a44ea031b0f25b43","type":"switch","z":"e7f5e33446f1dbf1","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":380,"wires":[["c749dbdba1938aa8"]]},{"id":"540f5d4563afeffb","type":"switch","z":"e7f5e33446f1dbf1","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":880,"wires":[[]]},{"id":"a02e88756b887e3e","type":"link in","z":"e7f5e33446f1dbf1","name":"Kontakt entfernt","links":["9bcd6016f6709495","1529f05e1e16762e"],"x":440,"y":120,"wires":[["6853277d9ede6386"]],"l":true},{"id":"23bfa454fb1f2ba0","type":"link out","z":"e7f5e33446f1dbf1","name":"Reset Alles","mode":"link","links":["48ca291ac9d0db16"],"x":650,"y":400,"wires":[],"l":true},{"id":"f36bb58c410f8ca9","type":"comment","z":"e7f5e33446f1dbf1","name":"Code für Buttons","info":"","x":120,"y":60,"wires":[]},{"id":"c749dbdba1938aa8","type":"change","z":"e7f5e33446f1dbf1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["23bfa454fb1f2ba0","1888e68594b5af93"]]},{"id":"34ec3b6a49f27bec","type":"link out","z":"e7f5e33446f1dbf1","name":"Zustand laden","mode":"link","links":["d59c703ca6eda68c","298bd3122c8c2e50","b37e57c1fcbb4c47","5106f9e96bfecd07"],"x":1100,"y":180,"wires":[],"l":true},{"id":"a279ecd23bc904ac","type":"change","z":"e7f5e33446f1dbf1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":180,"wires":[["34ec3b6a49f27bec"]]},{"id":"8e217e083d7c3155","type":"link out","z":"e7f5e33446f1dbf1","name":"Skripte stoppen","mode":"link","links":["b0f1db1b12e1b1ec","808b98f1b3f29078"],"x":660,"y":220,"wires":[],"l":true},{"id":"d4505d36995f813e","type":"change","z":"e7f5e33446f1dbf1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["8e217e083d7c3155"]]},{"id":"4e25849cea59eb19","type":"delay","z":"e7f5e33446f1dbf1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":180,"wires":[["d0934694b7cf3382","6853277d9ede6386"]]},{"id":"d0934694b7cf3382","type":"delay","z":"e7f5e33446f1dbf1","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":180,"wires":[["a279ecd23bc904ac"]]},{"id":"1888e68594b5af93","type":"delay","z":"e7f5e33446f1dbf1","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":360,"wires":[["a52184b0a0998d8c"]]},{"id":"5cc757392febafdd","type":"inject","z":"e7f5e33446f1dbf1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["d4505d36995f813e"]]},{"id":"a52184b0a0998d8c","type":"link out","z":"e7f5e33446f1dbf1","name":"Überprüfen ob alle Geräte erreichbar sind","mode":"link","links":["57f57fbdbf6a5e5a"],"x":1020,"y":360,"wires":[],"l":true},{"id":"ed28ee3b3bf6e219","type":"comment","z":"e7f5e33446f1dbf1","name":"Bildschirm neuladen","info":"","x":150,"y":120,"wires":[]},{"id":"8b7b3a82a520c7bb","type":"comment","z":"e7f5e33446f1dbf1","name":"Rätsel 1 neustarten","info":"","x":150,"y":320,"wires":[]},{"id":"e98c6031e42621ed","type":"comment","z":"e7f5e33446f1dbf1","name":"QR code anzeigen","info":"","x":150,"y":500,"wires":[]},{"id":"6853277d9ede6386","type":"pythonshell in","z":"e7f5e33446f1dbf1","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":660,"y":120,"wires":[[]]},{"id":"a572f205ba6cc7ba","type":"rpi-gpio in","z":"e7f5e33446f1dbf1","name":"Key 3","pin":"33","intype":"up","debounce":"25","read":true,"x":110,"y":560,"wires":[["62acff28bb057934"]]},{"id":"62acff28bb057934","type":"switch","z":"e7f5e33446f1dbf1","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":560,"wires":[["72f311e2b7297fec"]]},{"id":"72f311e2b7297fec","type":"exec","z":"e7f5e33446f1dbf1","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":450,"y":560,"wires":[["a78097bf39b586b1"],[],[]]},{"id":"a78097bf39b586b1","type":"function","z":"e7f5e33446f1dbf1","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":540,"wires":[["f03212fe9deedf1c"]]},{"id":"f03212fe9deedf1c","type":"Barcode Generator","z":"e7f5e33446f1dbf1","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":850,"y":540,"wires":[["4ff593c87bf67329"]]},{"id":"4ff593c87bf67329","type":"jimp-image","z":"e7f5e33446f1dbf1","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":1030,"y":540,"wires":[["61156a5ad07ceffe"]]},{"id":"61156a5ad07ceffe","type":"jimp-image","z":"e7f5e33446f1dbf1","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1200,"y":540,"wires":[["e0f8d8ec4cd80a6e"]]},{"id":"e0f8d8ec4cd80a6e","type":"jimp-image","z":"e7f5e33446f1dbf1","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1340,"y":540,"wires":[["5a0fb72d438e7272"]]},{"id":"5a0fb72d438e7272","type":"jimp-image","z":"e7f5e33446f1dbf1","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1480,"y":540,"wires":[["03a9e997eada22d4"]]},{"id":"03a9e997eada22d4","type":"exec","z":"e7f5e33446f1dbf1","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1620,"y":540,"wires":[[],[],[]]},{"id":"143e8015bad5512b","type":"inject","z":"fac9e1304a7b55c4","name":"Starten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":120,"wires":[["0af5e722372eb783"]]},{"id":"918bad459c055030","type":"comment","z":"fac9e1304a7b55c4","name":"Rätsel 1","info":"","x":130,"y":80,"wires":[]},{"id":"3f06818c79af410c","type":"function","z":"fac9e1304a7b55c4","name":"Alles richtig?","func":"\nif(msg.payload.includes(\"bereit\")){\n    msg.payload=true\n}\nelse \n    msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":100,"wires":[["d7d86533811fc9df"]]},{"id":"c21210b97ae376aa","type":"delay","z":"fac9e1304a7b55c4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":960,"y":100,"wires":[["3ab73466a940d661"]]},{"id":"57f57fbdbf6a5e5a","type":"link in","z":"fac9e1304a7b55c4","name":"KEY2 gedrückt","links":["a52184b0a0998d8c"],"x":200,"y":160,"wires":[["0af5e722372eb783"]],"l":true},{"id":"d7d86533811fc9df","type":"switch","z":"fac9e1304a7b55c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":100,"wires":[["c21210b97ae376aa"]]},{"id":"de921bc501e9b492","type":"inject","z":"fac9e1304a7b55c4","name":"Spiel an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":360,"wires":[["6802208668269c6c"]]},{"id":"6802208668269c6c","type":"change","z":"fac9e1304a7b55c4","name":"","rules":[{"t":"set","p":"game","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":380,"wires":[[]]},{"id":"09734e71e99c5318","type":"inject","z":"fac9e1304a7b55c4","name":"Spiel aus beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":230,"y":400,"wires":[["6802208668269c6c"]]},{"id":"0af5e722372eb783","type":"exec","z":"fac9e1304a7b55c4","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/raetsel01.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"rätsel01.py","x":430,"y":120,"wires":[["3f06818c79af410c"],[],[]]},{"id":"3ab73466a940d661","type":"pythonshell in","z":"fac9e1304a7b55c4","name":"rätsel02.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel02.py","virtualenv":"","continuous":false,"stdInData":false,"x":1170,"y":100,"wires":[[]]},{"id":"beea4497cb75a1e5","type":"switch","z":"daacce7bff44f082","name":"Kontakt hergestellt? ","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":240,"wires":[["4d834755c2e09ae8","fa944590ed567bd9","b419e55653482bc5","c16dc1585ff0eeb7","11d2fe5c8eb16e25"],["e82c72c0895a5a5c","0672b2682a9a088c","1529f05e1e16762e","5317323e40b2d2f8","291a7b7a1b9307ed"]]},{"id":"4d834755c2e09ae8","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Steckdose an","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":1070,"y":100,"wires":[]},{"id":"c27eac6a1e5b9580","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Steckdose aus","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":0,"x":1340,"y":600,"wires":[]},{"id":"fa944590ed567bd9","type":"change","z":"daacce7bff44f082","name":"starte das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":140,"wires":[[]]},{"id":"e82c72c0895a5a5c","type":"change","z":"daacce7bff44f082","name":"stoppe das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":480,"wires":[[]]},{"id":"23b22fb7de2d59ce","type":"zigbee2mqtt-in","z":"daacce7bff44f082","name":"1. Kontakt","server":"51d0b9cf.a79dd8","friendly_name":"sonoff_kontakt1","device_id":"0x00124b001fb87c52","state":"contact","outputAtStartup":true,"x":80,"y":180,"wires":[["b758944f95c0e033"]]},{"id":"11d2fe5c8eb16e25","type":"link out","z":"daacce7bff44f082","name":"Starte Morsespiel","mode":"link","links":["2b79e59a956dd6e2"],"x":1090,"y":280,"wires":[],"l":true},{"id":"790fac37d0c4accb","type":"link out","z":"daacce7bff44f082","name":"Reset alles","mode":"link","links":["b1e921fb191a5f30","6e70d890c6465586","b0f1db1b12e1b1ec","808b98f1b3f29078"],"x":1250,"y":400,"wires":[],"l":true},{"id":"48ca291ac9d0db16","type":"link in","z":"daacce7bff44f082","name":"Reset Knopf","links":["c877ac8531d63ba0","23bfa454fb1f2ba0"],"x":630,"y":420,"wires":[["e82c72c0895a5a5c","291a7b7a1b9307ed","0672b2682a9a088c","1529f05e1e16762e","5317323e40b2d2f8"]],"l":true},{"id":"0672b2682a9a088c","type":"change","z":"daacce7bff44f082","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":400,"wires":[["790fac37d0c4accb"]]},{"id":"1529f05e1e16762e","type":"link out","z":"daacce7bff44f082","name":"Display leeren","mode":"link","links":["799e36a0627e8be8","a02e88756b887e3e"],"x":1080,"y":440,"wires":[],"l":true},{"id":"4ce0b6d7edee9691","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Blinken der Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1370,"y":180,"wires":[]},{"id":"b419e55653482bc5","type":"delay","z":"daacce7bff44f082","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":180,"wires":[["4ce0b6d7edee9691","f116c2f0c723f47d"]]},{"id":"f116c2f0c723f47d","type":"delay","z":"daacce7bff44f082","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["e25ba40b95caf8a0"]]},{"id":"c16dc1585ff0eeb7","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"0","x":1070,"y":60,"wires":[]},{"id":"291a7b7a1b9307ed","type":"delay","z":"daacce7bff44f082","name":"erst Lampenfarbe ändern","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":600,"wires":[["c27eac6a1e5b9580"]]},{"id":"5eadc5196c7a3336","type":"inject","z":"daacce7bff44f082","name":"Glühbirne an beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["4d503b0ebb79ecd2"]]},{"id":"4d503b0ebb79ecd2","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe An","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"1","x":380,"y":760,"wires":[]},{"id":"93e590ef6f4a6cce","type":"inject","z":"daacce7bff44f082","name":"Glühbirne weiß beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":820,"wires":[["19a21756aa20a00e"]]},{"id":"19a21756aa20a00e","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"1","x":390,"y":820,"wires":[]},{"id":"e25ba40b95caf8a0","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Blinken der Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1370,"y":220,"wires":[]},{"id":"b758944f95c0e033","type":"delay","z":"daacce7bff44f082","name":"entprellen","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":360,"y":180,"wires":[["beea4497cb75a1e5"]]},{"id":"5317323e40b2d2f8","type":"zigbee2mqtt-out","z":"daacce7bff44f082","name":"Lampe weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ffffff","payloadType":"str","transition":0,"x":1080,"y":640,"wires":[]},{"id":"2061747ca5e55c26","type":"comment","z":"3a613ff19558d61a","name":"Morsecode öffnet Kiste","info":"","x":2300,"y":780,"wires":[]},{"id":"d56cd29daf27bc8a","type":"function","z":"3a613ff19558d61a","name":"Generiere Lösungscode","func":"var str = \"-.-..-.\";\nvar morsecode = str.split(\"\");\nflow.set('morsecode',morsecode);\nflow.set('position',0);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1480,"wires":[]},{"id":"e66b7e7bf17637aa","type":"comment","z":"3a613ff19558d61a","name":"Morse Code","info":"A\t.-\t\nB\t-...\t\nC\t-.-.\t\nD\t-..\t\nE\t.\t\nF\t..-.\nG\t--.\t\nH\t....\t\nI\t..\t\nJ\t.---\t\nK\t-.-\t\nL\t.-..\nM\t--\t\nN\t-.\t\nO\t---\t\nP\t.--.\t\nQ\t--.-\t\nR\t.-.\nS\t...\t\nT\t-\t\nU\t..-\t\nV\t...-\t\nW\t.--\t\nX\t-..-\nY\t-.--\t\nZ\t--..\n0\t-----\t\n1\t.----\t\n2\t..---\t\n3\t...--\t\n4\t....-\t\n5\t.....\n6\t-....\t\n7\t--...\t\n8\t---..\t\n9\t----.\n.\t.-.-.-\t\n,\t--..--\t\n?\t..--..\t\n'\t.----.\t\n!\t-.-.--\t\n/\t-..-.\n(\t-.--.\t\n)\t-.--.-\t\n&\t.-...\t\n:\t---...\t\n;\t-.-.-.\t\n=\t-...-\n+\t.-.-.\t\n-\t-....-\t\n_\t..--.-\t\n\"\t.-..-.\t\n$\t...-..-\t\n@\t.--.-.\n¿\t..-.-\t\n¡\t--...-","x":90,"y":680,"wires":[]},{"id":"eee3c759737ea9c8","type":"zigbee2mqtt-in","z":"3a613ff19558d61a","name":"Knopf","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"action","outputAtStartup":true,"x":70,"y":820,"wires":[["7d8c840c5b1eaa8e"]]},{"id":"90a46c103772101a","type":"switch","z":"3a613ff19558d61a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1850,"y":880,"wires":[["89f2fd9028d5f2b3","e555eb24580a6447"],[]]},{"id":"7d8c840c5b1eaa8e","type":"switch","z":"3a613ff19558d61a","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":820,"wires":[["153022fc7e0ccdcf"],[]]},{"id":"e5f6a46484b3dc82","type":"change","z":"3a613ff19558d61a","name":"Lösung und Position laden","rules":[{"t":"set","p":"position","pt":"msg","to":"position","tot":"flow"},{"t":"set","p":"morsecode","pt":"msg","to":"morsecode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":920,"wires":[["4adf8c7a2efdbb6e"]]},{"id":"4adf8c7a2efdbb6e","type":"function","z":"3a613ff19558d61a","name":"Nächste richtige Antwort laden","func":"msg.current_letter = msg.morsecode[msg.position];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":920,"wires":[["6e94f7a71bb97fe6"]]},{"id":"6e94f7a71bb97fe6","type":"switch","z":"3a613ff19558d61a","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":930,"y":920,"wires":[["791790d61854030a"],["80021971975169de"],["1484caaa1ab41758"]]},{"id":"791790d61854030a","type":"switch","z":"3a613ff19558d61a","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":900,"wires":[["e8dbf3d7d1dcbc65"],["4a69d3e13e5842c7"]],"inputLabels":["Single"],"outputLabels":["YES","NO"]},{"id":"80021971975169de","type":"switch","z":"3a613ff19558d61a","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":940,"wires":[["262746351a0744dd"],["4a69d3e13e5842c7"]],"outputLabels":["YES","NO"]},{"id":"1484caaa1ab41758","type":"switch","z":"3a613ff19558d61a","name":"Ist Lang richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"cont","v":"-","vt":"str"},{"t":"eq","v":".","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1120,"wires":[["e8dbf3d7d1dcbc65"],["4a69d3e13e5842c7"]],"inputLabels":["Hold"],"outputLabels":["YES","NO"]},{"id":"e8dbf3d7d1dcbc65","type":"function","z":"3a613ff19558d61a","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":900,"wires":[["60e63a7a013eda11","dfd553befc0c1c64","759272979d687b19"]]},{"id":"4a69d3e13e5842c7","type":"change","z":"3a613ff19558d61a","name":"Fehler","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1120,"wires":[["60e63a7a013eda11","debe24382aebe5e8"]]},{"id":"262746351a0744dd","type":"function","z":"3a613ff19558d61a","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":1000,"wires":[["9ddb83963517814b","759272979d687b19"]]},{"id":"60e63a7a013eda11","type":"change","z":"3a613ff19558d61a","name":"Positionsvariable anpassen","rules":[{"t":"set","p":"position","pt":"flow","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1080,"wires":[[]]},{"id":"dfd553befc0c1c64","type":"function","z":"3a613ff19558d61a","name":"Ist der Code beendet?","func":"if(msg.position >= msg.morsecode.length){\n    msg.payload= \"open\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":940,"wires":[["7383bf3464b88cd1","90a46c103772101a"]]},{"id":"9ddb83963517814b","type":"switch","z":"3a613ff19558d61a","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1060,"wires":[["e8dbf3d7d1dcbc65"],["4a69d3e13e5842c7"]],"outputLabels":["YES","NO"]},{"id":"7383bf3464b88cd1","type":"change","z":"3a613ff19558d61a","name":"Reset position","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":940,"wires":[["60e63a7a013eda11"]]},{"id":"89f2fd9028d5f2b3","type":"function","z":"3a613ff19558d61a","name":"Morsecode gelöst","func":"var g=true;\nglobal.set('morse',g);\nmsg.payload=global.get('morse');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":900,"wires":[[]]},{"id":"e555eb24580a6447","type":"switch","z":"3a613ff19558d61a","name":"Ausgabe filtern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"accepted","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2280,"y":960,"wires":[["cd9faa6d32c798bb","4b26dbfdf569a5e4","60ed0ae6ef69bac7"],["cd9faa6d32c798bb"],[]]},{"id":"cd9faa6d32c798bb","type":"mqtt out","z":"3a613ff19558d61a","name":"Kiste öffnen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":2530,"y":1000,"wires":[]},{"id":"fdbf25484e97fd5b","type":"comment","z":"3a613ff19558d61a","name":"Schalter steuert Glühbirne","info":"","x":150,"y":60,"wires":[]},{"id":"57954bc92b31e6af","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":"1","x":1000,"y":80,"wires":[]},{"id":"2b4b32dfef0dd61b","type":"switch","z":"3a613ff19558d61a","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":160,"wires":[["57954bc92b31e6af"],["10c08be08e3011be"],["0f5d0607cef5aed4"],["a1f0560999b93ce8"]]},{"id":"0f5d0607cef5aed4","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Magenta","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ff00ff","payloadType":"str","transition":"1","x":1000,"y":180,"wires":[]},{"id":"a1f0560999b93ce8","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"300","payloadType":"num","transition":"1","x":990,"y":220,"wires":[]},{"id":"3279101ee0b0e7a3","type":"zigbee2mqtt-in","z":"3a613ff19558d61a","name":"Knopf","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"0","outputAtStartup":true,"x":90,"y":160,"wires":[["d8d4f082c3bfc154"]]},{"id":"d8d4f082c3bfc154","type":"switch","z":"3a613ff19558d61a","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":160,"wires":[["01bc9283422f1ac0"],[]]},{"id":"35d0b897e7c8951b","type":"inject","z":"3a613ff19558d61a","name":"Initialisierung ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":1520,"wires":[["2b6363ebed636737","70ce7b8983fa7c95","d56cd29daf27bc8a"]]},{"id":"4b26dbfdf569a5e4","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":2530,"y":940,"wires":[]},{"id":"b8641941cf4a4437","type":"mqtt out","z":"3a613ff19558d61a","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":990,"y":280,"wires":[]},{"id":"4a21f82ab2b72ef6","type":"change","z":"3a613ff19558d61a","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["b8641941cf4a4437"]]},{"id":"0ac9a46d8dd13565","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":730,"y":240,"wires":[]},{"id":"861b54c8995541f6","type":"change","z":"3a613ff19558d61a","name":"reset position","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1300,"wires":[[]]},{"id":"7305484e5c49294b","type":"comment","z":"3a613ff19558d61a","name":"reset","info":"","x":80,"y":1240,"wires":[]},{"id":"2b79e59a956dd6e2","type":"link in","z":"3a613ff19558d61a","name":"Intialisierung","links":["11d2fe5c8eb16e25"],"x":1130,"y":660,"wires":[["f0b6b7ba6213400d"]],"l":true},{"id":"759272979d687b19","type":"change","z":"3a613ff19558d61a","name":"Position speichern","rules":[{"t":"set","p":"payload","pt":"msg","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":760,"wires":[["85a77624175d0202"]]},{"id":"debe24382aebe5e8","type":"link out","z":"3a613ff19558d61a","name":"Fehler anzeigen","mode":"link","links":["ee871989840cf81f"],"x":1720,"y":1180,"wires":[],"l":true},{"id":"ee871989840cf81f","type":"link in","z":"3a613ff19558d61a","name":"Fehler","links":["debe24382aebe5e8"],"x":1110,"y":620,"wires":[["85a77624175d0202"]],"l":true},{"id":"6e70d890c6465586","type":"link in","z":"3a613ff19558d61a","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0"],"x":210,"y":1300,"wires":[["861b54c8995541f6"]],"l":true},{"id":"b0f1db1b12e1b1ec","type":"link in","z":"3a613ff19558d61a","name":"stop","links":["8e217e083d7c3155","790fac37d0c4accb"],"x":1110,"y":560,"wires":[["f19f15dbe14b3b33"]],"l":true},{"id":"153022fc7e0ccdcf","type":"switch","z":"3a613ff19558d61a","name":"Code schon gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":820,"wires":[["e5f6a46484b3dc82"]]},{"id":"8579bb71a0b9024a","type":"link out","z":"3a613ff19558d61a","name":"starte Rätsel 4","mode":"link","links":["a807adb83d866073"],"x":2870,"y":900,"wires":[],"l":true},{"id":"60ed0ae6ef69bac7","type":"delay","z":"3a613ff19558d61a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2520,"y":900,"wires":[["08781fd020fd7574"]]},{"id":"f0b6b7ba6213400d","type":"change","z":"3a613ff19558d61a","name":"Speichern das Skript aktiv ist","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":660,"wires":[["85a77624175d0202"]]},{"id":"f19f15dbe14b3b33","type":"switch","z":"3a613ff19558d61a","name":"überhaupt an?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":560,"wires":[["85a77624175d0202"]]},{"id":"08781fd020fd7574","type":"change","z":"3a613ff19558d61a","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":900,"wires":[["8579bb71a0b9024a"]]},{"id":"a7786b925257854c","type":"comment","z":"3a613ff19558d61a","name":"Code wird auf Bildschirm angezeigt","info":"","x":1360,"y":480,"wires":[]},{"id":"01bc9283422f1ac0","type":"switch","z":"3a613ff19558d61a","name":"Code gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":160,"wires":[["2b4b32dfef0dd61b"],["0ac9a46d8dd13565","4a21f82ab2b72ef6"]]},{"id":"10c08be08e3011be","type":"zigbee2mqtt-out","z":"3a613ff19558d61a","name":"Lampe Orange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"#ff8800","payloadType":"str","transition":0,"x":1000,"y":120,"wires":[]},{"id":"4877d1dba707e7d9","type":"switch","z":"3a613ff19558d61a","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":700,"wires":[["93ebb204c983c30b"]]},{"id":"d59c703ca6eda68c","type":"link in","z":"3a613ff19558d61a","name":"Zustand laden","links":["34ec3b6a49f27bec"],"x":1130,"y":700,"wires":[["4877d1dba707e7d9"]],"l":true},{"id":"93ebb204c983c30b","type":"change","z":"3a613ff19558d61a","name":"Reset Spiel","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":700,"wires":[["85a77624175d0202"]]},{"id":"2b6363ebed636737","type":"change","z":"3a613ff19558d61a","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1560,"wires":[[]]},{"id":"70ce7b8983fa7c95","type":"change","z":"3a613ff19558d61a","name":"bei Start ungelöst","rules":[{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1520,"wires":[[]]},{"id":"6fc3df04cc11b342","type":"comment","z":"3a613ff19558d61a","name":"Initialisierung","info":"","x":90,"y":1460,"wires":[]},{"id":"85a77624175d0202","type":"pythonshell in","z":"3a613ff19558d61a","name":"rätsel03.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel03.py","virtualenv":"","continuous":true,"stdInData":true,"x":1750,"y":600,"wires":[[]]},{"id":"0e076766d433aeac","type":"switch","z":"fdba8bf0dcbd65b2","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"play_pause","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":770,"y":200,"wires":[["d0f122a28271d737"],["dfbadba270670dd4"],["6983d8f0c7c41b9e"],["6983d8f0c7c41b9e"]]},{"id":"adf2deccc1219c0f","type":"zigbee2mqtt-out","z":"fdba8bf0dcbd65b2","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1220,"y":140,"wires":[]},{"id":"d0f122a28271d737","type":"function","z":"fdba8bf0dcbd65b2","name":"hue+10","func":"var hue = flow.get(\"hue\")\nif(hue>359){\n    hue+=10\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":120,"wires":[["adf2deccc1219c0f"]]},{"id":"05b3e4965b6cd192","type":"switch","z":"fdba8bf0dcbd65b2","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["2bcc887ce4d946bf"],[]]},{"id":"dfbadba270670dd4","type":"function","z":"fdba8bf0dcbd65b2","name":"hue-10","func":"var hue = flow.get(\"hue\")\nif(hue>1){\n    hue-=10\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":160,"wires":[["adf2deccc1219c0f"]]},{"id":"795035ae0db14099","type":"zigbee2mqtt-out","z":"fdba8bf0dcbd65b2","name":"Lampe Rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":590,"y":660,"wires":[]},{"id":"9a9e8dc919d015f7","type":"function","z":"fdba8bf0dcbd65b2","name":"Unteres Rotspektrum","func":"\nmsg.payload={\n    \"h\": 20,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":640,"wires":[["795035ae0db14099"]]},{"id":"dce62e91df2e264e","type":"function","z":"fdba8bf0dcbd65b2","name":"Oberes Rotspektrum","func":"\nmsg.payload={\n    \"h\": 350,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["795035ae0db14099"]]},{"id":"6384a806f289ee25","type":"inject","z":"fdba8bf0dcbd65b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":640,"wires":[["9a9e8dc919d015f7"]]},{"id":"0a83b56677a09e09","type":"inject","z":"fdba8bf0dcbd65b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["dce62e91df2e264e"]]},{"id":"6983d8f0c7c41b9e","type":"switch","z":"fdba8bf0dcbd65b2","name":"Hue gefunden?","property":"hue","propertyType":"flow","rules":[{"t":"btwn","v":"21","vt":"num","v2":"339","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":220,"wires":[["05fdb7537b97e036"],["8ebf6dd532910c45","ce593fd660ce1051","f8895c28661fc961"]],"outputLabels":["nicht gefunden",""]},{"id":"2e04fcc69c55d691","type":"comment","z":"fdba8bf0dcbd65b2","name":"rot","info":"","x":70,"y":580,"wires":[]},{"id":"46c1fa8c13126ab0","type":"comment","z":"fdba8bf0dcbd65b2","name":"drehknopf rotiert durch den hue","info":"","x":130,"y":80,"wires":[]},{"id":"c48e143d67068a1e","type":"change","z":"fdba8bf0dcbd65b2","name":"reset hue","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"},{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[[]]},{"id":"da15b38d2988da8c","type":"comment","z":"fdba8bf0dcbd65b2","name":"reset","info":"","x":60,"y":840,"wires":[]},{"id":"8ebf6dd532910c45","type":"change","z":"fdba8bf0dcbd65b2","name":"","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":440,"wires":[[]]},{"id":"b2d4cef9cd847b9e","type":"change","z":"fdba8bf0dcbd65b2","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1080,"wires":[[]]},{"id":"2bcc887ce4d946bf","type":"switch","z":"fdba8bf0dcbd65b2","name":"Hue gefunden?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":200,"wires":[["0e076766d433aeac"],["9bb168a401609007"]]},{"id":"9bb168a401609007","type":"zigbee2mqtt-out","z":"fdba8bf0dcbd65b2","name":"Lampe rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"{\"h\":0, \"s\":100, \"v\":1}","payloadType":"json","transition":0,"x":740,"y":300,"wires":[]},{"id":"1f780af900cd8dda","type":"change","z":"fdba8bf0dcbd65b2","name":"hue ist bei start noch nicht gefunden","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[[]]},{"id":"0dc8c91277adc1dd","type":"inject","z":"fdba8bf0dcbd65b2","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":1060,"wires":[["1f780af900cd8dda","b2d4cef9cd847b9e","77cd56ecc4c564b1"]]},{"id":"9d48a92359c13b21","type":"comment","z":"fdba8bf0dcbd65b2","name":"wurde die farbe einmal gefunden bleibt sie rot","info":"","x":470,"y":300,"wires":[]},{"id":"b1e921fb191a5f30","type":"link in","z":"fdba8bf0dcbd65b2","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0"],"x":90,"y":900,"wires":[["c48e143d67068a1e"]],"l":true},{"id":"05fdb7537b97e036","type":"change","z":"fdba8bf0dcbd65b2","name":"falsche Farbe","rules":[{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":280,"wires":[["2b6a1e80f841b07a"]]},{"id":"ce593fd660ce1051","type":"change","z":"fdba8bf0dcbd65b2","name":"Farbe gefunden","rules":[{"t":"set","p":"payload","pt":"msg","to":"korrekt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":360,"wires":[["62b10798d39ee0fd"]]},{"id":"a807adb83d866073","type":"link in","z":"fdba8bf0dcbd65b2","name":"init","links":["8579bb71a0b9024a"],"x":1330,"y":320,"wires":[["3b6a40f0234d9cd9"]],"l":true},{"id":"808b98f1b3f29078","type":"link in","z":"fdba8bf0dcbd65b2","name":"stop","links":["790fac37d0c4accb","8e217e083d7c3155"],"x":1330,"y":400,"wires":[["55c4fed3a6248399"]],"l":true},{"id":"3b6a40f0234d9cd9","type":"change","z":"fdba8bf0dcbd65b2","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":320,"wires":[["2b6a1e80f841b07a"]]},{"id":"62b10798d39ee0fd","type":"change","z":"fdba8bf0dcbd65b2","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":360,"wires":[["2b6a1e80f841b07a"]]},{"id":"55c4fed3a6248399","type":"switch","z":"fdba8bf0dcbd65b2","name":"überhaupt aktiv?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1550,"y":400,"wires":[["2b6a1e80f841b07a"]]},{"id":"b37e57c1fcbb4c47","type":"link in","z":"fdba8bf0dcbd65b2","name":"Zustand laden","links":["34ec3b6a49f27bec"],"x":1350,"y":240,"wires":[["4c13b7905c800a98"]],"l":true},{"id":"4c13b7905c800a98","type":"switch","z":"fdba8bf0dcbd65b2","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1540,"y":240,"wires":[["2b6a1e80f841b07a"]]},{"id":"77cd56ecc4c564b1","type":"change","z":"fdba8bf0dcbd65b2","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1120,"wires":[[]]},{"id":"f8895c28661fc961","type":"link out","z":"fdba8bf0dcbd65b2","name":"starte Rätsel 5","mode":"link","links":["3f4d20bdd92df3fb"],"x":1360,"y":480,"wires":[],"l":true},{"id":"a0771540d37c25a5","type":"zigbee2mqtt-in","z":"fdba8bf0dcbd65b2","name":"Cube","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":50,"y":200,"wires":[["05b3e4965b6cd192"]]},{"id":"c73db526ebb34ef7","type":"comment","z":"fdba8bf0dcbd65b2","name":"Initialisierung","info":"","x":90,"y":1000,"wires":[]},{"id":"cd9d6d2e761fe4c2","type":"comment","z":"fdba8bf0dcbd65b2","name":"Spielstand auf dem Bildschirm anzeigen","info":"","x":1430,"y":200,"wires":[]},{"id":"2b6a1e80f841b07a","type":"pythonshell in","z":"fdba8bf0dcbd65b2","name":"raetsel04.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel04.py","virtualenv":"","continuous":true,"stdInData":true,"x":1790,"y":320,"wires":[[]]},{"id":"eafb17c997e6fa4e","type":"zigbee2mqtt-in","z":"5bce10e095c0a077","name":"Bewegungsmelder","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":170,"y":100,"wires":[["f29c324ca8603c91"]]},{"id":"00dc1c3fc652d78c","type":"switch","z":"5bce10e095c0a077","name":"Bewegung erkannt?","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["bbd8d43ad6188b03","387a139c0780640a","4e6326758356123d"]]},{"id":"f29c324ca8603c91","type":"switch","z":"5bce10e095c0a077","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":100,"wires":[["cfbc81f16bfa0522"]]},{"id":"960a5d421b6bf3c2","type":"Barcode Generator","z":"5bce10e095c0a077","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":790,"y":540,"wires":[["71dbdbcfb1fe4867"]]},{"id":"d03e62d264d9f203","type":"jimp-image","z":"5bce10e095c0a077","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1280,"y":540,"wires":[["b9272adc7d7ad81b"]]},{"id":"71dbdbcfb1fe4867","type":"jimp-image","z":"5bce10e095c0a077","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":970,"y":540,"wires":[["63ffa04a06403ad0"]]},{"id":"63ffa04a06403ad0","type":"jimp-image","z":"5bce10e095c0a077","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1140,"y":540,"wires":[["d03e62d264d9f203"]]},{"id":"628386b6808ac79d","type":"comment","z":"5bce10e095c0a077","name":"QR-Code generieren","info":"","x":170,"y":460,"wires":[]},{"id":"d3181ea3ba73b82b","type":"delay","z":"5bce10e095c0a077","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":910,"y":180,"wires":[["bf655e535497eff9"]]},{"id":"3ffb7138dbf248c4","type":"exec","z":"5bce10e095c0a077","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":410,"y":540,"wires":[["11c8750f8be5e116"],[],[]]},{"id":"11c8750f8be5e116","type":"function","z":"5bce10e095c0a077","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":540,"wires":[["960a5d421b6bf3c2"]]},{"id":"3f4d20bdd92df3fb","type":"link in","z":"5bce10e095c0a077","name":"Rätsel 4 gelöst","links":["f8895c28661fc961"],"x":210,"y":540,"wires":[["3ffb7138dbf248c4","fa8fd17d8d04af54"]],"l":true},{"id":"bbd8d43ad6188b03","type":"zigbee2mqtt-out","z":"5bce10e095c0a077","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":740,"y":240,"wires":[]},{"id":"fa8fd17d8d04af54","type":"delay","z":"5bce10e095c0a077","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":600,"wires":[["ec02aa9713bf24fc"]]},{"id":"387a139c0780640a","type":"change","z":"5bce10e095c0a077","name":"Spiel ist beendet","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[[]]},{"id":"cfbc81f16bfa0522","type":"switch","z":"5bce10e095c0a077","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":160,"wires":[["00dc1c3fc652d78c"]]},{"id":"b57471c9de6a0e58","type":"switch","z":"5bce10e095c0a077","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":720,"wires":[["ff6e1cec253bb58c"]]},{"id":"ff6e1cec253bb58c","type":"switch","z":"5bce10e095c0a077","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":720,"wires":[["ec02aa9713bf24fc"]]},{"id":"5106f9e96bfecd07","type":"link in","z":"5bce10e095c0a077","name":"Zustand laden","links":["34ec3b6a49f27bec"],"x":210,"y":660,"wires":[["b57471c9de6a0e58"]],"l":true},{"id":"6bdcfcaa1828e62f","type":"inject","z":"5bce10e095c0a077","name":"Erneut generieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":500,"wires":[["3ffb7138dbf248c4"]]},{"id":"4e6326758356123d","type":"pythonshell in","z":"5bce10e095c0a077","name":"gratulation.py","pyfile":"/home/pi/escape-game/e-Paper/src/gratulation.py","virtualenv":"","continuous":false,"stdInData":false,"x":700,"y":180,"wires":[["d3181ea3ba73b82b"]]},{"id":"bf655e535497eff9","type":"exec","z":"5bce10e095c0a077","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1100,"y":180,"wires":[[],[],[]]},{"id":"ec02aa9713bf24fc","type":"pythonshell in","z":"5bce10e095c0a077","name":"rätsel05.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel05.py","virtualenv":"","continuous":false,"stdInData":false,"x":650,"y":660,"wires":[[]]},{"id":"b9272adc7d7ad81b","type":"jimp-image","z":"5bce10e095c0a077","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1420,"y":540,"wires":[[]]}]