node-red/escape-game_komplett.json
[{"id":"97e9b908b0259afa","type":"tab","label":"Webpage","disabled":false,"info":"","env":[]},{"id":"d96669711b05c637","type":"tab","label":"Steuerung","disabled":false,"info":"","env":[]},{"id":"241d0b4bf21c1585","type":"tab","label":"Display","disabled":false,"info":"","env":[]},{"id":"810166cd2ced41a5","type":"tab","label":"Rätsel 1","disabled":false,"info":"","env":[]},{"id":"ba4701bad8a7d36d","type":"tab","label":"Rätsel 2","disabled":false,"info":"","env":[]},{"id":"dde2b67fbd135af5","type":"tab","label":"Rätsel 3","disabled":false,"info":"","env":[]},{"id":"c4830f876071dcd4","type":"tab","label":"Rätsel 4","disabled":false,"info":"","env":[]},{"id":"949a2e09f3bee9ad","type":"tab","label":"Rätsel 5","disabled":false,"info":"","env":[]},{"id":"275f6bd6.4f73a4","type":"mqtt-broker","name":"Lokal","broker":"127.0.0.1","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8b23da57.59c648","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#1a1a1a","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#1a1a1a","edited":true},"page-titlebar-backgroundColor":{"value":"#1a1a1a","edited":false},"page-backgroundColor":{"value":"#808080","edited":true},"page-sidebar-backgroundColor":{"value":"#808080","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#808080","edited":true},"group-backgroundColor":{"value":"#808080","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#2d5757","edited":true},"widget-borderColor":{"value":"#353535","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":24,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ff640e9cb65e4729","type":"zigbee2mqtt-server","name":"Lokal","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"51d0b9cf.a79dd8","type":"zigbee2mqtt-server","name":"Z2M","host":"127.0.0.1","mqtt_port":"1883","mqtt_username":"","mqtt_password":"","tls":"","usetls":false,"base_topic":"zigbee2mqtt"},{"id":"0ac085af97148ed0","type":"ui_tab","name":"Steuerungszentrale","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"6284d85e20f17d01","type":"ui_group","name":"Escape Game","tab":"0ac085af97148ed0","order":2,"disp":false,"width":"20","collapse":false,"className":""},{"id":"aacd28b7b5f411c8","type":"ui_group","name":"Geräte","tab":"0ac085af97148ed0","order":3,"disp":false,"width":"10","collapse":false,"className":""},{"id":"ff8db0b09d9a9440","type":"ui_group","name":"Sensoren & Schalter","tab":"0ac085af97148ed0","order":4,"disp":false,"width":"10","collapse":false,"className":""},{"id":"874432780fb24b53","type":"ui_group","name":"Mehr Technik","tab":"0ac085af97148ed0","order":5,"disp":false,"width":"20","collapse":false,"className":""},{"id":"5089b42917d51a22","type":"ui_group","name":"Willkommen","tab":"0ac085af97148ed0","order":1,"disp":false,"width":"20","collapse":false,"className":"willkommen"},{"id":"972b7940ef81b114","type":"ui_text","z":"97e9b908b0259afa","group":"ff8db0b09d9a9440","order":4,"width":10,"height":"3","name":"knopf","label":"<b>Knopf</b> <br> ändert Lichtfarbe durch Tastendruck <br> langer Tastendruck <b> lang _  </b> = Pink<br> kurzer Tastendruck <b> kurz  .  </b> = Aufblinken weiß <br> doppelter Tastendruck <b> 2x ..  </b> = Orange","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":990,"y":1340,"wires":[]},{"id":"ed879d845a909f5f","type":"ui_switch","z":"97e9b908b0259afa","name":"","label":"Escape-Game aktiv?","tooltip":"","group":"6284d85e20f17d01","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":true,"className":"","x":280,"y":280,"wires":[["43aa717c9cd49afa"]]},{"id":"9d93d6d962bd1beb","type":"inject","z":"97e9b908b0259afa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":280,"wires":[["ed879d845a909f5f"]]},{"id":"43aa717c9cd49afa","type":"function","z":"97e9b908b0259afa","name":"Ist das Escape-Game aktiv?","func":"var g=msg.payload;\nglobal.set('game',g);\nmsg.payload=global.get('game');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[[]]},{"id":"6dedc4b40b3054c0","type":"ui_text","z":"97e9b908b0259afa","group":"6284d85e20f17d01","order":3,"width":14,"height":1,"name":"Erklärtext","label":"In der Steuerungszentrale könnt ihr alle Geräte selbst kontrollieren und beobachten.","format":"","layout":"row-left","className":"","x":120,"y":180,"wires":[]},{"id":"b59a58a07f2719bb","type":"comment","z":"97e9b908b0259afa","name":"Willkommen","info":"","x":100,"y":60,"wires":[]},{"id":"d2a1cb04093a66e4","type":"comment","z":"97e9b908b0259afa","name":"Licht-Steuerung","info":"","x":140,"y":660,"wires":[]},{"id":"babad6b13463eeb3","type":"comment","z":"97e9b908b0259afa","name":"Sensoren und Schalter","info":"","x":130,"y":1240,"wires":[]},{"id":"b90ebc2bf26e4f23","type":"switch","z":"97e9b908b0259afa","name":"release herausfiltern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"release","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":1340,"wires":[[],["192563dad97aacba"]]},{"id":"37d662aa290ba63e","type":"zigbee2mqtt-out","z":"97e9b908b0259afa","name":"Licht Farbe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":790,"y":780,"wires":[]},{"id":"622949f5ba886e0a","type":"zigbee2mqtt-out","z":"97e9b908b0259afa","name":"Licht Anschalten","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":780,"y":720,"wires":[]},{"id":"6279be3af6d35d64","type":"zigbee2mqtt-out","z":"97e9b908b0259afa","name":"Helligkeit","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"brightness","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":800,"y":860,"wires":[]},{"id":"5db28f5cc55921c0","type":"zigbee2mqtt-out","z":"97e9b908b0259afa","name":"Temp","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":810,"y":920,"wires":[]},{"id":"eea642eed366627d","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Helligkeit","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"brightness","outputAtStartup":true,"x":120,"y":860,"wires":[["7dcb152e08fc3df2"]]},{"id":"a66bc3de92a118f0","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"color_temp","outputAtStartup":true,"x":120,"y":920,"wires":[["a8628fe58258133e"]]},{"id":"224408b5ede64832","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Lichtfarbe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"0","outputAtStartup":true,"x":120,"y":780,"wires":[["41a056fbf0a94a31"]]},{"id":"1a0acf3e7dd3fc21","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Licht An?","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"state","outputAtStartup":true,"x":120,"y":720,"wires":[["4bed615dad97e67c"]]},{"id":"4bed615dad97e67c","type":"ui_switch","z":"97e9b908b0259afa","name":"Glühbirne","label":"<b>Smarte Glühbirne</b> <br> an- und ausschalten, Farbe, Helligkeit oder Temperatur ändern </br>","tooltip":"","group":"aacd28b7b5f411c8","order":4,"width":10,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"className":"","x":280,"y":720,"wires":[["622949f5ba886e0a"]]},{"id":"660bd226470b971f","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Schalter","server":"ff640e9cb65e4729","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"0","outputAtStartup":true,"x":90,"y":1340,"wires":[["aba88c9f2a506105"]]},{"id":"9eade54e17ddd5e0","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Cube","server":"51d0b9cf.a79dd8","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":90,"y":1420,"wires":[["11821650f5ea74c0"]]},{"id":"eda2b05db4d21d54","type":"ui_text","z":"97e9b908b0259afa","group":"ff8db0b09d9a9440","order":5,"width":10,"height":2,"name":"Cube","label":"<b>Smarter Würfel</b> <br> ändert Lichtfarbe durch Bewegung ","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":510,"y":1420,"wires":[]},{"id":"192563dad97aacba","type":"function","z":"97e9b908b0259afa","name":"Übersetzen","func":"switch (msg.payload.action){\n    case \"single\": msg.payload=\"kurz\"; break\n    case \"double\": msg.payload=\"doppelklick\"; break\n    case \"hold\": msg.payload=\"lang\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1340,"wires":[["972b7940ef81b114"]]},{"id":"11821650f5ea74c0","type":"function","z":"97e9b908b0259afa","name":"Übersetzen","func":"if(msg.payload.action===undefined){\n    msg.payload=\"nicht verbunden\"\n}\n\nswitch (msg.payload.action){\n    case \"tap\": msg.payload=\"klopfen\"; break\n    case \"shake\": msg.payload=\"schütteln\"; break\n    case \"wakeup\": msg.payload=\"aufwachen\"; break \n    case \"fall\": msg.payload=\"fallen\"; break\n    case \"slide\": msg.payload=\"schieben\"; break\n    case \"flip180\": msg.payload=\"kippen um 180°\"; break\n    case \"flip90\": msg.payload=\"kippen um 90°\"; break\n    case \"rotate_left\": msg.payload=\"drehen nach links\"; break\n    case \"rotate_right\": msg.payload=\"drehen nach rechts\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1420,"wires":[["eda2b05db4d21d54"]]},{"id":"88aacdb4b4d68f71","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Temperatur","server":"51d0b9cf.a79dd8","friendly_name":"temp","device_id":"0x00124b00239de4fb","state":"0","outputAtStartup":true,"x":100,"y":1980,"wires":[["8c353e4fcbfc55ea"]]},{"id":"09289098178382d1","type":"ui_text","z":"97e9b908b0259afa","group":"874432780fb24b53","order":4,"width":10,"height":1,"name":"Temperatursensor","label":"<b> Temperatur-Sensor </b> <br> misst Temperatur und Luftfeuchtigkeit","format":"","layout":"row-spread","className":"","x":130,"y":1920,"wires":[]},{"id":"571d5475f8a4bad8","type":"ui_text","z":"97e9b908b0259afa","group":"874432780fb24b53","order":5,"width":10,"height":1,"name":"Luftfeuchtigkeit","label":"<b>Luftfeuchtigkeit</b>","format":"<font color= #458787>{{msg.payload}}% </font color>","layout":"row-spread","className":"","x":530,"y":2040,"wires":[]},{"id":"5d14eb65f888baa3","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Luftfeuchtigkeit","server":"51d0b9cf.a79dd8","friendly_name":"temp","device_id":"0x00124b00239de4fb","state":"0","outputAtStartup":true,"x":120,"y":2040,"wires":[["f9dbd5f36f6e82d7"]]},{"id":"c41658022299d4f2","type":"ui_text","z":"97e9b908b0259afa","group":"ff8db0b09d9a9440","order":3,"width":10,"height":1,"name":"Bewegungssensor","label":"<b> Bewegungs-Sensor </b> <br> erkennt Bewegung in der Umgebung","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":550,"y":1500,"wires":[]},{"id":"4f029b475ee14eb0","type":"function","z":"97e9b908b0259afa","name":"Übersetzen","func":"if(msg.payload.occupancy===undefined){\n    msg.payload=\"nicht verbunden\"\n}\nswitch (msg.payload.occupancy){\n    case true: msg.payload=\"Bewegung erkannt\"; break\n    case false: msg.payload=\"Keine Bewegung\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1500,"wires":[["c41658022299d4f2"]]},{"id":"bced1efdf0597ebc","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Bewegungsmelder","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":130,"y":1500,"wires":[["4f029b475ee14eb0"]]},{"id":"87460ae2dc444859","type":"function","z":"97e9b908b0259afa","name":"Übersetzen","func":"  \nswitch (msg.payload.action){\n    case \"vibration\": msg.payload=\"Vibration\"; break\n    case \"tilt\": msg.payload=\"Kippen\"; break\n    case \"drop\": msg.payload=\"Fallen\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":2120,"wires":[["c4a77b88ee562531"]]},{"id":"6b0898b717f7f930","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"Erschütterung","server":"51d0b9cf.a79dd8","friendly_name":"vibration","device_id":"0x00158d0006d51f99","state":"0","outputAtStartup":true,"x":110,"y":2120,"wires":[["89e5c93c4f1744a0"]]},{"id":"783d9f490b410ab3","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"","server":"51d0b9cf.a79dd8","friendly_name":"kontakt","device_id":"0x00158d000396a2c0","state":"contact","outputAtStartup":true,"x":120,"y":1580,"wires":[["377b5c6dd820e257"]]},{"id":"377b5c6dd820e257","type":"function","z":"97e9b908b0259afa","name":"Übersetzen","func":"switch (msg.payload){\n    case true: msg.payload=\"geschlossen\"; break\n    case false: msg.payload=\"geöffnet\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":1580,"wires":[["c57a70a8e01c972c"]]},{"id":"c57a70a8e01c972c","type":"ui_text","z":"97e9b908b0259afa","group":"ff8db0b09d9a9440","order":2,"width":10,"height":1,"name":"Kontaktsensor","label":"<b> Kontaktsensor </b> <br>geöffnet oder geschlossen","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":560,"y":1580,"wires":[]},{"id":"5bb5cd5e3f09b4f1","type":"ui_button","z":"97e9b908b0259afa","name":"","group":"ff8db0b09d9a9440","order":1,"width":10,"height":1,"passthru":false,"label":"Sensoren & Schalter","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1280,"wires":[[]]},{"id":"8c656f2e29240159","type":"comment","z":"97e9b908b0259afa","name":"Geräte","info":"","x":90,"y":380,"wires":[]},{"id":"667799b1ab55b70a","type":"ui_switch","z":"97e9b908b0259afa","name":"kiste","label":"<b>Smartes Schloss</b> <br> Kiste öffnen oder schließen </br>","tooltip":"","group":"aacd28b7b5f411c8","order":2,"width":10,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"open","onvalueType":"str","onicon":"","oncolor":"","offvalue":"close","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":110,"y":520,"wires":[["d652458f5556b34d"]]},{"id":"d652458f5556b34d","type":"mqtt out","z":"97e9b908b0259afa","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":370,"y":520,"wires":[]},{"id":"fcefd9babab16fc0","type":"zigbee2mqtt-in","z":"97e9b908b0259afa","name":"","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","state":"state","outputAtStartup":true,"x":140,"y":580,"wires":[["d1ff1f0e30d1ce67"]]},{"id":"d1ff1f0e30d1ce67","type":"ui_switch","z":"97e9b908b0259afa","name":"steckdose","label":"<b>Smarte Steckdose</b> <br> an- oder ausschalten </br>","tooltip":"","group":"aacd28b7b5f411c8","order":3,"width":10,"height":1,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"green","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"red","animate":true,"className":"","x":350,"y":580,"wires":[["ef2b2205bf08d1a9"]]},{"id":"ef2b2205bf08d1a9","type":"zigbee2mqtt-out","z":"97e9b908b0259afa","name":"Steckdose steuern","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":550,"y":580,"wires":[]},{"id":"3927a689a081f8d8","type":"ui_button","z":"97e9b908b0259afa","name":"","group":"aacd28b7b5f411c8","order":1,"width":10,"height":1,"passthru":false,"label":"Geräte","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":460,"wires":[[]]},{"id":"a4b78577efc9df74","type":"ui_button","z":"97e9b908b0259afa","name":"","group":"6284d85e20f17d01","order":1,"width":20,"height":1,"passthru":false,"label":"Escape Game","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":220,"wires":[[]]},{"id":"89e5c93c4f1744a0","type":"switch","z":"97e9b908b0259afa","name":"aktionen filtern","property":"payload.action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":380,"y":2120,"wires":[["87460ae2dc444859"]]},{"id":"aba88c9f2a506105","type":"switch","z":"97e9b908b0259afa","name":"aktion durchgeführt?","property":"payload.action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":1340,"wires":[["b90ebc2bf26e4f23"]]},{"id":"f9dbd5f36f6e82d7","type":"change","z":"97e9b908b0259afa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":2040,"wires":[["571d5475f8a4bad8"]]},{"id":"41a056fbf0a94a31","type":"change","z":"97e9b908b0259afa","name":"übersetzen","rules":[{"t":"delete","p":"payload.hue","pt":"msg"},{"t":"delete","p":"payload.saturation","pt":"msg"},{"t":"delete","p":"payload.x","pt":"msg"},{"t":"delete","p":"payload.y","pt":"msg"},{"t":"set","p":"payload.v","pt":"msg","to":"100","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":780,"wires":[["6a4ada21929c88c8"]]},{"id":"ab4b6f2858ffd147","type":"range","z":"97e9b908b0259afa","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":false,"property":"payload","name":"Skalieren","x":630,"y":860,"wires":[["6279be3af6d35d64"]]},{"id":"7dcb152e08fc3df2","type":"range","z":"97e9b908b0259afa","minin":"0","maxin":"255","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"Skalieren","x":280,"y":860,"wires":[["5256472afc679a87"]]},{"id":"a8628fe58258133e","type":"range","z":"97e9b908b0259afa","minin":"153","maxin":"500","minout":"11000","maxout":"1500","action":"scale","round":false,"property":"payload","name":"Skalieren","x":280,"y":920,"wires":[["5bbabb3e06d14b46"]]},{"id":"eb5d768f6cfcbf58","type":"range","z":"97e9b908b0259afa","minin":"1500","maxin":"11000","minout":"500","maxout":"153","action":"scale","round":false,"property":"payload","name":"Skalieren","x":660,"y":920,"wires":[["5db28f5cc55921c0"]]},{"id":"72ddb3f7d78f5fb0","type":"ui_text","z":"97e9b908b0259afa","group":"874432780fb24b53","order":2,"width":20,"height":2,"name":"Technikfächer","label":"Im Koffer findet ihr noch zwei weitere Sensoren. Lest euch im Technik-Fächer durch, was die beiden Sensoren können und probiert diese gerne auch aus!","format":"{{msg.payload}}","layout":"row-spread","className":"","x":120,"y":1880,"wires":[]},{"id":"f406a25410233241","type":"comment","z":"97e9b908b0259afa","name":"Weitere Technikelemente","info":"","x":140,"y":1800,"wires":[]},{"id":"8c353e4fcbfc55ea","type":"change","z":"97e9b908b0259afa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1980,"wires":[["b82738f13cdb8723"]]},{"id":"b82738f13cdb8723","type":"ui_text","z":"97e9b908b0259afa","group":"874432780fb24b53","order":6,"width":10,"height":1,"name":"Temperatur","label":"<b>Temperatur</b>","format":"<font color= #458787>{{msg.payload}}°C </font color>","layout":"row-spread","className":"","x":540,"y":1980,"wires":[]},{"id":"dfdedb248d8498a5","type":"ui_button","z":"97e9b908b0259afa","name":"","group":"874432780fb24b53","order":1,"width":20,"height":1,"passthru":false,"label":"Mehr Technik","tooltip":"","color":"#ffffff","bgcolor":"#262626","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":1840,"wires":[[]]},{"id":"ccd9024722bd7ebc","type":"ui_text","z":"97e9b908b0259afa","group":"5089b42917d51a22","order":2,"width":20,"height":3,"name":"willkommen","label":"<b> Herzlich Willkommen in der Steuerungszentrale! </b> <p>","format":"<br> Nehmt euch den Technik-Fächer aus dem Koffer zur Hilfe und erlebt, versteht und probiert aus, was ihr mit der Smart Home Technik alles verändern könnt!","layout":"col-center","className":"","x":130,"y":140,"wires":[]},{"id":"392094372675b01e","type":"ui_template","z":"97e9b908b0259afa","group":"5089b42917d51a22","name":"Style","order":1,"width":0,"height":0,"format":"<style>\n    button {\n        text-align: left !important;\n        padding: 0px 10px !important;\n        box-shadow: none !important;\n    }\n    \n    spacer-text {\n        background-color:red !important;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":350,"y":60,"wires":[[]]},{"id":"6a4ada21929c88c8","type":"ui_iro-color-picker","z":"97e9b908b0259afa","group":"aacd28b7b5f411c8","order":5,"width":10,"height":4,"name":"","label":"Farbe","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"horizontal","widgetIndent":"6","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"saturation"},"componentId":"slider"}],"format":"hex","outFormat":"hexString","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#00ff06","x":450,"y":780,"wires":[["37d662aa290ba63e"]]},{"id":"5256472afc679a87","type":"ui_iro-color-picker","z":"97e9b908b0259afa","group":"aacd28b7b5f411c8","order":6,"width":0,"height":0,"name":"","label":"Helligkeit","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"value"},"componentId":"slider"}],"format":"hex","outFormat":"value","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#ffffff","x":460,"y":860,"wires":[["ab4b6f2858ffd147"]]},{"id":"5bbabb3e06d14b46","type":"ui_iro-color-picker","z":"97e9b908b0259afa","group":"aacd28b7b5f411c8","order":7,"width":0,"height":0,"name":"","label":"Temperatur","placement":"left","hAlign":"flex-start","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"2","pickerType":"widget","popupWidth":0,"popupHeight":0,"pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"kelvin","minTemperature":1500,"maxTemperature":11000},"componentId":"slider"}],"format":"hex","outFormat":"kelvin","dynOutput":"input:end","outputConfirmed":false,"outputLimit":"10","passthru":false,"topic":"topic","topicType":"msg","iroColorValue":"#ffffff","x":470,"y":920,"wires":[["eb5d768f6cfcbf58"]]},{"id":"c4a77b88ee562531","type":"ui_text","z":"97e9b908b0259afa","group":"874432780fb24b53","order":3,"width":10,"height":3,"name":"Erschütterungssensor","label":"<b> Erschütterungssensor </b> <br> erkennt Erschütterungen","format":"<font color= #458787>{{msg.payload}} </font color>","layout":"row-spread","className":"","x":760,"y":2120,"wires":[]},{"id":"fadd50a055d19182","type":"ui_button","z":"97e9b908b0259afa","name":"Leer","group":"aacd28b7b5f411c8","order":8,"width":"10","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#808080","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":1120,"wires":[[]]},{"id":"4a9bea78e882a9f9","type":"ui_button","z":"97e9b908b0259afa","name":"Leer","group":"ff8db0b09d9a9440","order":6,"width":"10","height":"3","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"#808080","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":1700,"wires":[[]]},{"id":"57ef84a95fedc628","type":"comment","z":"d96669711b05c637","name":"Schalter steuert Glühbirne","info":"","x":150,"y":40,"wires":[]},{"id":"bcd5dd4ae62c1203","type":"zigbee2mqtt-in","z":"d96669711b05c637","name":"Licht","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","state":"0","outputAtStartup":true,"x":90,"y":260,"wires":[["58a987a46781d397"]]},{"id":"eb4f10d62e5e12a0","type":"switch","z":"d96669711b05c637","name":"Licht An wenn Aus","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["dff6085cde53d574"]]},{"id":"dff6085cde53d574","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampe","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":710,"y":260,"wires":[]},{"id":"58a987a46781d397","type":"switch","z":"d96669711b05c637","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":260,"wires":[["eb4f10d62e5e12a0"],[]]},{"id":"ac4b707aba48eabc","type":"zigbee2mqtt-in","z":"d96669711b05c637","name":"Cube","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"0","outputAtStartup":true,"x":90,"y":600,"wires":[["78232af58aeac373"]]},{"id":"78232af58aeac373","type":"switch","z":"d96669711b05c637","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":600,"wires":[[],["3c47521ac2febe3c"]]},{"id":"3c47521ac2febe3c","type":"switch","z":"d96669711b05c637","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"tap","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"fall","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":550,"y":600,"wires":[["3093002c2957b633"],["028f860aaa116b8f"],["64ade1b2cbd49a4a"],["d0a41689226e9416"],["b22fb9e0d80a90b4"],["b16f2a10383e0c13"],["39972e103d0384e3"],["1f2272fd87d20102"]]},{"id":"1f2272fd87d20102","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampe blinkt lange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"lselect","payloadType":"z2m_payload","transition":0,"x":770,"y":840,"wires":[]},{"id":"32c56bf6f5281b53","type":"inject","z":"d96669711b05c637","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":90,"y":820,"wires":[["c082216e3ce15da0","f7091d62f155e8fb"]]},{"id":"c082216e3ce15da0","type":"change","z":"d96669711b05c637","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":820,"wires":[[]]},{"id":"f7091d62f155e8fb","type":"change","z":"d96669711b05c637","name":"helligkeit = 0","rules":[{"t":"set","p":"helligkeit","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":860,"wires":[[]]},{"id":"64ade1b2cbd49a4a","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Licht blinkt kurz","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":0,"x":960,"y":500,"wires":[]},{"id":"728679feccf1c169","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":780,"wires":[]},{"id":"39972e103d0384e3","type":"function","z":"d96669711b05c637","name":"zufällige Farbe","func":"msg.payload=msg.payload={\n    \"h\": Math.floor(Math.random()*360),\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":780,"wires":[["728679feccf1c169"]]},{"id":"b22fb9e0d80a90b4","type":"change","z":"d96669711b05c637","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":620,"wires":[["67d5a5ed3b47269e"]]},{"id":"67d5a5ed3b47269e","type":"mqtt out","z":"d96669711b05c637","name":"Kiste öffnen/schließen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":980,"y":640,"wires":[]},{"id":"b16f2a10383e0c13","type":"change","z":"d96669711b05c637","name":"Kiste schließen","rules":[{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":660,"wires":[["67d5a5ed3b47269e"]]},{"id":"3093002c2957b633","type":"function","z":"d96669711b05c637","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":400,"wires":[["39a5d50f47e8ca6d"]]},{"id":"028f860aaa116b8f","type":"function","z":"d96669711b05c637","name":"hue-15","func":"var hue = flow.get(\"hue\")\nif(hue>15){\n    hue-=15\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":440,"wires":[["39a5d50f47e8ca6d"]]},{"id":"d0a41689226e9416","type":"function","z":"d96669711b05c637","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":580,"wires":[["f1f10d91103f5784"]]},{"id":"f1f10d91103f5784","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":580,"wires":[]},{"id":"39a5d50f47e8ca6d","type":"zigbee2mqtt-out","z":"d96669711b05c637","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"payload","commandType":"msg","payload":"payload","payloadType":"msg","transition":0,"x":980,"y":420,"wires":[]},{"id":"20853c7f1ef20977","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 1","pin":"29","intype":"up","debounce":"25","read":true,"x":110,"y":180,"wires":[["9698b0e4835e2747"]]},{"id":"4aad80d133e4af1b","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 2","pin":"31","intype":"up","debounce":"25","read":true,"x":110,"y":380,"wires":[["78f681c23ef5b8fe"]]},{"id":"fcdbd62115561755","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 3","pin":"33","intype":"up","debounce":"25","read":true,"x":110,"y":560,"wires":[["9a797f184079e353"]]},{"id":"948c03bdcc54cdbe","type":"rpi-gpio in","z":"241d0b4bf21c1585","name":"Key 4","pin":"35","intype":"up","debounce":"25","read":true,"x":110,"y":740,"wires":[["f133c7c96073ae2f"]]},{"id":"9698b0e4835e2747","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":180,"wires":[["e6381506443fd05a","0cdd30842d000b19"]]},{"id":"78f681c23ef5b8fe","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":380,"wires":[["819e3753b169872b"]]},{"id":"9a797f184079e353","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":560,"wires":[["801567a28d0b4e80"]]},{"id":"f133c7c96073ae2f","type":"switch","z":"241d0b4bf21c1585","name":"gedrückt?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":740,"wires":[["2e16259bd14befa9","1c39dd4ac4b8cf19","ab454889286c9cc3"]]},{"id":"9dd149672d4e05eb","type":"link in","z":"241d0b4bf21c1585","name":"Kontakt entfernt","links":["9bcd6016f6709495","1529f05e1e16762e"],"x":440,"y":120,"wires":[["56c261c951dcf687"]],"l":true},{"id":"3f7f508aac4cbabf","type":"link out","z":"241d0b4bf21c1585","name":"Reset Alles","mode":"link","links":["51ad72c981ee933a"],"x":650,"y":400,"wires":[],"l":true},{"id":"56c261c951dcf687","type":"pythonshell in","z":"241d0b4bf21c1585","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":660,"y":120,"wires":[[]]},{"id":"ec3c723e7f7ca38d","type":"comment","z":"241d0b4bf21c1585","name":"Code für Buttons","info":"","x":120,"y":60,"wires":[]},{"id":"819e3753b169872b","type":"change","z":"241d0b4bf21c1585","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":380,"wires":[["3f7f508aac4cbabf","eda685816e80b393"]]},{"id":"1ed8806043b58285","type":"link out","z":"241d0b4bf21c1585","name":"Zustand laden","mode":"link","links":["bf8d031918773eb3","bfc968abc5f0a225","d93b922ef21c9baf"],"x":1100,"y":180,"wires":[],"l":true},{"id":"4b616f4bb157d86c","type":"change","z":"241d0b4bf21c1585","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":180,"wires":[["1ed8806043b58285"]]},{"id":"cad92d079ab94330","type":"link out","z":"241d0b4bf21c1585","name":"Skripte stoppen","mode":"link","links":["0c7454a26f4af936","289ae9274eefe569"],"x":660,"y":220,"wires":[],"l":true},{"id":"e6381506443fd05a","type":"change","z":"241d0b4bf21c1585","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":220,"wires":[["cad92d079ab94330"]]},{"id":"0cdd30842d000b19","type":"delay","z":"241d0b4bf21c1585","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":180,"wires":[["56c261c951dcf687","a69a469ee33354cd"]]},{"id":"a69a469ee33354cd","type":"delay","z":"241d0b4bf21c1585","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":180,"wires":[["4b616f4bb157d86c"]]},{"id":"eda685816e80b393","type":"delay","z":"241d0b4bf21c1585","name":"warten bis Display bereit ist","pauseType":"delay","timeout":"9","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":700,"y":360,"wires":[["3710a54ce312a6ac"]]},{"id":"61bbb003ebdc6efd","type":"exec","z":"241d0b4bf21c1585","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1620,"y":540,"wires":[[],[],[]]},{"id":"37a834aa3a155fd5","type":"inject","z":"241d0b4bf21c1585","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["e6381506443fd05a"]]},{"id":"3710a54ce312a6ac","type":"link out","z":"241d0b4bf21c1585","name":"Überprüfen ob alle Geräte erreichbar sind","mode":"link","links":["037c441fd1ad8cd0"],"x":1020,"y":360,"wires":[],"l":true},{"id":"226e1f8ff126a07d","type":"comment","z":"241d0b4bf21c1585","name":"Bildschirm neuladen","info":"","x":150,"y":120,"wires":[]},{"id":"5b558f42fca385c4","type":"comment","z":"241d0b4bf21c1585","name":"Rätsel 1 neustarten","info":"","x":150,"y":320,"wires":[]},{"id":"a1326cf418f4ce38","type":"comment","z":"241d0b4bf21c1585","name":"QR code anzeigen","info":"","x":150,"y":500,"wires":[]},{"id":"801567a28d0b4e80","type":"exec","z":"241d0b4bf21c1585","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":450,"y":560,"wires":[["5e40c7ad24694634"],[],[]]},{"id":"5e40c7ad24694634","type":"function","z":"241d0b4bf21c1585","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":540,"wires":[["a158e47818fee7eb"]]},{"id":"a158e47818fee7eb","type":"Barcode Generator","z":"241d0b4bf21c1585","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":850,"y":540,"wires":[["8fb6fa2e081248be"]]},{"id":"8fb6fa2e081248be","type":"jimp-image","z":"241d0b4bf21c1585","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":1030,"y":540,"wires":[["29c0635f0ebf1b32"]]},{"id":"29c0635f0ebf1b32","type":"jimp-image","z":"241d0b4bf21c1585","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1200,"y":540,"wires":[["ea409a862f26e162"]]},{"id":"ea409a862f26e162","type":"jimp-image","z":"241d0b4bf21c1585","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1340,"y":540,"wires":[["7fb4d71dedd5a213"]]},{"id":"7fb4d71dedd5a213","type":"jimp-image","z":"241d0b4bf21c1585","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1480,"y":540,"wires":[["61bbb003ebdc6efd"]]},{"id":"2e16259bd14befa9","type":"link out","z":"241d0b4bf21c1585","name":"Reset alles","mode":"link","links":["d324897085d4a22d","0c7454a26f4af936","289ae9274eefe569","a0c04a0aba356ce7"],"x":470,"y":780,"wires":[],"l":true},{"id":"1c39dd4ac4b8cf19","type":"pythonshell in","z":"241d0b4bf21c1585","name":"Display leeren","pyfile":"/home/pi/escape-game/e-Paper/src/reset.py","virtualenv":"","continuous":false,"stdInData":false,"x":480,"y":740,"wires":[[]]},{"id":"ab454889286c9cc3","type":"change","z":"241d0b4bf21c1585","name":"stoppe das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":700,"wires":[[]]},{"id":"190efb1ffe02d4d6","type":"inject","z":"810166cd2ced41a5","name":"Starten","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":200,"y":120,"wires":[["b234710abe563eef"]]},{"id":"e07796aea5dccd7b","type":"comment","z":"810166cd2ced41a5","name":"Rätsel 1","info":"","x":130,"y":80,"wires":[]},{"id":"fd50383812eea4cb","type":"function","z":"810166cd2ced41a5","name":"Alles richtig?","func":"\nif(msg.payload.includes(\"bereit\")){\n    msg.payload=true\n}\nelse \n    msg.payload=false\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":100,"wires":[["40edd5355b6f9398"]]},{"id":"119758904b309a90","type":"delay","z":"810166cd2ced41a5","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":960,"y":100,"wires":[["c916c8a2721bf515","6bbd262127f56061"]]},{"id":"c916c8a2721bf515","type":"pythonshell in","z":"810166cd2ced41a5","name":"rätsel02.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel02.py","virtualenv":"","continuous":false,"stdInData":false,"x":1190,"y":100,"wires":[[]]},{"id":"037c441fd1ad8cd0","type":"link in","z":"810166cd2ced41a5","name":"KEY2 gedrückt","links":["3710a54ce312a6ac"],"x":200,"y":160,"wires":[["b234710abe563eef"]],"l":true},{"id":"40edd5355b6f9398","type":"switch","z":"810166cd2ced41a5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":100,"wires":[["119758904b309a90"]]},{"id":"aee455ca3e3f2d9c","type":"debug","z":"810166cd2ced41a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"b234710abe563eef","type":"exec","z":"810166cd2ced41a5","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/raetsel01.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"rätsel01.py","x":430,"y":120,"wires":[["fd50383812eea4cb","aee455ca3e3f2d9c"],[],[]]},{"id":"a09ff71403401084","type":"inject","z":"810166cd2ced41a5","name":"Spiel an","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":360,"wires":[["8596b05e178d3fae"]]},{"id":"8596b05e178d3fae","type":"change","z":"810166cd2ced41a5","name":"Spiel inaktiv","rules":[{"t":"set","p":"game","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[[]]},{"id":"854e6b2f4eb95050","type":"inject","z":"810166cd2ced41a5","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":200,"y":400,"wires":[["8596b05e178d3fae","2c61cd2b781f79c2"]]},{"id":"2c61cd2b781f79c2","type":"change","z":"810166cd2ced41a5","name":"Spiel ungelöst ","rules":[{"t":"set","p":"geschafft","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":420,"wires":[[]]},{"id":"6bbd262127f56061","type":"change","z":"810166cd2ced41a5","name":"starte das spiel","rules":[{"t":"set","p":"game","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":60,"wires":[[]]},{"id":"893d641f70f06695","type":"switch","z":"ba4701bad8a7d36d","name":"Kontakt hergestellt? ","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":240,"wires":[["e009f33af9117024","80325a57c823ef98","6bd7c8aedc8c0aec","1e49e5b07457960e"],["4e4d3a7b3190755b","2c7c2b7cc623108d"]]},{"id":"e009f33af9117024","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Steckdose an","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":0,"x":1080,"y":100,"wires":[]},{"id":"8aa71401f8bca744","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Steckdose aus","server":"51d0b9cf.a79dd8","friendly_name":"steckdose","device_id":"0x54ef4410001394af","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":0,"x":1340,"y":600,"wires":[]},{"id":"44a3a70eca31e45c","type":"zigbee2mqtt-in","z":"ba4701bad8a7d36d","name":"","server":"51d0b9cf.a79dd8","friendly_name":"sonoff_kontakt1","device_id":"0x00124b001fb87c52","state":"contact","outputAtStartup":true,"x":130,"y":180,"wires":[["893d641f70f06695"]]},{"id":"51ad72c981ee933a","type":"link in","z":"ba4701bad8a7d36d","name":"Reset Knopf","links":["3f7f508aac4cbabf"],"x":590,"y":420,"wires":[["2c7c2b7cc623108d","4e4d3a7b3190755b","5d2c76185a1c44f8"]],"l":true},{"id":"16a7a00cfad5fa48","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1240,"y":180,"wires":[]},{"id":"80325a57c823ef98","type":"delay","z":"ba4701bad8a7d36d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1060,"y":180,"wires":[["16a7a00cfad5fa48","881164a79fbffdb4"]]},{"id":"881164a79fbffdb4","type":"delay","z":"ba4701bad8a7d36d","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1160,"y":220,"wires":[["67aa637633d3d4fa"]]},{"id":"6bd7c8aedc8c0aec","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Licht weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"0","x":1060,"y":60,"wires":[]},{"id":"2c7c2b7cc623108d","type":"delay","z":"ba4701bad8a7d36d","name":"erst Lampenfarbe ändern","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1110,"y":600,"wires":[["8aa71401f8bca744"]]},{"id":"1745411d0d8ef7ab","type":"inject","z":"ba4701bad8a7d36d","name":"Glühbirne an beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":760,"wires":[["58b194311cd3e6c5"]]},{"id":"58b194311cd3e6c5","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"1","x":390,"y":760,"wires":[]},{"id":"320e6dc544e26ca1","type":"inject","z":"ba4701bad8a7d36d","name":"Glühbirne weiß beim start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":170,"y":820,"wires":[["290fb51d879f431d"]]},{"id":"290fb51d879f431d","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"250","payloadType":"z2m_payload","transition":"1","x":410,"y":820,"wires":[]},{"id":"67aa637633d3d4fa","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1320,"y":220,"wires":[]},{"id":"4e4d3a7b3190755b","type":"zigbee2mqtt-out","z":"ba4701bad8a7d36d","name":"Licht weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ffffff","payloadType":"str","transition":0,"x":1060,"y":640,"wires":[]},{"id":"b535e314a62bc038","type":"link out","z":"ba4701bad8a7d36d","name":"Starte Morsespiel","mode":"link","links":["fb276fa17f32cfaf"],"x":1270,"y":320,"wires":[],"l":true},{"id":"1e49e5b07457960e","type":"switch","z":"ba4701bad8a7d36d","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":320,"wires":[["b535e314a62bc038"]]},{"id":"5d2c76185a1c44f8","type":"change","z":"ba4701bad8a7d36d","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":560,"wires":[[]]},{"id":"cca0fa07d4335334","type":"comment","z":"dde2b67fbd135af5","name":"Morsecode öffnet Kiste","info":"","x":2300,"y":780,"wires":[]},{"id":"51d8208bd6f58885","type":"function","z":"dde2b67fbd135af5","name":"Generiere Lösungscode","func":"var str = \"-.-..-.\";\nvar morsecode = str.split(\"\");\nflow.set('morsecode',morsecode);\nflow.set('position',0);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":1480,"wires":[]},{"id":"d90303de75509d9a","type":"comment","z":"dde2b67fbd135af5","name":"Morse Code","info":"A\t.-\t\nB\t-...\t\nC\t-.-.\t\nD\t-..\t\nE\t.\t\nF\t..-.\nG\t--.\t\nH\t....\t\nI\t..\t\nJ\t.---\t\nK\t-.-\t\nL\t.-..\nM\t--\t\nN\t-.\t\nO\t---\t\nP\t.--.\t\nQ\t--.-\t\nR\t.-.\nS\t...\t\nT\t-\t\nU\t..-\t\nV\t...-\t\nW\t.--\t\nX\t-..-\nY\t-.--\t\nZ\t--..\n0\t-----\t\n1\t.----\t\n2\t..---\t\n3\t...--\t\n4\t....-\t\n5\t.....\n6\t-....\t\n7\t--...\t\n8\t---..\t\n9\t----.\n.\t.-.-.-\t\n,\t--..--\t\n?\t..--..\t\n'\t.----.\t\n!\t-.-.--\t\n/\t-..-.\n(\t-.--.\t\n)\t-.--.-\t\n&\t.-...\t\n:\t---...\t\n;\t-.-.-.\t\n=\t-...-\n+\t.-.-.\t\n-\t-....-\t\n_\t..--.-\t\n\"\t.-..-.\t\n$\t...-..-\t\n@\t.--.-.\n¿\t..-.-\t\n¡\t--...-","x":90,"y":680,"wires":[]},{"id":"30b386121d17dd32","type":"zigbee2mqtt-in","z":"dde2b67fbd135af5","name":"","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"action","outputAtStartup":true,"x":90,"y":820,"wires":[["cb6f33ab780e6a12"]]},{"id":"f3a4285e61a92165","type":"switch","z":"dde2b67fbd135af5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1850,"y":880,"wires":[["d28d3e9209a09d3e","67191f78c39a8cd0"],[]]},{"id":"cb6f33ab780e6a12","type":"switch","z":"dde2b67fbd135af5","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":820,"wires":[["b334ed26837a75ed"],[]]},{"id":"4dbebf28bcd8bb2b","type":"change","z":"dde2b67fbd135af5","name":"Lösung und Position laden","rules":[{"t":"set","p":"position","pt":"msg","to":"position","tot":"flow"},{"t":"set","p":"morsecode","pt":"msg","to":"morsecode","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":920,"wires":[["7ac93260bff5f658"]]},{"id":"7ac93260bff5f658","type":"function","z":"dde2b67fbd135af5","name":"Nächste richtige Antwort laden","func":"msg.current_letter = msg.morsecode[msg.position];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":920,"wires":[["56b62588f7261399"]]},{"id":"56b62588f7261399","type":"switch","z":"dde2b67fbd135af5","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":930,"y":920,"wires":[["7098b9c6fcd6779c"],["02c9fd41f000fbdc"],["41ab507823820f37"]]},{"id":"7098b9c6fcd6779c","type":"switch","z":"dde2b67fbd135af5","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":900,"wires":[["795329450cb6bf74"],["6a97eb342c9678a1"]],"inputLabels":["Single"],"outputLabels":["YES","NO"]},{"id":"02c9fd41f000fbdc","type":"switch","z":"dde2b67fbd135af5","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":940,"wires":[["81a29dc590c532c0"],["6a97eb342c9678a1"]],"outputLabels":["YES","NO"]},{"id":"41ab507823820f37","type":"switch","z":"dde2b67fbd135af5","name":"Ist Lang richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"cont","v":"-","vt":"str"},{"t":"eq","v":".","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1120,"wires":[["795329450cb6bf74"],["6a97eb342c9678a1"]],"inputLabels":["Hold"],"outputLabels":["YES","NO"]},{"id":"795329450cb6bf74","type":"function","z":"dde2b67fbd135af5","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1530,"y":900,"wires":[["8677436941c02da3","2dbd1fa6a5069220","220e74b5b29ffb19"]]},{"id":"6a97eb342c9678a1","type":"change","z":"dde2b67fbd135af5","name":"Fehler","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":1120,"wires":[["8677436941c02da3","e57eea68229d4392"]]},{"id":"81a29dc590c532c0","type":"function","z":"dde2b67fbd135af5","name":"position erhöhen","func":"msg.position = msg.position+1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":1000,"wires":[["3eb234bc3d2811b7","220e74b5b29ffb19"]]},{"id":"8677436941c02da3","type":"change","z":"dde2b67fbd135af5","name":"Positionsvariable anpassen","rules":[{"t":"set","p":"position","pt":"flow","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1080,"wires":[[]]},{"id":"2dbd1fa6a5069220","type":"function","z":"dde2b67fbd135af5","name":"Ist der Code beendet?","func":"if(msg.position >= msg.morsecode.length){\n    msg.payload= \"open\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":940,"wires":[["0c29837b50ef6701","f3a4285e61a92165"]]},{"id":"3eb234bc3d2811b7","type":"switch","z":"dde2b67fbd135af5","name":"Ist Kurz richtig?","property":"current_letter","propertyType":"msg","rules":[{"t":"eq","v":".","vt":"str"},{"t":"eq","v":"-","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":1060,"wires":[["795329450cb6bf74"],["6a97eb342c9678a1"]],"outputLabels":["YES","NO"]},{"id":"0c29837b50ef6701","type":"change","z":"dde2b67fbd135af5","name":"Reset position","rules":[{"t":"set","p":"position","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":940,"wires":[["8677436941c02da3"]]},{"id":"d28d3e9209a09d3e","type":"function","z":"dde2b67fbd135af5","name":"Morsecode gelöst","func":"var g=true;\nglobal.set('morse',g);\nmsg.payload=global.get('morse');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2290,"y":900,"wires":[[]]},{"id":"67191f78c39a8cd0","type":"switch","z":"dde2b67fbd135af5","name":"Ausgabe filtern","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"},{"t":"eq","v":"accepted","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2280,"y":960,"wires":[["0fd89b1321d54a41","d617fe9b4367bbc1","02eac52dfc480026"],["0fd89b1321d54a41"],[]]},{"id":"0fd89b1321d54a41","type":"mqtt out","z":"dde2b67fbd135af5","name":"Kiste öffnen","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":2530,"y":1000,"wires":[]},{"id":"8dda99cc66425090","type":"comment","z":"dde2b67fbd135af5","name":"Schalter steuert Glühbirne","info":"","x":150,"y":60,"wires":[]},{"id":"9a8944ccc388f84a","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"select","payloadType":"z2m_payload","transition":"1","x":980,"y":80,"wires":[]},{"id":"29ddbf0bf8db57ed","type":"switch","z":"dde2b67fbd135af5","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"single","vt":"str"},{"t":"eq","v":"double","vt":"str"},{"t":"eq","v":"hold","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":750,"y":160,"wires":[["9a8944ccc388f84a"],["66988e6c66f2fd93"],["2913311f2761a945"],["e352fc133fbd1f66"]]},{"id":"2913311f2761a945","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Magenta","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"ff00ff","payloadType":"str","transition":"1","x":980,"y":180,"wires":[]},{"id":"e352fc133fbd1f66","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Weiß","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_temp","commandType":"z2m_cmd","payload":"300","payloadType":"num","transition":"1","x":970,"y":220,"wires":[]},{"id":"ada4f12c0f75b28b","type":"zigbee2mqtt-in","z":"dde2b67fbd135af5","name":"","server":"51d0b9cf.a79dd8","friendly_name":"knopf","device_id":"0x00158d000450a6bb","state":"action","outputAtStartup":true,"x":110,"y":160,"wires":[["73494e3bd2b4f023"]]},{"id":"73494e3bd2b4f023","type":"switch","z":"dde2b67fbd135af5","name":"Escape-Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":160,"wires":[["9bd7aca5147d7e5b"],[]]},{"id":"f8db8bba1ac5753d","type":"inject","z":"dde2b67fbd135af5","name":"Initialisierung ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":1520,"wires":[["517f284c72da1ef7","8ab434002ed907ee","51d8208bd6f58885"]]},{"id":"d617fe9b4367bbc1","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Lampe Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":2530,"y":940,"wires":[]},{"id":"5245a9b900a3f274","type":"mqtt out","z":"dde2b67fbd135af5","name":"","topic":"intia/kiste/set","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"275f6bd6.4f73a4","x":990,"y":280,"wires":[]},{"id":"5f5fea149404701b","type":"change","z":"dde2b67fbd135af5","name":"Kiste öffnen","rules":[{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["5245a9b900a3f274"]]},{"id":"bbc79e7cc1aeb672","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":710,"y":240,"wires":[]},{"id":"67dce44f47cb6dde","type":"change","z":"dde2b67fbd135af5","name":"reset position","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1300,"wires":[[]]},{"id":"47f81ceca670c5f8","type":"comment","z":"dde2b67fbd135af5","name":"reset","info":"","x":80,"y":1240,"wires":[]},{"id":"4751ab1a5511ea5e","type":"pythonshell in","z":"dde2b67fbd135af5","name":"rätsel03.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel03.py","virtualenv":"","continuous":true,"stdInData":true,"x":1770,"y":620,"wires":[[]]},{"id":"fb276fa17f32cfaf","type":"link in","z":"dde2b67fbd135af5","name":"Intialisierung","links":["11d2fe5c8eb16e25","b535e314a62bc038"],"x":1130,"y":660,"wires":[["2d8a02a4df10220d"]],"l":true},{"id":"220e74b5b29ffb19","type":"change","z":"dde2b67fbd135af5","name":"Position speichern","rules":[{"t":"set","p":"payload","pt":"msg","to":"position","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":760,"wires":[["4751ab1a5511ea5e"]]},{"id":"e57eea68229d4392","type":"link out","z":"dde2b67fbd135af5","name":"Fehler anzeigen","mode":"link","links":["23825b7ea47aecd1"],"x":1720,"y":1180,"wires":[],"l":true},{"id":"23825b7ea47aecd1","type":"link in","z":"dde2b67fbd135af5","name":"Fehler","links":["e57eea68229d4392"],"x":1110,"y":620,"wires":[["4751ab1a5511ea5e"]],"l":true},{"id":"d324897085d4a22d","type":"link in","z":"dde2b67fbd135af5","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0","2e16259bd14befa9","9fd47a791457216c"],"x":210,"y":1300,"wires":[["67dce44f47cb6dde"]],"l":true},{"id":"289ae9274eefe569","type":"link in","z":"dde2b67fbd135af5","name":"stop","links":["cad92d079ab94330","790fac37d0c4accb","1f84fcc785cfcdcc","2e16259bd14befa9","9fd47a791457216c"],"x":1110,"y":560,"wires":[["6e03525fafae2a54"]],"l":true},{"id":"b334ed26837a75ed","type":"switch","z":"dde2b67fbd135af5","name":"Code schon gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":820,"wires":[["4dbebf28bcd8bb2b"]]},{"id":"1d2151b8af098f9f","type":"link out","z":"dde2b67fbd135af5","name":"starte Rätsel 4","mode":"link","links":["a69f49d974267fa6"],"x":2870,"y":900,"wires":[],"l":true},{"id":"02eac52dfc480026","type":"delay","z":"dde2b67fbd135af5","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2520,"y":900,"wires":[["b0b554be46c561fd"]]},{"id":"2d8a02a4df10220d","type":"change","z":"dde2b67fbd135af5","name":"Speichern das Skript aktiv ist","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":660,"wires":[["4751ab1a5511ea5e"]]},{"id":"6e03525fafae2a54","type":"switch","z":"dde2b67fbd135af5","name":"überhaupt an?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1260,"y":560,"wires":[["4751ab1a5511ea5e"]]},{"id":"b0b554be46c561fd","type":"change","z":"dde2b67fbd135af5","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2680,"y":900,"wires":[["1d2151b8af098f9f"]]},{"id":"e61cf6e20c5d2f92","type":"comment","z":"dde2b67fbd135af5","name":"Code wird auf Bildschirm angezeigt","info":"","x":1360,"y":480,"wires":[]},{"id":"9bd7aca5147d7e5b","type":"switch","z":"dde2b67fbd135af5","name":"Code gelöst?","property":"morse","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":160,"wires":[["29ddbf0bf8db57ed"],["bbc79e7cc1aeb672","5f5fea149404701b"]]},{"id":"66988e6c66f2fd93","type":"zigbee2mqtt-out","z":"dde2b67fbd135af5","name":"Orange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"#ff8800","payloadType":"str","transition":0,"x":980,"y":120,"wires":[]},{"id":"e8cf1974b8c99eea","type":"switch","z":"dde2b67fbd135af5","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":700,"wires":[["1c8a611be749e9aa"]]},{"id":"d93b922ef21c9baf","type":"link in","z":"dde2b67fbd135af5","name":"Zustand laden","links":["1ed8806043b58285"],"x":1130,"y":700,"wires":[["e8cf1974b8c99eea"]],"l":true},{"id":"1c8a611be749e9aa","type":"change","z":"dde2b67fbd135af5","name":"Reset Spiel","rules":[{"t":"set","p":"position","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":700,"wires":[["4751ab1a5511ea5e"]]},{"id":"517f284c72da1ef7","type":"change","z":"dde2b67fbd135af5","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1560,"wires":[[]]},{"id":"8ab434002ed907ee","type":"change","z":"dde2b67fbd135af5","name":"bei Start ungelöst","rules":[{"t":"set","p":"morse","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1520,"wires":[[]]},{"id":"cc6c9f5b3a6c6150","type":"comment","z":"dde2b67fbd135af5","name":"Initialisierung","info":"","x":90,"y":1460,"wires":[]},{"id":"7fa0589014d33877","type":"switch","z":"c4830f876071dcd4","name":"Aktion überprüfen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rotate_left","vt":"str"},{"t":"eq","v":"rotate_right","vt":"str"},{"t":"eq","v":"shake","vt":"str"},{"t":"eq","v":"flip90","vt":"str"},{"t":"eq","v":"fall","vt":"str"},{"t":"eq","v":"slide","vt":"str"},{"t":"eq","v":"flip180","vt":"str"},{"t":"eq","v":"tap","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":770,"y":200,"wires":[["1c2a0d154e54a04f"],["5c56021b6e290562"],["a3cfab0ea4026283"],["6588f0ba7ec46813"],["7f81ab76cf3ffbfa"],["54916fe552026dc7"],["681e051a9362d2e8","a71cdb340ccd089d","0ea8bb71db133572"],["681e051a9362d2e8","0ea8bb71db133572","a71cdb340ccd089d"]]},{"id":"a9b521d64519cc86","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"payload","commandType":"msg","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":40,"wires":[]},{"id":"1c2a0d154e54a04f","type":"function","z":"c4830f876071dcd4","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":20,"wires":[["a9b521d64519cc86"]]},{"id":"ad07c7be1a0fda68","type":"switch","z":"c4830f876071dcd4","name":"Escape Game aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":200,"wires":[["d4aab24180ba5f31"],[]]},{"id":"5c56021b6e290562","type":"function","z":"c4830f876071dcd4","name":"hue-15","func":"var hue = flow.get(\"hue\")\nif(hue>15){\n    hue-=15\n}else{\n    hue=360\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":60,"wires":[["a9b521d64519cc86"]]},{"id":"4057f1f1b07e5f84","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":570,"y":660,"wires":[]},{"id":"a51d4795596689bf","type":"function","z":"c4830f876071dcd4","name":"Unteres Rotspektrum","func":"\nmsg.payload={\n    \"h\": 20,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":640,"wires":[["4057f1f1b07e5f84"]]},{"id":"3fe180da0475cec4","type":"function","z":"c4830f876071dcd4","name":"Oberes Rotspektrum","func":"\nmsg.payload={\n    \"h\": 350,\n    \"s\":100,\n    \"v\":1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["4057f1f1b07e5f84"]]},{"id":"b9aa15d99286a6f2","type":"inject","z":"c4830f876071dcd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":640,"wires":[["a51d4795596689bf"]]},{"id":"2ec95df2102c51c1","type":"inject","z":"c4830f876071dcd4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":680,"wires":[["3fe180da0475cec4"]]},{"id":"681e051a9362d2e8","type":"switch","z":"c4830f876071dcd4","name":"Hue gefunden?","property":"hue","propertyType":"flow","rules":[{"t":"btwn","v":"21","vt":"num","v2":"339","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":440,"wires":[["db2f3d6dbf575d73"],["88447c4fee083434","802a64900b4c3850","a633f3a468538460"]],"outputLabels":["nicht gefunden",""]},{"id":"578efbf8d3d475d0","type":"comment","z":"c4830f876071dcd4","name":"rot","info":"","x":70,"y":580,"wires":[]},{"id":"5cf07fa9e3c72206","type":"comment","z":"c4830f876071dcd4","name":"drehknopf rotiert durch den hue","info":"","x":130,"y":80,"wires":[]},{"id":"38068ec86948c73e","type":"change","z":"c4830f876071dcd4","name":"reset hue","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"},{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":900,"wires":[[]]},{"id":"029be10830f3ed98","type":"comment","z":"c4830f876071dcd4","name":"reset","info":"","x":60,"y":840,"wires":[]},{"id":"88447c4fee083434","type":"change","z":"c4830f876071dcd4","name":"","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":680,"wires":[[]]},{"id":"ef866c3824d998be","type":"change","z":"c4830f876071dcd4","name":"bei türkis anfangen","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1080,"wires":[[]]},{"id":"d4aab24180ba5f31","type":"switch","z":"c4830f876071dcd4","name":"Hue gefunden?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":200,"wires":[["7fa0589014d33877"],["a3f72cd018f37fca"]]},{"id":"a3f72cd018f37fca","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampe rot","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"{\"h\":0, \"s\":100, \"v\":1}","payloadType":"json","transition":0,"x":740,"y":300,"wires":[]},{"id":"33bad39196b8d90b","type":"change","z":"c4830f876071dcd4","name":"hue ist bei start noch nicht gefunden","rules":[{"t":"set","p":"hue_gefunden","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1040,"wires":[[]]},{"id":"21eb50583d863a6e","type":"inject","z":"c4830f876071dcd4","name":"Initialisierung","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":100,"y":1060,"wires":[["33bad39196b8d90b","ef866c3824d998be","e4fb863a2a038133"]]},{"id":"7a6de047588b2386","type":"comment","z":"c4830f876071dcd4","name":"wurde die farbe einmal gefunden bleibt sie rot","info":"","x":470,"y":300,"wires":[]},{"id":"a0c04a0aba356ce7","type":"link in","z":"c4830f876071dcd4","name":"Reset Alles","links":["790fac37d0c4accb","c877ac8531d63ba0","2e16259bd14befa9","9fd47a791457216c"],"x":90,"y":900,"wires":[["38068ec86948c73e"]],"l":true},{"id":"b796b3117bf2aee8","type":"pythonshell in","z":"c4830f876071dcd4","name":"raetsel04.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel04.py","virtualenv":"","continuous":true,"stdInData":true,"x":1880,"y":560,"wires":[[]]},{"id":"db2f3d6dbf575d73","type":"change","z":"c4830f876071dcd4","name":"falsche Farbe","rules":[{"t":"set","p":"payload","pt":"msg","to":"fehler","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":520,"wires":[["b796b3117bf2aee8"]]},{"id":"802a64900b4c3850","type":"change","z":"c4830f876071dcd4","name":"Farbe gefunden","rules":[{"t":"set","p":"payload","pt":"msg","to":"korrekt","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":600,"wires":[["23da78bac8e6d638"]]},{"id":"a69f49d974267fa6","type":"link in","z":"c4830f876071dcd4","name":"init","links":["1d2151b8af098f9f"],"x":1400,"y":560,"wires":[["926c90d78260a284"]],"l":true},{"id":"0c7454a26f4af936","type":"link in","z":"c4830f876071dcd4","name":"stop","links":["790fac37d0c4accb","cad92d079ab94330","1f84fcc785cfcdcc","2e16259bd14befa9","9fd47a791457216c"],"x":1400,"y":640,"wires":[["5337535ede058437"]],"l":true},{"id":"926c90d78260a284","type":"change","z":"c4830f876071dcd4","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":560,"wires":[["b796b3117bf2aee8"]]},{"id":"23da78bac8e6d638","type":"change","z":"c4830f876071dcd4","name":"","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":600,"wires":[["b796b3117bf2aee8"]]},{"id":"5337535ede058437","type":"switch","z":"c4830f876071dcd4","name":"überhaupt aktiv?","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":640,"wires":[["b796b3117bf2aee8"]]},{"id":"bfc968abc5f0a225","type":"link in","z":"c4830f876071dcd4","name":"Zustand laden","links":["1ed8806043b58285"],"x":1420,"y":480,"wires":[["ab2c62267794335c"]],"l":true},{"id":"ab2c62267794335c","type":"switch","z":"c4830f876071dcd4","name":"War es vor Clear an? ","property":"aktiv","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":480,"wires":[["b796b3117bf2aee8"]]},{"id":"e4fb863a2a038133","type":"change","z":"c4830f876071dcd4","name":"bei Start inaktiv","rules":[{"t":"set","p":"aktiv","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1120,"wires":[[]]},{"id":"a633f3a468538460","type":"link out","z":"c4830f876071dcd4","name":"starte Rätsel 5","mode":"link","links":["7e2c4857f0cc3b86"],"x":1430,"y":720,"wires":[],"l":true},{"id":"6abea62004e7edb6","type":"zigbee2mqtt-in","z":"c4830f876071dcd4","name":"","server":"ff640e9cb65e4729","friendly_name":"cube","device_id":"0x00158d00029bce26","state":"action","outputAtStartup":true,"x":70,"y":200,"wires":[["ad07c7be1a0fda68"]]},{"id":"8f2942c0aa5f83eb","type":"comment","z":"c4830f876071dcd4","name":"Initialisierung","info":"","x":90,"y":1000,"wires":[]},{"id":"82b4e83019f0d391","type":"comment","z":"c4830f876071dcd4","name":"Spielstand auf dem Bildschirm anzeigen","info":"","x":1500,"y":440,"wires":[]},{"id":"a3cfab0ea4026283","type":"function","z":"c4830f876071dcd4","name":"zufällige Farbe","func":"let hue=Math.floor(Math.random()*360)\nmsg.payload=msg.payload={\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n}\nflow.set(\"hue\",hue)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":100,"wires":[["dd80f8dd7fad6715"]]},{"id":"dd80f8dd7fad6715","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":100,"wires":[]},{"id":"7f81ab76cf3ffbfa","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampe blinkt lange","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"alert","commandType":"z2m_cmd","payload":"lselect","payloadType":"z2m_payload","transition":0,"x":1270,"y":180,"wires":[]},{"id":"6588f0ba7ec46813","type":"change","z":"c4830f876071dcd4","name":"reset hue","rules":[{"t":"set","p":"hue","pt":"flow","to":"180","tot":"num"},{"t":"set","p":"payload","pt":"msg","to":"{     \"h\": 180,     \"s\":100,     \"v\":1 }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":160,"wires":[["d002cdc5a4d9fe47"]]},{"id":"d002cdc5a4d9fe47","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":140,"wires":[]},{"id":"54916fe552026dc7","type":"function","z":"c4830f876071dcd4","name":"hue+15","func":"var hue = flow.get(\"hue\")\nif(hue<345){\n    hue+=15\n}else{\n    hue=0\n}\nflow.set(\"hue\", hue)\nmsg.payload={\n    \"state\": \"ON\",\n    \"brightness\":255,\n    \"color\":{\n    \"h\": hue,\n    \"s\":100,\n    \"v\":1\n},\n\"transition\":0.5}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":220,"wires":[["eaf1cbd5170af87a"]]},{"id":"eaf1cbd5170af87a","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Lampenfarbe ändern","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color","commandType":"z2m_cmd","payload":"payload","payloadType":"msg","transition":0,"x":1280,"y":220,"wires":[]},{"id":"876193e7b7dfa7df","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"on","payloadType":"z2m_payload","transition":"0","x":1180,"y":400,"wires":[]},{"id":"0ea8bb71db133572","type":"delay","z":"c4830f876071dcd4","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1030,"y":400,"wires":[["876193e7b7dfa7df"]]},{"id":"a71cdb340ccd089d","type":"zigbee2mqtt-out","z":"c4830f876071dcd4","name":"Blinken","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"state","commandType":"z2m_cmd","payload":"off","payloadType":"z2m_payload","transition":"0","x":1180,"y":360,"wires":[]},{"id":"87378c2311d059e7","type":"zigbee2mqtt-in","z":"949a2e09f3bee9ad","name":"","server":"51d0b9cf.a79dd8","friendly_name":"bewegung","device_id":"0x00158d0003f0e480","state":"0","outputAtStartup":true,"x":190,"y":100,"wires":[["505f4c56640fc38d"]]},{"id":"07bd285f5bde0d45","type":"switch","z":"949a2e09f3bee9ad","name":"Bewegung erkannt?","property":"payload.occupancy","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":220,"wires":[["a948d47c90842ef6","97295222c3ed12e7","0425849a6f5dc4ff"]]},{"id":"505f4c56640fc38d","type":"switch","z":"949a2e09f3bee9ad","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":100,"wires":[["6aefd1d22339342a"]]},{"id":"30e5b992da34be0c","type":"Barcode Generator","z":"949a2e09f3bee9ad","name":"qrcode generieren","data":"payload","dataType":"msg","barcode":"qrcode","barcodeType":"barcode","options":"","optionsType":"ui","sendProperty":"payload","props":[{"p":"rotate","v":"N","vt":"str"},{"p":"includetext","v":"false","vt":"bool"}],"x":790,"y":540,"wires":[["4c488e879c458adb"]]},{"id":"39d2365277c922ff","type":"jimp-image","z":"949a2e09f3bee9ad","name":"skalieren","data":"payload","dataType":"msg","ret":"img","parameter1":"135","parameter1Type":"num","parameter2":"135","parameter2Type":"num","parameter3":"Top Left","parameter3Type":"alignMode","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":4,"jimpFunction":"contain","selectedJimpFunction":{"name":"contain","fn":"contain","description":"scale the image to the given width and height, some parts of the image may be letter boxed","parameters":[{"name":"w","type":"num","required":true,"hint":"the width to resize the image to"},{"name":"h","type":"num","required":true,"hint":"the height to resize the image to"},{"name":"alignBits","type":"alignMode","required":false,"hint":"A bitmask for horizontal and vertical alignment. Jimp.HORIZONTAL_ALIGN_LEFT | Jimp.HORIZONTAL_ALIGN_CENTER | Jimp.HORIZONTAL_ALIGN_RIGHT | Jimp.VERTICAL_ALIGN_TOP | Jimp.VERTICAL_ALIGN_MIDDLE | Jimp.VERTICAL_ALIGN_BOTTOM;"},{"name":"mode","type":"resizeMode","required":false,"hint":"A scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1280,"y":540,"wires":[["20276cb2f016b8a3"]]},{"id":"20276cb2f016b8a3","type":"jimp-image","z":"949a2e09f3bee9ad","name":"speichern","data":"payload","dataType":"msg","ret":"img","parameter1":"/home/pi/escape-game/e-Paper/pic/qrcode.png","parameter1Type":"str","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":1420,"y":540,"wires":[[]]},{"id":"4c488e879c458adb","type":"jimp-image","z":"949a2e09f3bee9ad","name":"hintergrund","data":"payload","dataType":"msg","ret":"img","parameter1":"4294967295","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"background","selectedJimpFunction":{"name":"background","fn":"background","description":"set the default new pixel colour (e.g. 0xFFFFFFFF or 0x00000000) useful for by some operations e.g. contain or rotate","parameters":[{"name":"hex","type":"num","required":true,"hint":"hexadecimal rgba value (must be entered as a decimal e.g. 0xFFFFFFFF = 4294967295)","defaultValue":"4294967295"}]},"x":970,"y":540,"wires":[["6fbf9f98b9659833"]]},{"id":"6fbf9f98b9659833","type":"jimp-image","z":"949a2e09f3bee9ad","name":"schärfen","data":"payload","dataType":"msg","ret":"img","parameter1":"1.0","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"convolute_strongsharpen","selectedJimpFunction":{"name":"strong sharpen*","fn":"convolute_strongsharpen","description":"sharpen image (*uses convolute([[-1, -1, -1], [-1, 9, -1], [-1, -1, -1]])","parameters":[]},"x":1140,"y":540,"wires":[["39d2365277c922ff"]]},{"id":"56612dd35f009896","type":"comment","z":"949a2e09f3bee9ad","name":"QR-Code generieren","info":"","x":170,"y":460,"wires":[]},{"id":"7644bc2762b7d0fd","type":"exec","z":"949a2e09f3bee9ad","command":"/bin/python3 /home/pi/escape-game/e-Paper/src/qrcode.py","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"qrcode.py","x":1100,"y":180,"wires":[[],[],[]]},{"id":"afb7d7530fa8f9ba","type":"delay","z":"949a2e09f3bee9ad","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":930,"y":180,"wires":[["7644bc2762b7d0fd"]]},{"id":"2338444f8946b367","type":"exec","z":"949a2e09f3bee9ad","command":"hostname -I","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":410,"y":540,"wires":[["6cebe2cb6fa2435a"],[],[]]},{"id":"6cebe2cb6fa2435a","type":"function","z":"949a2e09f3bee9ad","name":"IP extrahieren","func":"//msg.payload=msg.payload.slice(0,13)\nmsg.payload=\"http://\"+(msg.payload.split(\" \"))[0]+\":8082\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":520,"wires":[["30e5b992da34be0c"]]},{"id":"7e2c4857f0cc3b86","type":"link in","z":"949a2e09f3bee9ad","name":"Rätsel 4 gelöst","links":["a633f3a468538460"],"x":210,"y":540,"wires":[["2338444f8946b367","f2764c1a13f43131"]],"l":true},{"id":"a948d47c90842ef6","type":"zigbee2mqtt-out","z":"949a2e09f3bee9ad","name":"Grün","server":"51d0b9cf.a79dd8","friendly_name":"spot","device_id":"0x0017880109b4a36b","command":"color_hex","commandType":"z2m_cmd","payload":"00ff00","payloadType":"str","transition":"1","x":720,"y":240,"wires":[]},{"id":"63464c418a562bdd","type":"pythonshell in","z":"949a2e09f3bee9ad","name":"rätsel05.py","pyfile":"/home/pi/escape-game/e-Paper/src/raetsel05.py","virtualenv":"","continuous":false,"stdInData":false,"x":670,"y":680,"wires":[[]]},{"id":"f2764c1a13f43131","type":"delay","z":"949a2e09f3bee9ad","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":600,"wires":[["63464c418a562bdd"]]},{"id":"97295222c3ed12e7","type":"change","z":"949a2e09f3bee9ad","name":"Spiel ist beendet","rules":[{"t":"set","p":"game","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[[]]},{"id":"0425849a6f5dc4ff","type":"pythonshell in","z":"949a2e09f3bee9ad","name":"gratulation.py","pyfile":"/home/pi/escape-game/e-Paper/src/gratulation.py","virtualenv":"","continuous":false,"stdInData":false,"x":740,"y":180,"wires":[["afb7d7530fa8f9ba"]]},{"id":"6aefd1d22339342a","type":"switch","z":"949a2e09f3bee9ad","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":160,"wires":[["07bd285f5bde0d45"]]},{"id":"148eaaa1c7137e92","type":"switch","z":"949a2e09f3bee9ad","name":"spiel aktiv?","property":"game","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":720,"wires":[["19a9e1d44321f9fb"]]},{"id":"19a9e1d44321f9fb","type":"switch","z":"949a2e09f3bee9ad","name":"rätsel 4 gelöst?","property":"hue_gefunden","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":720,"wires":[["63464c418a562bdd"]]},{"id":"bf8d031918773eb3","type":"link in","z":"949a2e09f3bee9ad","name":"Zustand laden","links":["1ed8806043b58285"],"x":210,"y":660,"wires":[["148eaaa1c7137e92"]],"l":true},{"id":"b9d09f5729e67602","type":"inject","z":"949a2e09f3bee9ad","name":"Erneut generieren","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":500,"wires":[["2338444f8946b367"]]}]